@import '../../styles/common.less';
@import '../../styles/mixins/combobox.less';
@import '../../styles/mixins/listbox.less';
@import '../../CascadeTree/styles/index.less';

// Cascader
// ----------------------

// Search panel
.rs-picker-cascader-search-panel {
  max-height: @cascader-search-panel-max-height;
  overflow: auto;
}

.rs-picker-cascader-row {
  .listbox-option();

  &:hover {
    .listbox-option-active();
  }

  &&-focus {
    .listbox-option-active();
  }

  &:disabled,
  &&-disabled {
    .listbox-options-disabled();

    .rs-picker-cascader-search-match {
      opacity: 0.7;
      font-weight: normal;
    }
  }
}

.rs-picker-cascader-col {
  display: inline-block;

  &::after {
    content: '\00a0/\00a0'; //content:' / '
  }

  &:last-child::after {
    display: none;
  }
}

.rs-picker-cascader-search-match {
  color: var(--rs-primary-500);
  font-weight: bold;
}
