.show-grid {
  [class*='rs-col-'] {
    padding: 10px 5px;
    color: var(--rs-btn-primary-text);
    background-color: var(--rs-primary-500);
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
    [class*='rs-col-'] {
      background-color: var(--rs-primary-700);

      [class*='rs-col-'] {
        background-color: var(--rs-primary-900);

        &:nth-child(even) {
          opacity: 0.9;
        }
      }
    }

    [class*='rs-col-']:nth-child(2n) {
      opacity: 0.9;
    }
  }

  [class*='rs-col-']:nth-child(2n) {
    opacity: 0.8;
  }
}
