.inner-active-shadow(@shadow-color) {
  box-shadow: 0 0 0 2px fadeOut(@shadow-color, 60%);
}

#palettePreview {
  @ns: rs;
  @H500: @palette-color;
  @H600: palette(@H500, 600);
  @H700: palette(@H500, 700);
  @H800: palette(@H500, 800);
  @H900: palette(@H500, 900);
  @theme-default: boolean(@theme-is-default);
  @link-color: if(@theme-default, @H700, @H500);
  @link-hover-color: if(@theme-default, @H800, @H600);
  @link-active-color: if(@theme-default, @H900, @H700);
  @btn-primary-bg: if(@theme-default, @H500, @H700);
  @btn-primary-hover-bg: if(@theme-default, @H600, @H600);
  @btn-primary-active-bg: if(@theme-default, @H700, @H500);
  @readable-color: contrast(@H500, #575757);

  .repaint-input(@name) {
    &-@{name}-wrapper::before {
      border-color: @H500;
    }
    &-@{name} label:hover .rs-@{name}-inner::before {
      border-color: @H500;
    }
    &-@{name}-checked .rs-@{name}-wrapper .rs-@{name}-inner::before {
      border-color: @H500;
      background-color: @H500;
      box-shadow: 0 0 0 2px fade(@H500, 40%);
    }
    &-@{name}:hover .rs-@{name}-wrapper:focus .rs-@{name}-inner::before {
      .inner-active-shadow(@H500);
    }
  }

  .rs {
    //#== Button
    &-btn-primary {
      background-color: @btn-primary-bg;
      color: @readable-color;

      &:hover,
      &:focus {
        background-color: @btn-primary-hover-bg;
      }
      &:active {
        background-color: @btn-primary-active-bg;
      }
    }
    &-btn-link {
      color: @link-color;
      &:hover,
      &:focus {
        color: @link-hover-color;
      }
      &:active {
        color: @link-active-color;
      }
    }
    &-nav-item-active a {
      color: @H500;
    }
    &-input:focus,
    &-input:hover {
      border-color: @H500;
    }
    &-btn-ghost {
      color: @link-color;
      border-color: @link-color;
      &:hover,
      &:focus {
        color: @link-hover-color;
        border-color: @link-hover-color;
      }
      &:active {
        color: @link-active-color;
        border-color: @link-active-color;
      }
    }
    //#== Checkbox
    .repaint-input(checkbox);
    //#== Radio
    .repaint-input(radio);
    //#== Toggle
    &-btn-toggle.rs-btn-toggle-checked {
      background-color: @H500;
    }
    //#== Slider
    &-slider-progress-bar {
      background-color: @H500;
    }
    &-slider-handle::before {
      border-color: @H500;
    }
  }
}
