#palettePreview {
  @H050: palette(@H500, 50);
  @H100: palette(@H500, 100);
  @H200: palette(@H500, 200);
  @H300: palette(@H500, 300);
  @H400: palette(@H500, 400);
  @H500: @palette-color;
  @H600: palette(@H500, 600);
  @H700: palette(@H500, 700);
  @H800: palette(@H500, 800);
  @H900: palette(@H500, 900);

  @theme-default: boolean(@theme-is-default);

  // Highlight levels
  --rs-primary-50: @H050;
  --rs-primary-100: @H100;
  --rs-primary-200: @H200;
  --rs-primary-300: @H300;
  --rs-primary-400: @H400;
  --rs-primary-500: @H500;
  --rs-primary-600: @H600;
  --rs-primary-700: @H700;
  --rs-primary-800: @H800;
  --rs-primary-900: @H900;

  // Background
  --rs-bg-active: var(--rs-primary-500);

  // Focus ring
  --rs-state-focus-shadow: 0 0 0 3px fade(@H500, 25%);

  // Button
  --rs-btn-primary-text: contrast(@H500, #575757);
  --rs-btn-primary-bg: if(@theme-default, @H500, @H700);
  --rs-btn-primary-hover-bg: @H600;
  --rs-btn-primary-active-bg: if(@theme-default, @H700, @H500);
  --rs-btn-ghost-border: @H700;
  --rs-btn-ghost-text: @H700;
  --rs-btn-ghost-hover-border: @H800;
  --rs-btn-ghost-hover-text: @H800;
  --rs-btn-ghost-active-border: @H900;
  --rs-btn-ghost-active-text: @H900;
  --rs-btn-link-text: if(@theme-default, @H700, @H500);
  --rs-btn-link-hover-text: if(@theme-default, @H800, @H600);
  --rs-btn-link-active-text: if(@theme-default, @H900, @H700);

  // Input
  --rs-input-focus-border: var(--rs-primary-500);
  --rs-color-focus-ring: rgb(from var(--rs-primary-500) r g b / 25%);

  // Checkbox
  --rs-checkbox-checked-bg: @H500;

  // Radio
  --rs-radio-checked-bg: @H500;

  // Toggle
  --rs-toggle-checked-bg: @H500;
  --rs-toggle-checked-hover-bg: @H600;
  --rs-toggle-checked-disabled-bg: @H100;

  // Slider
  --rs-slider-thumb-border: @H500;
  --rs-slider-thumb-hover-shadow: 0 0 0 8px fade(@H500, 25);
  --rs-slider-progress: @H500;

  // Sidenav
  --rs-sidenav-subtle-selected-text: var(--rs-primary-700);

  // Steps
  --rs-steps-state-process: var(--rs-primary-500);

  // RadioTile
  --rs-radio-tile-checked-color: var(--rs-primary-500);

  // Menu
  --rs-menuitem-active-bg: rgb(from var(--rs-primary-100) r g b / 50%);
}
