@import '../../styles/common';
@import 'mixin';

//
// Time lines
// --------------------------------------------------

.@{ns}timeline {
  list-style: none;
  padding: 0;
  margin-bottom: 0;

  &-item {
    position: relative;
  }

  &-item:not(:last-child) &-item-content {
    padding-bottom: @time-line-item-content-padding-bottom;
  }

  &-item-dot {
    position: absolute;
    top: @time-line-dot-center-gap;

    &::before {
      content: '';
      display: block;
      width: @time-line-dot-side-length;
      height: @time-line-dot-side-length;
      background-color: @time-line-dot-default-background-color;
      border-radius: 50%;
    }
  }

  &-item-custom-dot {
    text-align: center;

    &::before {
      display: none;
    }
  }

  &-item-last &-item-dot::before {
    background-color: @time-line-last-dot-default-background-color;
  }

  &-item-tail {
    position: absolute;
    top: 0;
    bottom: 0;
    width: @time-line-tail-width;
    background-color: @time-line-tail-default-background-color;
  }

  // The first tail need reserved a space.
  &-item:first-child &-item-tail {
    top: @time-line-dot-center-gap;
  }

  // Last item tail need set height.
  &-item:last-child &-item-tail {
    bottom: auto;
    height: @time-line-dot-center-gap+ @time-line-dot-side-length;
  }

  // Item time
  &-item-time {
    position: absolute;
    right: ~'calc(100% + @{time-line-item-content-margin-left})';
    white-space: nowrap;
  }

  &-mode-left &-item {
    padding-left: @time-line-item-padding-left;
  }

  // Mode left
  .time-line-mode(left);

  // Mode right
  .time-line-mode(right);

  &-mode-right &-item-content {
    text-align: right;
  }

  &-mode-alternate &-item-dot {
    left: 50%;
  }

  // Mode alternate
  &-mode-alternate &-item-tail {
    @item-tail-width: (@time-line-dot-side-length - @time-line-tail-width)/2;

    left: ~'calc(50% + @{item-tail-width})';
  }

  &-mode-alternate &-item:nth-child(2n + 1) &-item-content {
    text-align: right;
    width: ~'calc(50% - 4px)';
  }

  &-mode-alternate &-item:nth-child(2n) {
    text-align: right;
  }

  &-mode-alternate &-item:nth-child(2n) &-item-content {
    @offset-width: @time-line-dot-side-length+ (@time-line-dot-side-length - @time-line-tail-width)/2;

    display: inline-block;
    text-align: left;
    width: ~'calc(50% - @{offset-width})';
  }
}
