.calendar-todo-list {
  text-align: left;
  padding: 0;
  list-style: none;

  li {
    .ellipsis-basic;
  }

  .calendar-todo-item-badge {
    vertical-align: top;
    margin-top: 8px;
    width: 6px;
    height: 6px;
  }
}
