@import '../../styles/common.less';
@import '../../Button/styles/index.less';
@import '../../Divider/styles/index.less';
@import '../../SelectPicker/styles/index.less';
@import './pagination-group.less';
@import './mixin.less';

//
// Pagination (multiple pages)
// --------------------------------------------------
.rs-pagination {
  display: inline-block;
  padding-inline-start: 0;
  margin-bottom: 0;
  // Pagination Sizes
  // --------------------------------------------------

  &-lg {
    .rs-pagination-btn {
      min-width: 42px;

      .rs-pagination-symbol {
        height: var(--rs-line-height-plus);
      }

      &-active {
        .pagination-active-size(var(--rs-spacing-block-lg), var(--rs-spacing-inline-lg));
      }
    }
  }

  &-md {
    .rs-pagination-btn {
      min-width: 36px;

      &-active {
        .pagination-active-size();
      }
    }
  }

  &-sm {
    .rs-pagination-btn {
      min-width: 30px;

      &-active {
        .pagination-active-size(var(--rs-spacing-block-sm), var(--rs-spacing-inline-sm));
      }
    }
  }

  &-xs {
    .rs-pagination-btn {
      min-width: 24px;

      &-active {
        .pagination-active-size(var(--rs-spacing-block-xs), var(--rs-spacing-inline-xs));
      }
    }
  }
}

.rs-pagination-btn {
  .rs-btn();
  .rs-btn-subtle();
  .button-size-sm();

  margin: 0 2px;
  position: relative;
  float: inline-start; // Collapse white-space
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;

  .rs-pagination-symbol {
    display: flex;
    align-items: center;
    height: var(--rs-line-height-base);

    [dir='rtl'] & {
      transform: rotate(180deg);
    }
  }

  .high-contrast-mode({
    transition: none;
    color: var(--rs-pagination-item-text);

    &:hover,
    &:focus-visible {
      color: var(--rs-pagination-item-current-text);
      text-decoration: underline;
    }
  });

  &&-active {
    .pagination-active();
  }
}
