@import '../../styles/common';
@import '../../Button/styles/mixin';

//
// IconButton
// --------------------------------------------------
.rs-btn-icon {
  > .rs-icon {
    vertical-align: bottom;
  }
}

// Icon Button with text
.btn-icon-with-text(@bg) {
  > .rs-icon {
    background-color: @bg;
  }
}

// Only support default/primary button
.rs-btn-icon-with-text {
  > .rs-icon {
    position: absolute;
    top: 0;
    display: block;
    background-color: var(--rs-color-iconbtn-addon);
    transition: @btn-transition;
  }

  .button-activated({
    .btn-icon-with-text(var(--rs-color-iconbtn-activated-addon));
  });

  .button-pressed({
    .btn-icon-with-text(var(--rs-color-iconbtn-pressed-addon));
  });
}

.rs-btn-icon-with-text.rs-btn-primary {
  .btn-icon-with-text(var(--rs-color-iconbtn-primary-addon));

  .button-activated({
    .btn-icon-with-text(var(--rs-color-iconbtn-primary-activated-addon));
  });

  .button-pressed({
    .btn-icon-with-text(var(--rs-color-iconbtn-primary-pressed-addon));
  });
}

// Circle Button
.rs-btn-icon-circle {
  border-radius: 50% !important;
}
