{
  "presets": [
    [
      "env",
      {
        "loose": true
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    "lodash",
    "transform-proto-to-assign",
    "flow-react-proptypes",
    "transform-react-flow-handled-props",
    "transform-class-properties",
    "transform-dev"
  ],
  "env": {
    "coverage": {
      "plugins": [
        [
          "istanbul",
          {
            "exclude": [
              "src/utils/deprecationWarning.js",
              "src/utils/lowPriorityWarning.js",
              "src/utils/ajaxUpload.js"
            ]
          }
        ]
      ]
    }
  }
}
