{
  "presets": [
    "env",
    "react",
    "stage-0"
  ],
  "plugins": [
    "flow-react-proptypes",
    "transform-react-flow-handled-props",
    "lodash",
    "transform-class-properties",
    "transform-dev"
  ],
  "env": {
    "coverage": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
