{
  "presets": [
    "stage-0",
    "es2015",
    "react",
    "flow"
  ],
  "plugins": [
    "transform-class-properties",
    "flow-react-proptypes"
  ],
  "env": {
    "coverage": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
