@import '../../styles/common';

.rs-stack {
  --rs-stack-spacing: calc(var(--rs-spacing) * 1.5);
  --rs-stack-wrap: nowrap;
  --rs-stack-direction: row;
  --rs-stack-align: center;
  --rs-stack-justify: flex-start;

  display: flex;
  gap: var(--rs-stack-spacing);
  flex-wrap: var(--rs-stack-wrap);
  flex-direction: var(--rs-stack-direction);
  align-items: var(--rs-stack-align);
  justify-content: var(--rs-stack-justify);

  &-column {
    flex-direction: column;
  }

  &-row {
    flex-direction: row;
  }

  &-column-reverse {
    flex-direction: column-reverse;
  }

  &-row-reverse {
    flex-direction: row-reverse;
  }

  .responsive-direction(xs);

  // Small grid
  //
  // Columns, offsets, pushes, and pulls for the small device range, from phones
  // to tablets / phones.

  @media (min-width: @screen-sm) {
    .responsive-direction(sm);
  }

  @media (min-width: @screen-md) {
    .responsive-direction(md);
  }

  @media (min-width: @screen-lg) {
    .responsive-direction(lg);
  }

  @media (min-width: @screen-xl) {
    .responsive-direction(xl);
  }

  @media (min-width: @screen-xxl) {
    .responsive-direction(xxl);
  }
}

.rs-stack-item {
  align-self: var(--rs-stack-item-align-self);
  order: var(--rs-stack-item-order);
  flex: var(--rs-stack-item-flex);
  flex-grow: var(--rs-stack-item-grow);
  flex-shrink: var(--rs-stack-item-shrink);
  flex-basis: var(--rs-stack-item-flex-basis);
}

.responsive-direction(@size) {
  &-@{size}-column {
    flex-direction: column;
  }
  &-@{size}-row {
    flex-direction: row;
  }
  &-@{size}-column-reverse {
    flex-direction: column-reverse;
  }
  &-@{size}-row-reverse {
    flex-direction: row-reverse;
  }
}
