@import '../../styles/common';

.rs-stack {
  --rs-stack-spacing: calc(var(--rs-spacing) * 1.5);
  --rs-stack-wrap: nowrap;
  --rs-stack-direction: row;
  --rs-stack-align: center;
  --rs-stack-justify: flex-start;

  display: flex;
  gap: var(--rs-stack-spacing);
  flex-wrap: var(--rs-stack-wrap);
  flex-direction: var(--rs-stack-direction);
  align-items: var(--rs-stack-align);
  justify-content: var(--rs-stack-justify);
}

.rs-stack-item {
  align-self: var(--rs-stack-item-align-self);
  order: var(--rs-stack-item-order);
  flex: var(--rs-stack-item-flex);
  flex-grow: var(--rs-stack-item-grow);
  flex-shrink: var(--rs-stack-item-shrink);
  flex-basis: var(--rs-stack-item-flex-basis);
}
