@import '../../styles/common';

.rs-divider {
  --rs-divider-margin-inline: calc(var(--rs-spacing) * 3);
  --rs-divider-margin-block: calc(var(--rs-spacing) * 6);
  --rs-divider-margin-block-with-text: calc(var(--rs-spacing) * 3);
  --rs-divider-text-spacing: calc(var(--rs-spacing) * 3);

  background-color: var(--rs-divider-border);

  &-vertical {
    display: inline-block;
    min-height: 1em;
    height: 100%;
    width: 1px;
    vertical-align: middle;
    margin-inline: var(--rs-divider-margin-inline);
  }

  &-horizontal {
    height: 1px;
    width: 100%;
    margin-block: var(--rs-divider-margin-block);
  }

  &-horizontal&-with-text {
    --rs-divider-margin-block: calc(var(--rs-spacing) * 7.5);

    display: flex;
    flex-direction: row;
    align-items: center;
    background: transparent;

    &::before,
    &::after {
      content: '';
      flex: 1 1 auto;
      border-top: 1px solid var(--rs-divider-border);
    }
  }

  &-inner-text {
    padding-inline: var(--rs-divider-text-spacing);
    flex: 0 0 auto;
  }
}
