@import '../../scss/variables';
@import '../../scss/mixins/hacks';
@import '../../scss/mixins/color-modes';

// Draw a triangle towards given direction
// @mixin tooltip-arrow($direction, $size, $color)
//
// $direction: top | right | bottom | left
// $size:      Size (height) of the triangle
// $color:     Filling color of the triangle

@mixin tooltip-arrow-top($size, $color) {
  top: -$size;
  margin-left: -$size;
  border-width: 0 $size $size;
  border-bottom-color: $color;
}

@mixin tooltip-arrow-bottom($size, $color) {
  bottom: -$size;
  margin-left: -$size;
  border-width: $size $size 0;
  border-top-color: $color;
}

/* rtl:begin:ignore */
@mixin tooltip-arrow-right($size, $color) {
  right: -$size;
  margin-top: -$size;
  border-width: $size 0 $size $size;
  border-left-color: $color;
}

@mixin tooltip-arrow-left($size, $color) {
  left: -$size;
  margin-top: -$size;
  border-width: $size $size $size 0;
  border-right-color: $color;
}
/* rtl:end:ignore */

// Append tooltip's arrow to tooltip
// $direction: The arrow's pointing direction. It's usually opposite of tooltip's placement
//             e.g. tooltip[placement="top"] has an arrow[direction="bottom"]
// $size:      The arrow's size (height)
// $bg:        The arrow's background color, usually equal to tooltip's background
// $border:    The arrow's border color, usually equal to tooltip's border (which only take effect
//             in high-contrast theme)
@mixin with-tooltip-arrow($direction, $size: $tooltip-arrow-width, $bg: var(--rs-tooltip-bg), $border: var(--rs-tooltip-border)) {
  &::after {
    @if $direction == top {
      @include tooltip-arrow-top($size, $bg);
    } @else if $direction == bottom {
      @include tooltip-arrow-bottom($size, $bg);
    } @else if $direction == right {
      @include tooltip-arrow-right($size, $bg);
    } @else if $direction == left {
      @include tooltip-arrow-left($size, $bg);
    }
  }

  @include high-contrast-mode {
    &::before {
      @if $direction == top {
        @include tooltip-arrow-top($size + 1px, $border);
      } @else if $direction == bottom {
        @include tooltip-arrow-bottom($size + 1px, $border);
      } @else if $direction == right {
        @include tooltip-arrow-right($size + 1px, $border);
      } @else if $direction == left {
        @include tooltip-arrow-left($size + 1px, $border);
      }
    }
  }
}
