@import '../../styles/common';
@import '../../internals/Picker/styles/index';
@import '../../TreePicker/styles/mixin';
@import '../../Checkbox/styles/index';

// **Check Tree Picker
// **----------------------

.rs-check-tree {
  max-height: 360px;
  height: 100%;
  overflow-y: auto;
  flex: 1 1 auto;

  &.rs-check-tree-virtualized {
    overflow: hidden;
  }

  .rs-check-tree-node-label {
    .rs-check-item .rs-checkbox-checker {
      > label {
        text-align: left;
        position: relative;
        margin: 0;
        padding: 1px 0 1px 42px;
      }

      .rs-checkbox-wrapper {
        left: (@checkbox-sense-width + 10px);
      }

      .rs-check-tree-node-label-content {
        padding: 6px 8px;
        width: auto;
      }
    }

    &:focus-visible {
      .rs-check-tree-node-label-content {
        .focus-ring();
      }
    }
  }
}

// Only has the first level
.rs-check-tree-without-children .rs-check-item .rs-checkbox-checker {
  > label {
    padding-left: 32px; //text gap + checkbox space

    &::before {
      width: 28px;
      margin-left: -34px;
    }
  }

  .rs-checkbox-wrapper {
    left: 0;
  }
}

.rs-check-tree-node {
  position: relative;
  font-size: @picker-tree-node-font-size;
  line-height: @picker-tree-node-line-height;

  .rs-check-item {
    display: inline-block;

    &:hover,
    &:focus,
    &-focus {
      background-color: transparent !important;

      .rs-check-tree-node-label-content {
        background-color: var(--rs-listbox-option-hover-bg);
        color: var(--rs-listbox-option-hover-text);
        border-radius: 6px;
      }
    }

    .rs-picker-popup & {
      display: block;
    }
  }

  &:focus .rs-check-item .rs-checkbox-checker > label {
    .picker-item-hover();
  }

  .rs-check-item.rs-checkbox-checked .rs-checkbox-checker > label {
    .picker-item-active();
  }

  // Uncheckable state
  &-all-uncheckable .rs-check-item .rs-checkbox-checker > label {
    padding-left: 22px; // 10px + 12px

    &::before {
      width: 14px;
      margin-left: 0;
      left: 0;
    }
  }
}

// expand icon
.rs-check-tree-node-expand-icon-wrapper {
  display: inline-block;
  position: absolute;
  cursor: pointer;
  z-index: 1;

  > .rs-check-tree-node-expand-icon {
    display: inline-block;
    padding: @picker-tree-node-padding-vertical 0;
    padding-right: @picker-tree-arrow-down-gap;
    height: 36px;
    font-size: 16px;
    line-height: @picker-tree-node-line-height;
    transform: rotate(-90deg) /* rtl: rotate(90deg) translateX(-13px) translateY(-15px) */;
    transform-origin: 1.5px 14px;
    margin-top: 6px;
    user-select: none;

    // expand children tree
    .rs-check-tree-open > .rs-check-tree-node & {
      transform: rotate(0deg);
      margin-left: 0;
      margin-top: 0;
    }
  }

  > .rs-check-tree-node-expanded {
    transform: rotate(0deg);
    margin-left: 0;
    margin-top: 0;
  }

  > .rs-check-tree-node-custom-icon,
  > .rs-check-tree-node-loading-icon {
    .node-item-prepend-icon();
  }
}

// node children
.rs-check-tree-node-children {
  > .rs-check-tree-group {
    position: relative;
    display: none;

    .rs-check-tree-open& {
      display: block;
    }
  }
}

.rs-check-tree-indent-line {
  height: 100%;
  width: 1px;
  position: absolute;
  top: 0;
  margin-left: -13px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.rs-picker-popup {
  display: flex;
  flex-direction: column;

  &.rs-check-tree-menu {
    padding-top: @picker-menu-padding;
  }
}

.rs-check-tree {
  padding-right: @picker-menu-padding;

  &-node > .rs-check-tree-node-label .rs-check-tree-node-label-content {
    .ellipsis();

    display: inline-block;
    vertical-align: top;
  }
}

/* rtl:begin:ignore */

[dir='rtl'] .rs-check-tree-node-expand-icon-wrapper {
  right: 0;
  padding-right: inherit;
}

/* rtl:end:ignore */
