.rs-color-picker {
  .rs-input-group .rs-input-group-addon {
    padding: 6px 8px;
  }
  .sketch-color-review {
    padding: 2px;
    background: rgb(255, 255, 255);
    border-radius: 1px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
    display: inline-block;
    cursor: pointer;
  }
  .sketch-color-value {
    width: 20px;
    height: 20px;
    border-radius: 2px;
  }
  .sketch-picker-overlay {
    position: absolute;
    z-index: 2;
  }
  .sketch-picker-backdrop {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
}
