@import '../../styles/common.less';
@import './variables.less';

.rs-badge-wrapper {
  position: relative;
}

.rs-badge {
  display: inline-flex;

  &-circle {
    --rs-badge-move: 30%;
  }

  &-independent,
  &-content {
    opacity: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--rs-badge-bg);
    color: var(--rs-badge-text);
    border-radius: 999px;
    font-size: var(--rs-font-size-xs);
    line-height: 1rem;
    padding-inline: 0.3125rem;
    transition: opacity 0.3s ease-in-out;
  }

  &-one-char .rs-badge-content,
  &-one-char&-independent {
    width: var(--rs-badge-one-char-size);
    height: var(--rs-badge-one-char-size);
  }

  &-content {
    box-sizing: border-box;
  }

  &-hidden &-content,
  &-hidden&-independent {
    opacity: 0;
  }

  &-compact &-content,
  &-compact&-independent {
    padding: 0;
  }

  &:empty,
  &-content:empty {
    box-sizing: content-box;
    width: var(--rs-badge-dot-size);
    height: var(--rs-badge-dot-size);
    border-radius: 50%;
    padding: 0;
  }

  &-wrapper &-content {
    position: absolute;
    z-index: @zindex-badge-content;
  }

  &-outline &-content {
    border: 2px solid var(--rs-badge-border);
  }

  &-top {
    &-start .rs-badge-content {
      transform: var(--rs-badge-transform-top-start);
      top: var(--rs-badge-offset-y);
      inset-inline-start: var(--rs-badge-offset-x);
    }

    &-end .rs-badge-content {
      transform: var(--rs-badge-transform-top-end);
      top: var(--rs-badge-offset-y);
      inset-inline-end: var(--rs-badge-offset-x);
    }
  }

  &-bottom {
    &-start .rs-badge-content {
      transform: var(--rs-badge-transform-bottom-start);
      bottom: var(--rs-badge-offset-y);
      inset-inline-start: var(--rs-badge-offset-x);
    }

    &-end .rs-badge-content {
      transform: var(--rs-badge-transform-bottom-end);
      bottom: var(--rs-badge-offset-y);
      inset-inline-end: var(--rs-badge-offset-x);
    }
  }
}

each(@spectrum, .(@color) {
  .rs-badge-@{color} {
    --rs-badge-bg: var(~'--rs-@{color}-500');
  }
});
