@import '../../styles/common';

.rs-badge-wrapper {
  position: relative;
}

.rs-badge {
  --rs-badge-offset-x: 5%;
  --rs-badge-offset-y: 5%;
  --rs-badge-translate: 40%;
  --rs-badge-one-char-size: 20px;
  --rs-badge-dot-size: @badge-dot-size;

  display: inline-flex;

  &-circle {
    --rs-badge-translate: 30%;
  }

  &-independent,
  &-content {
    opacity: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--rs-badge-bg);
    color: var(--rs-badge-text);
    border-radius: 999px;
    font-size: var(--rs-font-size-xs);
    line-height: 1rem;
    padding-inline: 0.3125rem;
    transition: opacity 0.3s ease-in-out;
  }

  &-one-char .rs-badge-content {
    width: var(--rs-badge-one-char-size);
    height: var(--rs-badge-one-char-size);
  }

  &-content {
    box-sizing: border-box;
  }

  &-hidden &-content,
  &-hidden&-independent {
    opacity: 0;
  }

  &-compact &-content,
  &-compact&-independent {
    padding: 0;
  }

  &:empty,
  &-content:empty {
    box-sizing: content-box;
    width: var(--rs-badge-dot-size);
    height: var(--rs-badge-dot-size);
    border-radius: 50%;
    padding: 0;
  }

  &-wrapper &-content {
    position: absolute;
    z-index: @zindex-badge-content;
  }

  &-outline &-content {
    border: 2px solid var(--rs-badge-border);
  }

  &-top {
    &-start .rs-badge-content {
      transform: translate(
        calc(0px - var(--rs-badge-translate)),
        calc(0px - var(--rs-badge-translate))
      );
      top: var(--rs-badge-offset-y);
      left: var(--rs-badge-offset-x);
    }

    &-end .rs-badge-content {
      transform: translate(var(--rs-badge-translate), calc(0px - var(--rs-badge-translate)));
      top: var(--rs-badge-offset-y);
      right: var(--rs-badge-offset-x);
    }
  }

  &-bottom {
    &-start .rs-badge-content {
      transform: translate(calc(0px - var(--rs-badge-translate)), var(--rs-badge-translate));
      bottom: var(--rs-badge-offset-y);
      left: var(--rs-badge-offset-x);
    }

    &-end .rs-badge-content {
      transform: translate(var(--rs-badge-translate), var(--rs-badge-translate));
      bottom: var(--rs-badge-offset-y);
      right: var(--rs-badge-offset-x);
    }
  }
}

each(@spectrum, .(@color) {
  .rs-badge-@{color} {
    --rs-badge-bg: var(~'--rs-@{color}-500');
  }
});
