.icon-list-wrap .page-header-en {
  margin-left: 0;
}
.icon-search-input {
  margin: 20px 0 40px 0;
}

.icon-item-list {
  .icon-list-group-title {
    margin-bottom: 2rem;
  }
  .icon-item {
    display: inline-block;
    width: 33.33%;
    vertical-align: top;
    margin-bottom: 1rem;
    padding: 10px;
    cursor: pointer;
    opacity: 0.8;
    position: relative;

    @media (min-width: @media-xs) {
      width: 120px;
    }

    &.new-icon:hover .icon-wrapper::before {
      display: none;
    }

    &.new-icon .icon-wrapper::before {
      position: absolute;
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: @error-color;
      top: 12px;
      right: 12px;
    }
    .icon-wrapper {
      height: 50px;
      text-align: center;
    }
    .icon-svg {
      display: block;
      width: 100%;
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-size: 36px;
    }
    &:hover {
      background: @H500;
      color: #fff;
      border-radius: 4px;
      opacity: 1;
    }
    &:hover .icon-label {
      color: @H050;
    }
  }
  .icon-label {
    font-size: 0.8rem;
    color: #adb5bd;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  .text-danger {
    color: @error-color;
  }
}

.icon-example-list {
  > .@{ns}icon,
  > .@{ns}btn {
    margin: 10px;

    &-font::before {
      display: none;
    }
  }

  .icon-item-box {
    padding: 10px;
    font-size: 2em;
    box-sizing: content-box;
    border-radius: 4px;
  }
}

.icon-bg-transparent {
  background-image: linear-gradient(45deg, #f4f4f4 25%, transparent 25%),
    linear-gradient(-45deg, #f4f4f4 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #f4f4f4 75%),
    linear-gradient(-45deg, transparent 75%, #f4f4f4 75%);
  background-size: 30px 30px;
  background-color: #fff;
  background-position: 0 0, 0 15px, 15px -15px, -15px 0;
}

.code-view-wrapper .@{ns}btn,
.icon-example-list,
.title-wrapper {
  .@{ns}icon svg use {
    fill: currentColor !important;
  }
}
