.row-split {
  .col-content {
    margin-top: 20px;
  }
  @media (min-width: @media-xs) {
    display: flex;
    flex-direction: row;

    .col-side {
      width: 360px;
    }

    .col-content {
      flex-grow: 1;
      margin-top: 0;
    }
  }
}

.palette-preview {
  .rs-panel {
    position: relative;
    height: 578px;
  }
}
.panel-color-wrap {
  .panel-color {
    th,
    td {
      text-align: left;
      padding: 11px;
      font-family: 'DejaVu Sans Mono';
    }
  }
}

.palette-logo-tool {
  margin-top: 20px;
}

.palette-image-preview {
  position: relative;
  margin-top: 20px;
  padding: 10px;
  border-radius: 6px;
}

.palette-image-position-dot {
  position: absolute;
  background: #fff;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  border: 1px solid #000;
}

.circle-picker-wrapper {
  display: inline-block;
  vertical-align: top;
}
.sketch-picker-wrapper {
  margin-left: 20px;
  display: inline-block;
  position: relative;
  .sketch-color-review {
    padding: 5px;
    background: rgb(255, 255, 255);
    border-radius: 1px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
    display: inline-block;
    cursor: pointer;
  }
  .sketch-color-value {
    width: 68px;
    height: 100px;
    border-radius: 2px;
  }
  .sketch-picker-overlay {
    position: absolute;
    z-index: 2;
  }
  .sketch-picker-backdrop {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
}
