@import '../../styles/common.less';
@import 'variables.less';
@import '../../Kbd/styles/mixin.less';

// Heading
// -------------------------

.rs-text {
  font-family: var(--rs-font-family-base);
  margin: 0;

  blockquote& {
    font-style: italic;
    padding-inline-start: 1.5rem;
    border-left: 2px solid var(--rs-gray-200);
  }

  kbd& {
    .kbd();
  }

  &.rs-text-muted {
    color: var(--rs-text-secondary);
  }

  // Text Align: left | center | right | justify
  &-left {
    text-align: start;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: end;
  }

  &-justify {
    text-align: justify;
  }

  // Text Transform: none | uppercase | lowercase | capitalize
  &-uppercase {
    text-transform: uppercase;
  }

  &-lowercase {
    text-transform: lowercase;
  }

  &-capitalize {
    text-transform: capitalize;
  }

  // Text Weight: thin | light | regular | medium | semibold | bold | extrabold
  &-thin {
    font-weight: var(--rs-text-weight-thin);
  }

  &-light {
    font-weight: var(--rs-text-weight-light);
  }

  &-medium {
    font-weight: var(--rs-text-weight-medium);
  }

  &-semibold {
    font-weight: var(--rs-text-weight-semibold);
  }

  &-bold {
    font-weight: var(--rs-text-weight-bold);
  }

  &-extrabold {
    font-weight: var(--rs-text-weight-extrabold);
  }

  &-pre-line {
    white-space: pre-line;
  }

  &-ellipsis {
    overflow: hidden;

    @supports (-webkit-line-clamp: 1) {
      & {
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
    }

    @supports not (-webkit-line-clamp: 1) {
      & {
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: break-word;
      }
    }
  }

  // Colorful tags
  each(@spectrum, .(@color) {
    &-@{color} {
      --rs-text-color: var(~'--rs-@{color}-500');
    }
  });

  color: var(--rs-text-color, var(--rs-text-primary));

  // Size variants
  @sizes: xs, sm, md, lg, xl, 2xl, 3xl, 4xl, 5xl, 6xl;
  each(@sizes, .(@size) {
    &-@{size} {
      --rs-text-font-size: var(~'--rs-font-size-@{size}');
      --rs-text-line-height: var(~'--rs-text-line-height-@{size}');
    }
  });

  font-size: var(--rs-text-font-size);
  line-height: var(--rs-text-line-height, @line-height-base);
}
