:root {
  --rs-text-weight-thin: 100;
  --rs-text-weight-light: 300;
  --rs-text-weight-regular: 400;
  --rs-text-weight-medium: 500;
  --rs-text-weight-semibold: 600;
  --rs-text-weight-bold: 700;
  --rs-text-weight-extrabold: 800;
}
