:root {
  --rs-decorative-box-bg: #dee2e6;
  --rs-decorative-box-block-spacing: calc(var(--rs-spacing) * 1.5);

  .rs-flex-box-grid-item {
    --rs-decorative-box-inline-spacing: calc(var(--rs-spacing) * 1.5);
  }
}

.rs-theme-high-contrast {
  --rs-decorative-box-bg: #000000;
}

.rs-theme-dark {
  --rs-decorative-box-bg: #000000;
}

.rs-decorative-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background: var(--rs-decorative-box-bg);
  border-radius: var(--rs-radius-md);
  margin-block: var(--rs-decorative-box-block-spacing);
  margin-inline: var(--rs-decorative-box-inline-spacing);
  color: var(--rs-text-secondary);
  font-size: var(--rs-font-size-md);
}
