:root {
  --rs-decorative-box-bg: #dee2e6;
  --rs-decorative-box-block-spacing: calc(var(--rs-spacing) * 1.5);

  .rs-flex-box-grid-item {
    --rs-decorative-box-inline-spacing: calc(var(--rs-spacing) * 1.5);
  }
}

.rs-theme-high-contrast {
  --rs-decorative-box-bg: #000000;
}

.rs-theme-dark {
  --rs-decorative-box-bg: #000000;
}
