:root {
  --rs-input-font-size-xs: var(--rs-font-size-xs);
  --rs-input-font-size-sm: var(--rs-font-size-sm);
  --rs-input-font-size-md: var(--rs-font-size-sm);
  --rs-input-font-size-lg: var(--rs-font-size-md);

  --rs-input-line-height-xs: @line-height-extra-small;
  --rs-input-line-height-sm: @line-height-base;
  --rs-input-line-height-md: @line-height-base;
  --rs-input-line-height-lg: @line-height-large;

  --rs-input-border-radius: @input-border-radius;

  --rs-input-padding-block-xs: calc(@padding-y-xs - @input-border-width);
  --rs-input-padding-block-sm: calc(@padding-y-sm - @input-border-width);
  --rs-input-padding-block-md: calc(@padding-y - @input-border-width);
  --rs-input-padding-block-lg: calc(@padding-y-lg - @input-border-width);
  --rs-input-padding-inline-xs: calc(var(--rs-spacing) - @input-border-width);
  --rs-input-padding-inline-sm: calc(calc(var(--rs-spacing) * 2) - @input-border-width);
  --rs-input-padding-inline-md: calc(calc(var(--rs-spacing) * 2.5) - @input-border-width);
  --rs-input-padding-inline-lg: calc(calc(var(--rs-spacing) * 3) - @input-border-width);
}
