:root {
  --rs-thumbnail-color-primary: var(--rs-primary-500);
  --rs-thumbnail-bg: var(--rs-primary-50);
  --rs-thumbnail-bg-secondary: var(--rs-primary-100);
}

.rs-theme-high-contrast, .rs-theme-dark {
  --rs-thumbnail-color-primary: var(--rs-primary-800);
  --rs-thumbnail-bg: transparent;
  --rs-thumbnail-bg-secondary: transparent;
}
