:root {
  --rs-thumbnail-color-primary: var(--rs-gray-500);
  --rs-thumbnail-color-high: var(--rs-gray-700);
  --rs-thumbnail-bg: var(--rs-gray-100);
  --rs-thumbnail-bg-secondary: var(--rs-gray-200);
}

.rs-theme-high-contrast, .rs-theme-dark {
  --rs-thumbnail-color-primary: var(--rs-primary-800);
  --rs-thumbnail-color-high: var(--rs-primary-500);
  --rs-thumbnail-bg: transparent;
  --rs-thumbnail-bg-secondary: transparent;
}
