@use '../../internals/Box/styles/index' as box;

.rs-checkbox-group {
  --rs-checkbox-group-gap: calc(var(--rs-spacing) * 3);
  --rs-checkbox-group-direction: column;

  display: flex;
  flex-direction: var(--rs-checkbox-group-direction);
  gap: var(--rs-checkbox-group-gap);

  &[data-inline='true'] {
    --rs-checkbox-group-direction: row;
  }
}
