@import '../../styles/common';

.rs-checkbox-group {
  display: flex;
  flex-direction: column;

  > .rs-checkbox {
    margin-left: -1 * @radio-sense-width;
  }
}

.rs-checkbox-group-inline {
  flex-direction: row;
}
