@import '../../styles/common';
@import 'mixin';

//
// Notifications
// --------------------------------------------------

// Base styles
// -------------------------
.@{notification-ns} {
  // Recovery mouse event.
  pointer-events: auto;
  position: relative;
  display: inline-block;
  flex: 0 0 auto;

  //  Fixed: The problem of wide width in IE browser.
  max-width: @notify-max-width;

  .ie-text-align(right);

  // Multiple notification should have spacing
  // Hiding notification haven't spacing.
  &:not(.@{notification-ns}-fade-exited) + .@{notification-ns} {
    margin-top: 10px;
  }

  // Notification content
  &-content {
    background: @notify-default-bg;
    box-shadow: @notify-box-shadow;
    padding: @notify-padding;
    border-radius: @notify-border-radius;
    max-width: @notify-max-width;
    // Hack display:contents to make sure width adaptive content.
    .ie-display(table);
  }

  // Title
  &-title {
    .ellipsis;
    .ie-text-align(left);

    color: @notify-title-font-color;
    font-size: @notify-title-font-size;
    line-height: unit(@notify-title-icon-size / @notify-title-font-size);

    > p {
      margin: 0;
    }

    .@{ns}icon {
      font-size: @notify-title-icon-size;
      width: @notify-title-icon-size;
      line-height: 1;
      margin-right: @notify-title-icon-margin;
    }
  }

  &-title-with-icon {
    .ellipsis;
  }

  // Description
  &-description {
    color: @notify-description-color;
    // Hack display:contents to make sure width adaptive content.
    .ie-display(table);
  }

  // Has title and description need to ajust distance
  &-title + &-description {
    margin-top: @notify-title-description-gap;
  }
}

// Alternate styles
// -------------------------
// Generate contextual modifier classes for colorizing the alert.

.@{notification-ns}-success {
  .notifocation-variant(@notify-success-icon-color);
}

.@{notification-ns}-info {
  .notifocation-variant(@notify-info-icon-color);
}

.@{notification-ns}-warning {
  .notifocation-variant(@notify-warning-icon-color);
}

.@{notification-ns}-error {
  .notifocation-variant(@notify-error-icon-color);
}
