@import '../../styles/common';
@import 'mixin';

//
// Notifications
// --------------------------------------------------

// Base styles
// -------------------------
.@{notification-ns} {
  // Recovery mouse event.
  pointer-events: auto;
  position: relative;
  display: inline-block;
  flex: 0 0 auto;
  animation-fill-mode: forwards;

  // Multiple notification should have spacing
  // Hiding notification haven't spacing.
  &:not(.@{toast-ns}-fade-exited) ~ .@{notification-ns} {
    margin-top: 10px;
  }

  // Notification content
  &-content {
    background: @notify-default-bg;
    box-shadow: @notify-box-shadow;
    padding: @notify-padding;
    border-radius: @notify-border-radius;
    max-width: @notify-max-width;
  }

  // Title
  &-title {
    .ellipsis();

    color: @notify-title-font-color;
    font-size: @notify-title-font-size;
    line-height: unit((@notify-title-icon-size / @notify-title-font-size));

    > p {
      margin: 0;
    }

    .@{ns}icon {
      font-size: @notify-title-icon-size;
      width: @notify-title-icon-size;
      line-height: 1;
      margin-right: @notify-title-icon-margin;
    }
  }

  &-title-with-icon {
    display: flex;
    align-items: center;
    .ellipsis();
  }

  // Description
  &-description {
    color: @notify-description-color;
  }

  // Has title and description need to ajust distance
  &-title + &-description {
    margin-top: @notify-title-description-gap;
  }

  &&-hiding {
    animation: notificationMoveOut 0.3s ease-in forwards;

    & ~ .@{notification-ns} {
      margin-top: 0;
    }
  }
}

// Alternate styles
// -------------------------
// Generate contextual modifier classes for colorizing the alert.

.@{notification-ns}-success {
  .notification-variant(@notify-success-icon-color);
}

.@{notification-ns}-info {
  .notification-variant(@notify-info-icon-color);
}

.@{notification-ns}-warning {
  .notification-variant(@notify-warning-icon-color);
}

.@{notification-ns}-error {
  .notification-variant(@notify-error-icon-color);
}
