@import './themes/default.less';

/** Base **/
@import './markdown';
@import './code-view';
@import '~@rsuite/document-nav/lib/less/index.less';
@import './carbonads.less';

/** Components **/
@import '../components/TopLevelNav/styles.less';
@import '../components/Logo/styles.less';
@import '../components/SideNavbar/styles.less';
@import '../components/ReactLogo/styles.less';
@import '../components/PageContainer/styles.less';
@import '../components/PageToolbar/styles.less';
@import '../components/AdCarbon/styles.less';
@import '../components/FakeBrowser/styles.less';
@import '../components/ColorPalette/styles.less';
@import '../components/ColorPicker/styles.less';
@import '../components/AdminFrame/styles.less';
@import '../components/Simulation/styles.less';

/** Pages **/
@import './pages/index.less';

@enable-dark-mode: true;
@enable-high-contrast: true;
@enable-css-reset: true;

@media-xs: 768px;
@media-md: 992px;
@bg-color: #fff;
@banner-bg-color: #fff;
@header-height: 64px;
@scrollbar-width: 10px;
@top-level-nav-height: 48px;
@doc-nav-active-color: var(--rs-text-link);

:root {
  --font-family-mono: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono',
    monospace;
}

body {
  background-color: #fff;

  // TODO use variable exported from rsuite
  &.rs-theme-dark,
  &.rs-theme-high-contrast {
    background-color: #0f131a;
  }
}

.main-container {
  @media (max-width: @media-xs) {
    margin-top: (@top-level-nav-height + 28px);
  }
}

.app-container {
  padding: 0;
  .page-context {
    @media (max-width: @media-xs) {
      margin-left: 0 !important;
      padding: 15px;
    }

    @media (min-width: @media-xs) {
      margin-left: 324px;
    }
  }
}

pre {
  border: none;
  border-radius: 0;
}

.placement-table {
  td {
    padding: 4px;
  }

  tr td:first-child {
    text-align: right;
  }
}

.json-tree-wrapper {
  background: rgb(0, 43, 54) !important;
  margin-bottom: 20px !important;

  .rs-panel-header {
    background: #06232c;
    border-radius: 6px;
    color: #fff;
  }

  .rs-panel-body {
    padding: 0 4px 8px 10px;
  }
}

.link-view-design {
  display: block;
  margin-bottom: 8px;
}

.gitter-open-chat-button {
  color: var(--rs-btn-default-text) !important;
  background-color: var(--rs-btn-default-bg);
  border-radius: 0.5em 0 0 0.5em;
  bottom: 40px;
  left: auto;
  right: 0;
  padding: 1em 2em;
  box-shadow:
    0 4px 4px rgba(0, 0, 0, 0.12),
    0 0 10px rgba(0, 0, 0, 0.06);

  &.is-collapsed {
    transform: translateX(120%);
  }

  @media (max-width: @media-xs) {
    width: 42px;
    height: 42px;
    padding: 0;
    text-indent: -999px;
    box-shadow: @box-shadow;

    //noinspection Stylelint
    &::before {
      font-family: 'rsuite-icon-font' !important;
      content: '\F086';
      position: absolute;
      right: -489px;
      font-size: 20px;
      width: 20px;
      z-index: 999;
      top: 6px;
    }
  }

  &:hover,
  &:focus {
    background-color: var(--rs-btn-default-hover-bg);
  }
}

/* rtl:begin:ignore */
.gitter-chat-embed {
  border-left: none;
}

html[dir='rtl'] .document-nav {
  right: auto !important;
  left: 10px !important;
}

/* rtl:end:ignore */
.document-nav .nav-link::before {
  background-color: var(--rs-border-primary);
}

.nav-wrapper {
  padding: 20px;
}
