// Layout styles for RSuite docs

// Body background
body {
  background-color: #fff;

  // TODO use variable exported from rsuite
  &.rs-theme-dark,
  &.rs-theme-high-contrast {
    background-color: #0f131a;
  }
}

// Main container responsive adjustments
.main-container {
  @media (max-width: @media-xs) {
    margin-top: (@main-nav-height + 28px);
  }
}

// App container and page context
.app-container {
  padding: 0;

  .page-context {
    @media (max-width: @media-xs) {
      margin-left: 0 !important;
      padding: 15px;
    }

    @media (min-width: @media-xs) {
      margin-inline-start: var(--page-context-margin-inline-start);
    }
  }
}

// Navigation wrapper
.nav-wrapper {
  padding: 20px;
}

/* rtl:begin:ignore */
html[dir='rtl'] .document-nav {
  right: auto !important;
  left: 10px !important;
}
/* rtl:end:ignore */
