@import './themes/hightlight/default.less';

.rcv-markdown {
  h1 {
    font-size: 28px;
    code {
      font-size: 14px;
      border-radius: 4px;
    }
  }

  h2 {
    font-size: 24px;
    padding: 10px 0;
    font-weight: bold;
    margin-top: 10px;
  }
  h3 {
    font-size: 18px;
    margin-top: 10px;
  }
  h3 code {
    font-size: 18px !important;
  }

  h4 {
    font-size: 16px;
    margin-top: 10px;
  }

  ol,
  ul {
    padding: 10px 20px;
    list-style-type: circle;
    li {
      line-height: 26px;
    }
  }
  table {
    width: 100%;
    margin-top: 10px;
    td,
    th {
      padding: 10px;
      border-style: solid;
      border-width: 1px;
      border-color: var(--rs-border-primary);
      word-break: break-all;

      &:first-child {
        word-break: normal;
      }
    }

    tr:nth-child(2n) {
      background-color: var(--rs-bg-well);
    }
  }
  table th {
    text-align: left;
  }
  blockquote {
    padding: 0.75rem;
    margin: 1.5rem 0;
    font-size: 14px;
    border-left: 5px solid var(--rs-state-warning);
    background-color: var(--rs-bg-warning);
    border-radius: 4px;
  }
  kbd {
    box-sizing: border-box;
    font-family: var(--font-family-mono);
    border-radius: 0.25em;
    background-color: var(--rs-bg-well); // rgb(235, 235, 235);
    padding: 0.2em 0.3em;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    border-image: initial;
    border-width: 1px 1px 2px;
    font-size: 0.875em;
    color: var(--rs-text-primary);
  }

  .page-heading {
    margin-bottom: 10px;
    line-height: 1.2;
  }

  .page-heading {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .page-heading-text {
    display: inline-flex;
    align-items: center;
    svg {
      color: rgb(236, 80, 96);
    }
  }
}

.rs-theme-dark,
.rs-theme-high-contrast {
  .rcv-markdown {
    blockquote {
      background-color: var(--rs-yellow-900);
      border-color: var(--rs-yellow-500);
    }
  }
}
