// Global variables for RSuite docs

// Feature flags
@enable-dark-mode: true;
@enable-high-contrast: true;
@enable-css-reset: true;

// Media queries
@media-xs: 768px;

// Layout dimensions
@scrollbar-width: 10px;
@main-nav-height: 48px;

// Root variables
:root {
  --font-family-mono: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono',
    monospace;
  --page-context-margin-inline-start: 324px;
}
