:root {
  --rs-dropdown-divider-color: var(--rs-divider-border);
  --rs-dropdown-shadow: var(--rs-shadow-md);
  --rs-dropdown-caret-icon-padding-horizontal: 9px;
  --rs-dropdown-item-padding-y: 8px;
  --rs-dropdown-item-padding-x: 12px;
  --rs-menu-padding: calc(var(--rs-spacing) * 1.5);
  --rs-menuitem-padding-inline: calc(var(--rs-spacing) * 3);
  --rs-menuitem-padding-block: calc(var(--rs-spacing) * 2);
  --rs-menuitem-divider-margin-block: calc(var(--rs-spacing) * 1.5);
  --rs-menuitem-spacing: calc(var(--rs-spacing) * 2);
}
