.dropdown-toggle-caret-common(@right:@padding-base-horizontal) {
  display: flex;
  align-items: center;
  margin-left: 2px;
  position: absolute;
  top: @padding-base-vertical;
  right: @right;
  height: @line-height-computed;
  font-size: 12px;
}

.dropdown-toggle-caret-size(@vertical,@horizontal,@caret-size) {
  padding-right: @horizontal+ @dropdown-caret-width+ @dropdown-caret-padding !important;

  .@{ns}dropdown-toggle-caret {
    top: @vertical;
    right: @horizontal;
    font-size: @caret-size;
  }
}

.dropdown-toggle-size() {
  &.@{ns}btn-lg {
    .dropdown-toggle-caret-size(@padding-large-vertical, @padding-large-horizontal, 14px);
  }

  &.@{ns}btn-sm {
    .dropdown-toggle-caret-size(@padding-small-vertical, @padding-small-horizontal, 10px);
  }

  &.@{ns}btn-xs {
    .dropdown-toggle-caret-size(@padding-extra-small-vertical, @padding-extra-small-horizontal, 8px);
  }
}

.dropdown-toggle() {
  position: relative;
  z-index: @zindex-dropdown;
  padding-right: @dropdown-toggle-padding-right;
  // Fixed: Content is not centered when customizing renderTitle.
  display: inline-block;
  // Rest `:focus` blue border.
  outline: none;
  cursor: pointer;

  // Custom title toggle need reset padding.
  &-custom-title {
    padding: 0 !important;
  }

  .@{ns}nav & {
    &:focus {
      box-shadow: none;
    }
  }
}

// Horizontal dividers
//
// Dividers (basically an hr) within dropdowns and nav lists

.nav-divider(@color: #e5e5e5) {
  height: 1px;
  margin: @nav-divider-margin-vertical 0;
  overflow: hidden;
  background-color: @color;
}
