@import '../../styles/common';
@import '../../Form/styles/index';

//
// FormGroup
// --------------------------------------------------
.rs-form-group {
  position: relative;
  display: flex;
  flex-direction: var(--rs-form-group-direction);
  gap: var(--rs-form-group-spacing);

  .rs-input {
    display: inline-block;
  }

  // Fixed inline element will produce a whitespace
  textarea.rs-input {
    vertical-align: bottom;
  }
}

// Vertical forms
.rs-form-vertical .rs-form-group {
  .rs-form-control-label {
    display: block;
  }
}

// Horizontal forms
//
// Horizontal forms are built on grid classes and allow you to create forms with
// labels on the left and inputs on the right.

.rs-form-horizontal {
  --rs-form-control-label-width: @form-control-label-width;
  --rs-form-group-spacing: calc(var(--rs-spacing) * 3);
  --rs-form-group-direction: row;

  .rs-form-group {
    align-items: baseline;

    .rs-form-control-label {
      display: inline-block;
      font-size: var(--rs-font-size-sm);
      width: var(--rs-form-control-label-width);
      text-align: end;
    }

    .rs-btn-toolbar {
      padding-inline-start: calc(var(--rs-form-control-label-width) + var(--rs-form-group-spacing));
    }
  }
}

// Inline
.rs-form-inline {
  --rs-form-spacing: calc(var(--rs-spacing) * 4);
  --rs-form-group-direction: row;
  --rs-form-group-spacing: calc(var(--rs-spacing) * 3);
  .rs-form-group {
    align-items: center;
  }
}
