.theme-common() {
  // Gray levels
  --rs-gray-50: @B050;
  --rs-gray-100: @B100;
  --rs-gray-200: @B200;
  --rs-gray-300: @B300;
  --rs-gray-400: @B400;
  --rs-gray-500: @B500;
  --rs-gray-600: @B600;
  --rs-gray-700: @B700;
  --rs-gray-800: @B800;
  --rs-gray-900: @B900;

  // Highlight levels
  --rs-highlight-50: @H050;
  --rs-highlight-100: @H100;
  --rs-highlight-200: @H200;
  --rs-highlight-300: @H300;
  --rs-highlight-400: @H400;
  --rs-highlight-500: @H500;
  --rs-highlight-600: @H600;
  --rs-highlight-700: @H700;
  --rs-highlight-800: @H800;
  --rs-highlight-900: @H900;

  // Spectrum levels
  each(@spectrum, .(@color-name) {
    @color: @@color-name;
    --rs-@{color-name}-50: palette(@color, 50);
    each(range(9), {
      @level: @{index}00;
      --rs-@{color-name}-@{level}: palette(@color, @level);
    });
  });
}
