@import '../../scss/common';
@import '../../scss/mixins/listbox';
@import '../../internals/Picker/styles/index';

// Select Picker
// ----------------------

// Menu Items (the listbox)
.rs-picker-select-menu-items {
  @include picker-menu-items-reset;
  @include picker-menu-group-common(picker);
  @include picker-menu-group-title(picker);
  @include picker-menu-group-closed(picker);

  .rs-picker-menu-group ~ [role='option'] > .rs-picker-select-menu-item {
    padding-left: 26px;
  }
}

// Menu item (the option)
.rs-picker-select-menu-item {
  @include listbox-option;

  &:hover,
  &:focus,
  &&-focus {
    @include listbox-option-active;
  }

  &&-active {
    @include picker-item-active;

    color: var(--rs-listbox-option-selected-text);
    background-color: var(--rs-listbox-option-selected-bg);
  }

  &&-disabled {
    color: var(--rs-listbox-option-disabled-text);
    background: none;
    cursor: $cursor-disabled;
  }

  .grouped &,
  .rs-picker-select-menu-group-children & {
    padding-left: $picker-group-children-padding-left;
  }
}
