//Functions
@import 'mixins/palette';
@import 'mixins/calc-font-color';

//
// Variables
// --------------------------------------------------

//** NameSpace
@ns: rs-;
// Ie stuffix
@ie-suffix: ~'\9';
// Control enable ie polyfill
@ie-polyfill: true;
// reset styles
@reset-import: true;

//== Colors

//** Gray levels.
@B000: #fff;
@B050: #f7f7fa;
@B100: #f2f2f5;
@B200: #e5e5ea;
@B300: #d9d9d9;
@B400: #c5c6c7;
@B500: #a6a6a6;
@B600: #8e8e93;
@B700: #7a7a7a;
@B800: #575757;
@B900: #272c36;
@gray: @B500;

//** Pallet
@base-color: #3498ff; // TODO: Deprecate, use --rs-color-highlight
@H050: color(~`palette('@{base-color}', 50)`); // TODO: Deprecate, use --rs-color-highlight-0
@H100: color(~`palette('@{base-color}', 100)`); // TODO: Deprecate, use --rs-color-highlight-1
@H200: color(~`palette('@{base-color}', 200)`); // TODO: Deprecate, use --rs-color-highlight-2
@H300: color(~`palette('@{base-color}', 300)`); // TODO: Deprecate, use --rs-color-highlight-3
@H400: color(~`palette('@{base-color}', 400)`); // TODO: Deprecate, use --rs-color-highlight-4
@H500: @base-color; // TODO: Deprecate, use --rs-color-highlight-5
@H600: color(~`palette('@{base-color}', 600)`); // TODO: Deprecate, use --rs-color-highlight-6
@H700: color(~`palette('@{base-color}', 700)`); // TODO: Deprecate, use --rs-color-highlight-7
@H800: color(~`palette('@{base-color}', 800)`); // TODO: Deprecate, use --rs-color-highlight-8
@H900: color(~`palette('@{base-color}', 900)`); // TODO: Deprecate, use --rs-color-highlight-9
@highlight: @H500;

//** spectrum
@red: #f44336;
@orange: #ff9800;
@yellow: #ffca28;
@green: #4caf50;
@cyan: #00bcd4;
@blue: #2196f3;
@violet: #673ab7;
@spectrum: red, orange, yellow, green, cyan, blue, violet;

//** Sub colors.
@success-color: #4caf50; // TODO: Deprecate, use --rs-color-state-success
@success-light-color: #edfae1; // TODO: Deprecate use --rs-color-bg-success

@info-color: #2196f3; // TODO: Deprecate, use --rs-color-state-info
@info-light-color: #e9f5fe; // TODO: Deprecate, use --rs-color-bg-info

@warning-color: #ffb300; // TODO: Deprecate, use --rs-color-state-warning
@warning-light-color: #fff9e6; // TODO: Deprecate, use --rs-color-bg-warning

@error-color: #f44336; // TODO: Deprecate, use --rs-color-state-error
@error-light-color: #fde9ef; // TODO: Deprecate, use --rs-color-bg-error

//** Global textual link color.
@link-color: var(--rs-color-text-link);
//** Link hover color.
@link-hover-color: var(--rs-color-text-link-hover);
//** Link Active color
@link-active-color: var(--rs-color-text-link-active);
//** border base color.
@border-base-color: @B300; // TODO: Deprecate, use --rs-color-border-primary
//** base bg color.
@base-bg-color: @B050; // TODO: Deprecate, unused
//** border primary color.
@border-primary-color: @H500; // TODO: Deprecate, use --rs-color-highlight
//** loading text color
@loading-text-color: @B800; // TODO: Deprecate, unused

// see https://rsuitejs.com/design/default
:root,
.rs-theme-default {
  --rs-color-white: #fff;

  // Gray levels
  --rs-color-gray-50: #f7f7fa;
  --rs-color-gray-100: #f2f2f5;
  --rs-color-gray-200: #e5e5ea;
  --rs-color-gray-300: #d9d9d9;
  --rs-color-gray-400: #c5c6c7;
  --rs-color-gray-500: #a6a6a6;
  --rs-color-gray-600: #8e8e93;
  --rs-color-gray-700: #7a7a7a;
  --rs-color-gray-800: #575757;
  --rs-color-gray-900: #272c36;

  // Highlight levels
  --rs-color-highlight: #3498ff;
  --rs-color-highlight-50: #f2faff;
  --rs-color-highlight-100: #cce9ff;
  --rs-color-highlight-200: #a6d7ff;
  --rs-color-highlight-300: #80c4ff;
  --rs-color-highlight-400: #59afff;
  --rs-color-highlight-500: #3498ff;
  --rs-color-highlight-600: #2589f5;
  --rs-color-highlight-700: #1675e0;
  --rs-color-highlight-800: #0a5dc2;
  --rs-color-highlight-900: #004299;

  // Spectrum levels
  each(@spectrum, .(@color-name) {
    @color: @@color-name;
    --rs-color-@{color-name}-50: color(~`palette('@{color}', 50)`);
    each(range(9), {
      @level: @{index}00;
      --rs-color-@{color-name}-@{level}: color(~`palette('@{color}', '@{level}')`);
    });
  });

  // States
  --rs-color-state-success: #4caf50;
  --rs-color-state-info: #2196f3;
  --rs-color-state-warning: #ffb300;
  --rs-color-state-error: #f44336;
  --rs-color-bg-success: #edfae1;
  --rs-color-bg-info: #e9f5fe;
  --rs-color-bg-warning: #fff9e6;
  --rs-color-bg-error: #fde9ef;

  // Misc
  --rs-color-text-link: var(--rs-color-highlight-700);
  --rs-color-text-link-hover: var(--rs-color-highlight-800);
  --rs-color-text-link-active: var(--rs-color-highlight-900);
  --rs-color-text-primary: @B800;
  --rs-color-text-secondary: @B600;
  --rs-color-text-heading: @B900;
  --rs-color-text-inverse: @B050;
  --rs-color-text-heading-inverse: @B000;
  --rs-color-text-active: @H700;
  --rs-color-text-disabled: @B400;
  --rs-color-text-error: @error-color;
  --rs-color-border-primary: var(--rs-color-gray-300);
  --rs-color-border-secondary: @B100;
  --rs-color-bg-card: @B000;
  --rs-color-bg-overlay: @B000;
  --rs-color-bg-well: @B050;
  --rs-color-bg-active: @H500;
  --rs-color-bg-backdrop: fade(@B900, 30%);
  --rs-color-state-hover-bg: @H050;
  --rs-color-state-focus-shadow: 0 0 0 3px fade(@H500, 25%);
  --rs-color-shadow-overlay: 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 10px rgba(0, 0, 0, 0.06);

  // Button
  --rs-color-btn-default-bg: @B050;
  --rs-color-btn-default-text: @B800;
  --rs-color-btn-default-hover-bg: @B200;
  --rs-color-btn-default-active-bg: @B300;
  --rs-color-btn-default-active-text: @B900;
  --rs-color-btn-default-disabled-bg: @B050;
  --rs-color-btn-default-disabled-text: @B400;
  --rs-color-btn-primary-bg: @H500;
  --rs-color-btn-primary-text: @B000;
  --rs-color-btn-primary-hover-bg: @H600;
  --rs-color-btn-primary-active-bg: @H700;
  --rs-color-btn-subtle-text: @B600;
  --rs-color-btn-subtle-hover-bg: @B050;
  --rs-color-btn-subtle-hover-text: @B800;
  --rs-color-btn-subtle-active-bg: @B200;
  --rs-color-btn-subtle-active-text: @B900;
  --rs-color-btn-subtle-disabled-text: @B400;
  --rs-color-btn-ghost-border: @H700;
  --rs-color-btn-ghost-text: @H700;
  --rs-color-btn-ghost-hover-border: @H800;
  --rs-color-btn-ghost-hover-text: @H800;
  --rs-color-btn-ghost-active-border: @H900;
  --rs-color-btn-ghost-active-text: @H900;
  --rs-color-btn-link-text: @H700;
  --rs-color-btn-link-hover-text: @H800;
  --rs-color-btn-link-active-text: @H900;

  // Divider
  --rs-color-divider-border: var(--rs-color-gray-200);

  // Loader
  --rs-color-loader-ring: fade(@B050, 80);
  --rs-color-loader-rotor: @B500;
  --rs-color-loader-backdrop: fade(@B000, 90%);
  --rs-color-loader-ring-inverse: fade(@B050, 30);
  --rs-color-loader-rotor-inverse: @B000;
  --rs-color-loader-backdrop-inverse: fade(@B900, 83);

  // Message
  --rs-color-message-success-text: @text-color;
  --rs-color-message-success-icon: @message-success-icon-color;
  --rs-color-message-success-bg: @message-success-bg;
  --rs-color-message-info-text: @text-color;
  --rs-color-message-info-icon: @message-info-icon-color;
  --rs-color-message-info-bg: @message-info-bg;
  --rs-color-message-warning-text: @text-color;
  --rs-color-message-warning-icon: @message-warning-icon-color;
  --rs-color-message-warning-bg: @message-warning-bg;
  --rs-color-message-error-text: @text-color;
  --rs-color-message-error-icon: @message-error-icon-color;
  --rs-color-message-error-bg: @message-error-bg;

  // Tooltip
  --rs-color-tooltip-bg: @B900;
  --rs-color-tooltip-text: @B000;

  // Progress
  --rs-color-progress-bg: @B200;
  --rs-color-progress-bar: @H500;
  --rs-color-progress-bar-success: @success-color;
  --rs-color-progress-bar-fail: @error-color;

  // Placeholder
  --rs-color-placeholder: @B100;
  --rs-color-placeholder-active: @B200;

  // Dropdown
  --rs-color-dropdown-divider: @B200;
  --rs-color-dropdown-item-bg-hover: @H050;
  --rs-color-dropdown-item-bg-active: fade(@H050, 50);
  --rs-color-dropdown-item-text-active: @H700;
  --rs-color-dropdown-shadow: 0 0 10px rgba(0, 0, 0, 0.06), 0 4px 4px rgba(0, 0, 0, 0.12);

  // Steps
  --rs-color-steps-border: @B600;
  --rs-color-steps-state-finish: @H500;
  --rs-color-steps-border-state-finish: @H500;
  --rs-color-steps-state-wait: @B600;
  --rs-color-steps-state-process: @H500;
  --rs-color-steps-state-error: @error-color;
  --rs-color-steps-border-state-error: @error-color;
  --rs-color-steps-icon-state-error: @error-color;

  // Nav
  --rs-color-navs-text: @B600;
  --rs-color-navs-text-hover: @B800;
  --rs-color-navs-bg-hover: @B050;
  --rs-color-navs-text-active: @B900;
  --rs-color-navs-bg-active: @B200;
  --rs-color-navs-selected: @H700;
  --rs-color-navs-tab-border: @B300;
  --rs-color-navs-subtle-border: @B050;

  // Navbar
  --rs-color-navbar-default-bg: @B050;
  --rs-color-navbar-default-text: @B800;
  --rs-color-navbar-default-selected-text: @H700;
  --rs-color-navbar-default-hover-bg: @B200;
  --rs-color-navbar-default-hover-text: @B800;
  --rs-color-navbar-inverse-bg: @H500;
  --rs-color-navbar-inverse-text: #fff;
  --rs-color-navbar-inverse-selected-bg: @H700;
  --rs-color-navbar-inverse-hover-bg: @H600;
  --rs-color-navbar-subtle-bg: #fff;
  --rs-color-navbar-subtle-text: @B600;
  --rs-color-navbar-subtle-selected-text: @H700;
  --rs-color-navbar-subtle-hover-bg: @B050;
  --rs-color-navbar-subtle-hover-text: @B800;

  // Input
  --rs-color-input-bg: @B000;
  --rs-color-input-focus-border: @H500;
  --rs-color-input-disabled-bg: @B050;

  // ARIA Listboxes
  --rs-color-listbox-option-hover-bg: @H050;
  --rs-color-listbox-option-selected-text: @H700;
  --rs-color-listbox-option-selected-bg: @H050;
  --rs-color-listbox-option-disabled-text: @B400;

  // Checkbox
  --rs-color-checkbox-icon: #fff;
  --rs-color-checkbox-border: @B300;
  --rs-color-checkbox-checked-bg: @H500;
  --rs-color-checkbox-disabled-bg: @B050;

  // Radio
  --rs-color-radio-marker: #fff;
  --rs-color-radio-border: @B300;
  --rs-color-radio-checked-bg: @H500;
  --rs-color-radio-disabled-bg: @B050;

  // Toggle
  --rs-color-toggle-bg: @B300;
  --rs-color-toggle-thumb: #fff;
  --rs-color-toggle-hover-bg: @B400;
  --rs-color-toggle-disabled-bg: @B050;
  --rs-color-toggle-disabled-thumb: #fff;
  --rs-color-toggle-checked-bg: @H500;
  --rs-color-toggle-checked-hover-bg: @H600;
  --rs-color-toggle-checked-disabled-bg: @H100;
  --rs-color-toggle-checked-disabled-thumb: #fff;

  // Slider
  --rs-color-slider-bar: @B100;
  --rs-color-slider-hover-bar: @B200;
  --rs-color-slider-thumb-border: @H500;
  --rs-color-slider-thumb-bg: #fff;
  --rs-color-slider-thumb-hover-shadow: 0 0 0 8px fade(@H500, 25);
  --rs-color-slider-progress: @H500;

  // Uploader
  --rs-color-uploader-item-hover-bg: @B050;
  --rs-color-uploader-overlay-bg: fade(#fff, 80);
  --rs-color-uploader-dnd-bg: @B000;
  --rs-color-uploader-dnd-border: @B200;
  --rs-color-uploader-dnd-hover-border: @H500;

  // Avatar
  --rs-color-avatar-bg: @B300;
  --rs-color-avatar-text: @B000;

  // Badge
  --rs-color-badge-bg: @error-color;
  --rs-color-badge-text: @B000;

  // Tag
  --rs-color-tag-bg: @B050;
  --rs-color-tag-close: @error-color;

  // Carousel
  --rs-color-carousel-bg: @B600;
  --rs-color-carousel-indicator: fade(@B000, 40);
  --rs-color-carousel-indicator-hover: @B000;
  --rs-color-carousel-indicator-active: @H500;

  // Panel
  --rs-color-panel-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 10px rgba(0, 0, 0, 0.06);

  // List
  --rs-color-list-bg: @B000;
  --rs-color-list-border: @B200;
  --rs-color-list-hover-bg: @H050;
  --rs-color-list-placeholder-bg: fade(@H050, 50%);
  --rs-color-list-placeholder-border: @H500;

  // Timeline
  --rs-color-timeline-indicator-bg: @B300;
  --rs-color-timeline-indicator-active-bg: @H500;

  // Table
  --rs-color-table-shadow: rgba(9, 9, 9, 0.08);
  --rs-color-table-sort: @H500;
  --rs-color-table-resize: @H500;
  --rs-color-table-scrollbar-track: @B200;
  --rs-color-table-scrollbar-thumb: @B800;
  --rs-color-table-scrollbar-thumb-active: @B900;
  --rs-color-table-scrollbar-vertical-thumb-active: fade(@B900, 40%);

  // Drawer
  --rs-color-drawer-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 10px rgba(0, 0, 0, 0.06);

  // Modal
  --rs-color-modal-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 10px rgba(0, 0, 0, 0.06);

  // Form
  --rs-color-form-errormessage-text: @error-color;
  --rs-color-form-errormessage-bg: #ffffff;
  --rs-color-form-errormessage-border: @B200;

  // Picker
  --rs-color-picker-value: @H700;
  --rs-color-picker-count: @H500;

  // Calendar
  --rs-color-calendar-today-bg: @H500;
  --rs-color-calendar-today-text: #fff;
  --rs-color-calendar-range-bg: fade(@H100, 50%);
  --rs-color-calendar-time-unit-bg: @B050;
}

//** Global button ripple switch
@button-ripple: true;


.rs-theme-dark {

  //** Gray levels.
  @B000: #fff;
  @B050: #e9ebf0;
  @B100: #cbced4;
  @B200: #a4a9b3;
  @B300: #858b94;
  @B400: #6a6f76;
  @B500: #5c6066;
  @B600: #3c3f43;
  @B700: #292d33;
  @B800: #1a1d24;
  @B900: #0f131a;

  //** Pallet
  @base-color: #34c3ff;

  //** Sub colors.
  @success-color: #58b15b;
  @success-light-color: @B000;

  @info-color: #1499ef;
  @info-light-color: @B000;

  @warning-color: #ffc757;
  @warning-light-color: @B000;

  @error-color: #f04f43;
  @error-light-color: @B000;

  //** border base color.
  @border-base-color: @B300;
  //** base bg color.
  @base-bg-color: @B050;
  //** border primary color.
  @border-primary-color: @H500;
  //** loading text color
  @loading-text-color: @B800;


  //== Base
  //** Background color for `<body>`.
  @body-bg: @B900;
  //** Global text color on `<body>`.
  @text-color: @B050;
  //** border base color.
  @border-base-color: @B600;

  //== Avatar
  @avatar-background: @B400;

  //== Buttons
  @btn-ripple-background-color: fade(@B000, 10);
  @btn-disabled-opacity: 0.4;
  //Button Loading
  @btn-spin-light-invert-color: @B000;

  // Default Button color set;
  @btn-default-color: @B050;
  @btn-default-bg: @B700;
  @btn-default-hover-color: @B050;
  @btn-default-hover-bg: @B600;
  @btn-default-focus-bg: @B600;
  @btn-default-active-bg: @B400;
  @btn-default-disabled-color: @B500;
  @btn-default-disabled-bg: @B700;

  // Button has icon color set
  @btn-icon-with-text-bg: @B600;
  @btn-icon-with-text-hover-bg: @B500;
  @btn-icon-with-text-focus-bg: @B500;
  @btn-icon-with-text-active-bg: @B300;

  // Subtle Button color set;
  @btn-subtle-color: @B200;
  @btn-subtle-hover-bg: @B700;
  @btn-subtle-default-hover-color: @B050;
  @btn-subtle-active-default-bg: @B400;
  @btn-subtle-active-default-color: @B000;

  // Ghost button color set;
  @btn-ghost-color: @H500;
  @btn-ghost-border-color: @btn-ghost-color;
  @btn-ghost-border-width: 1px;
  @btn-ghost-hover-color: @H400;
  @btn-ghost-hover-border-color: @btn-ghost-hover-color;
  @btn-ghost-active-color: @H200;
  @btn-ghost-active-border-color: @btn-ghost-active-color;

  //== Calendar
  @calendar-panel-table-border-color: @B600;
  @calendar-table-cell-content-hover-bg: @B600;
  @calendar-panel-today-active-background-color: @H700;

  // == Cascader
  @cascader-search-panel-hover-color: @B000;
  @cascader-search-panel-hover-bg: @B600;
  @cascader-search-panel-highlight-word-color: @H500;

  //== Checkbox
  @checkbox-default-border-color: @B400;
  //** Checkbox checked mark color
  @checkbox-checked-mark-color: @B800;
  //** Checkbox uncheck background
  @checkbox-disabled-color: @B500;

  //== CheckTreePicker
  @picker-tree-node-hover-bg: @B600;
  @picker-tree-node-active-color: @H500;

  //== DatePicker
  @calendar-time-dropdown-column-title-bg: @divider-border-color;
  @calendar-time-dropdown-column-title-font-color: @B200;
  @calendar-time-dropdown-column-cell-default-color: @B000;
  @calendar-time-dropdown-column-cell-hover-color: @B000;
  @calendar-time-dropdown-column-cell-hover-bg: @B600;
  @calendar-time-dropdown-column-cell-active-bg: @H700;
  @calendar-table-cell-week-number-bg: @B900;
  @calendar-table-cell-week-number-color: @B000;
  @calendar-table-cell-content-selected-color: @H700;
  @calendar-right-btn-ok-bg: @H700;
  @calendar-table-cell-header-color: @B200;
  @calendar-table-cell-in-range-background: fade(@H900, 50);

  //== DateRangePicker
  @date-range-picker-inner-border: 1px solid @calendar-toolbar-border-color;

  //== Divider
  @divider-border-color: @B600; // TODO: Deprecate, use --rs-color-divider-border

  //== Dropdown
  @dropdown-bg: @B700;
  @dropdown-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2), 0 4px 4px 3px rgba(0, 0, 0, 0.24);

  //== ErrorMessage
  @form-error-message-background-color: @error-color;
  @form-error-message-border-color: @error-color;
  @form-error-message-font-color: @B000;

  //== FormHelpText
  @form-help-text-color: @B200;

  //== Icon
  @icon-inverse: @B700;

  //== Input
  //** Placeholder text color
  @input-color-placeholder: @B200;
  //** Text color for `<input>`
  @input-color: @B000;
  //** `<input>` border color
  @input-border: @B600;
  //** `<input>` background color
  @input-bg: @B800;
  //** `<input disabled>` background color
  @input-bg-disabled: @B700;
  //** Background color for textual input addons
  @input-group-addon-bg: @B700;

  //== List
  @list-border-color: @B700;
  @list-hover-color: @B600;
  @list-item-drag-bg-color: @B900;
  @list-item-placeholder-bg-color: fade(@H900, 20);
  @list-item-placeholder-border-color: @H500;

  //== Message
  // Alternate colors
  @message-success-bg: @success-color;
  @message-success-icon-color: @B000;
  @message-info-bg: @info-color;
  @message-info-icon-color: @B000;
  @message-warning-bg: @warning-color;
  @message-warning-text-color: @B900;
  @message-warning-icon-color: @message-warning-text-color;
  @message-error-bg: @error-color;
  @message-error-icon-color: @B000;
  @message-header-color: @B000;
  @message-link-color: @B000;

  //== Modal
  @modal-backdrop-opacity: 0.8; //80%

  //== Nav
  @nav-item-font-default-color: @B200;
  @nav-item-default-hover-bg: @btn-subtle-hover-bg;
  @nav-item-click-bg: @btn-subtle-active-default-bg;
  @nav-tab-bar-color: @B600;
  @nav-subtle-hover-bg: @B700;
  @nav-subtle-bar-default-color: @nav-tab-bar-color;

  //== Navbar
  @nav-bar-default-bg: @B800;
  @nav-bar-default-font-color: @B200;
  @nav-bar-default-active-color: @H500;
  @nav-bar-subtle-bg: transparent;
  @nav-bar-subtle-font-color: @nav-bar-default-font-color;
  @nav-bar-subtle-font-active-color: @nav-bar-default-active-color;
  @nav-bar-subtle-hover-bg: @B700;
  @nav-bar-subtle-hover-font-color: @B050;
  @nav-bar-inverse-bg: @H700;
  @nav-bar-inverse-active-bg: @H400;

  //== Notification
  @notify-default-bg: @drawer-content-bg;
  @notify-close-btn-color: @B050;
  @notify-title-font-color: @B050;
  @notify-description-color: @B000;

  //== Panel
  @panel-border: 1px solid @B600;
  @panel-header-color: @B000;
  @panel-font-color: @B050;

  //== Picker
  @picker-select-item-color: @B000;
  @picker-menu-item-hover-bg: @B600;
  @picker-select-menu-item-selected-color: @H500;
  @picker-select-menu-item-selected-bg: fade(@H900, 20);
  @picker-select-menu-item-selected-font-weight: bold;
  @picker-placeholder-color: @B200;
  @picker-default-toggle-font-color: @B200;
  @picker-default-toggle-caret-color: @picker-default-toggle-font-color;
  @picker-group-title-color: @B000;
  @picker-none-font-color: @B200;
  @picker-value-count-background-color: @H700;

  //== Popover
  @popover-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

  //== Progress
  @progress-info-text-color: @B000;

  //== Radio
  @radio-default-border-color: @B400;
  //** Checkbox uncheck background
  @radio-disabled-color: @B500;
  @radio-inner-checked-color: @B800;
  @radio-label-font-color: @B200;
  @radio-label-font-hover-color: @B100;

  //== SideNav
  @sidenav-subtle-bg: transparent;
  @sidenav-subtle-hover-bg: @sidenav-default-hover-bg;
  @sidenav-default-click-bg: @sidenav-subtle-hover-bg;

  //== Slider
  @slider-bar-default-bg: @B600;
  @slider-bar-hover-bg: @B600;
  @slider-handle-default-bg: @B700;
  @slider-calibration-bg: @B700;
  @slider-calibration-border-color: @slider-bar-default-bg;

  //== Step
  @steps-default-color: @B200;
  @steps-tail-default-color: @B200;
  @steps-bg: @B800;
  @steps-icon-process-color: @steps-bg;
  @steps-content-color: @B200;
  @steps-content-process-color: @B000;
  @steps-icon-process-bg: @H700;

  //== Table
  @table-body-background: @B800;
  @table-head-font-color: @B050;
  @table-body-hover-background: @B600;
  @table-border-color: @B700;
  @table-scrollbar-handle-background: @B200;
  @table-scrollbar-background: @B700;
  @table-scrollbar-pressed-handle-background: @B100;
  @table-scrollbar-pressed-background: @B600;
  @table-scrollbar-vertical-handle-background-color: @table-scrollbar-background;
  @table-table-cell-fixed-shadow: 0 5px rgba(9, 9, 9, 0.99);

  //== Toggle
  @toggle-disabled-default-background-color: @B600;
  @toggle-disabled-checked-background-color: @H900;
  // Toggle default background color
  @toggle-default-bg: @B400;
  @toggle-default-hover-bg: @B300;
  // Toggle checked background color
  @toggle-checked-bg: @H700;

  //== Tag
  @tag-default-background: @B600;
  @tag-default-color: @B050;

  //== Uploader
  @uploader-default-font-color: @B000;
  @uploader-light-font-color: @B200;
  @uploader-item-hover-background-color: @B600;
  @uploader-picture-border-color: @B600;
  @uploader-picture-background-color: @B600;
  @uploader-file-item-retry-icon-color: @B200;
  @uploader-picture-item-background: fade(@B600, 80);
  @uploader-picture-item-btn-remove-background: @B700;
  @uploader-drag-and-drop-background-color: @B700;

  // Gray levels
  --rs-color-gray-50: #e9ebf0;
  --rs-color-gray-100: #cbced4;
  --rs-color-gray-200: #a4a9b3;
  --rs-color-gray-300: #858b94;
  --rs-color-gray-400: #6a6f76;
  --rs-color-gray-500: #5c6066;
  --rs-color-gray-600: #3c3f43;
  --rs-color-gray-700: #292d33;
  --rs-color-gray-800: #1a1d24;
  --rs-color-gray-900: #0f131a;

  // Highlight levels
  --rs-color-highlight: #34c3ff;
  --rs-color-highlight-50: #f2fcff;
  --rs-color-highlight-100: #ccf3ff;
  --rs-color-highlight-200: #a6e9ff;
  --rs-color-highlight-300: #80ddff;
  --rs-color-highlight-400: #59d0ff;
  --rs-color-highlight-500: #34c3ff;
  --rs-color-highlight-600: #25b3f5;
  --rs-color-highlight-700: #169de0;
  --rs-color-highlight-800: #0a81c2;
  --rs-color-highlight-900: #006199;

  // Misc
  --rs-color-text-link: var(--rs-color-highlight-500);
  --rs-color-text-link-hover: var(--rs-color-highlight-400);
  --rs-color-text-link-active: var(--rs-color-highlight-300);
  --rs-color-text-primary: @B050;
  --rs-color-text-secondary: @B200;
  --rs-color-text-heading: @B000;
  --rs-color-text-inverse: @B800;
  --rs-color-text-heading-inverse: @B900;
  --rs-color-text-active: @H500;
  --rs-color-text-disabled: @B500;
  --rs-color-border-primary: var(--rs-color-gray-600);
  --rs-color-border-secondary: @B700;
  --rs-color-bg-card: @B800;
  --rs-color-bg-overlay: @B700;
  --rs-color-bg-well: @B900;
  --rs-color-bg-active: @H700;
  --rs-color-bg-backdrop: fade(@B900, 80%);
  --rs-color-state-hover-bg: @B600;
  --rs-color-state-focus-shadow: 0 0 0 3px fade(@H500, 25%);
  --rs-color-shadow-overlay: 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 10px rgba(0, 0, 0, 0.06);

  // Button
  --rs-color-btn-default-bg: @B700;
  --rs-color-btn-default-text: @B050;
  --rs-color-btn-default-hover-bg: @B600;
  --rs-color-btn-default-active-bg: @B400;
  --rs-color-btn-default-active-text: @B000;
  --rs-color-btn-default-disabled-bg: @B700;
  --rs-color-btn-default-disabled-text: @B500;
  --rs-color-btn-primary-bg: @H700;
  --rs-color-btn-primary-text: @B000;
  --rs-color-btn-primary-hover-bg: @H600;
  --rs-color-btn-primary-active-bg: @H400;
  --rs-color-btn-subtle-text: @B200;
  --rs-color-btn-subtle-hover-bg: @B700;
  --rs-color-btn-subtle-hover-text: @B050;
  --rs-color-btn-subtle-active-bg: @B400;
  --rs-color-btn-subtle-active-text: @B000;
  --rs-color-btn-subtle-disabled-text: @B500;
  --rs-color-btn-ghost-border: @H500;
  --rs-color-btn-ghost-text: @H500;
  --rs-color-btn-ghost-hover-border: @H400;
  --rs-color-btn-ghost-hover-text: @H400;
  --rs-color-btn-ghost-active-border: @H200;
  --rs-color-btn-ghost-active-text: @H200;
  --rs-color-btn-link-text: @H500;
  --rs-color-btn-link-hover-text: @H400;
  --rs-color-btn-link-active-text: @H200;

  // Divider
  --rs-color-divider-border: var(--rs-color-gray-600);

  // Loader
  --rs-color-loader-ring: fade(@B050, 30);
  --rs-color-loader-rotor: @B000;
  --rs-color-loader-backdrop: fade(@B900, 83%);
  --rs-color-loader-ring-inverse: fade(@B050, 80);
  --rs-color-loader-rotor-inverse: @B500;
  --rs-color-loader-backdrop-inverse: fade(@B000, 90);

  // Message
  --rs-color-message-success-text: @text-color;
  --rs-color-message-success-icon: @B000;
  --rs-color-message-success-bg: @success-color;
  --rs-color-message-info-text: @text-color;
  --rs-color-message-info-icon: @B000;
  --rs-color-message-info-bg: @info-color;
  --rs-color-message-warning-text: @B900;
  --rs-color-message-warning-icon: @message-warning-text-color;
  --rs-color-message-warning-bg: @warning-color;
  --rs-color-message-error-text: @text-color;
  --rs-color-message-error-icon: @B000;
  --rs-color-message-error-bg: @error-color;

  // Tooltip
  --rs-color-tooltip-bg: @B500;
  --rs-color-tooltip-text: @B000;

  // Progress
  --rs-color-progress-bg: @B700;
  --rs-color-progress-bar: @H500;
  --rs-color-progress-bar-success: @success-color;
  --rs-color-progress-bar-fail: @error-color;

  // Placeholder
  --rs-color-placeholder: @B600;
  --rs-color-placeholder-active: lighten(@B600, 5%);

  // Dropdown
  --rs-color-dropdown-divider: @B600;
  --rs-color-dropdown-item-bg-hover: @B600;
  --rs-color-dropdown-item-bg-active: fade(@H900, 20);
  --rs-color-dropdown-item-text-active: @H500;
  --rs-color-dropdown-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2), 0 4px 4px 3px rgba(0, 0, 0, 0.24);

  // Steps
  --rs-color-steps-border: @B200;
  --rs-color-steps-state-finish: @H500;
  --rs-color-steps-border-state-finish: @H500;
  --rs-color-steps-state-wait: @B200;
  --rs-color-steps-state-process: @H700;
  --rs-color-steps-state-error: @error-color;
  --rs-color-steps-border-state-error: @error-color;
  --rs-color-steps-icon-state-error: @error-color;

  // Navs
  --rs-color-navs-text: @B200;
  --rs-color-navs-text-hover: @B100;
  --rs-color-navs-bg-hover: @B700;
  --rs-color-navs-text-active: @B000;
  --rs-color-navs-bg-active: @B400;
  --rs-color-navs-tab-border: @B600;
  --rs-color-navs-subtle-border: @B600;
  --rs-color-navs-selected: @H500;

  // Navbar
  --rs-color-navbar-default-bg: @B800;
  --rs-color-navbar-default-text: @B200;
  --rs-color-navbar-default-selected-text: @H500;
  --rs-color-navbar-default-hover-bg: @B700;
  --rs-color-navbar-default-hover-text: @B050;
  --rs-color-navbar-inverse-bg: @H700;
  --rs-color-navbar-inverse-text: #fff;
  --rs-color-navbar-inverse-selected-bg: @H400;
  --rs-color-navbar-inverse-hover-bg: @H600;
  --rs-color-navbar-subtle-bg: transparent;
  --rs-color-navbar-subtle-text: @B200;
  --rs-color-navbar-subtle-selected-text: @H500;
  --rs-color-navbar-subtle-hover-bg: @B700;
  --rs-color-navbar-subtle-hover-text: @B050;

  // Input
  --rs-color-input-bg: @B800;
  --rs-color-input-focus-border: @H500;
  --rs-color-input-disabled-bg: @B700;

  // ARIA Listboxes
  --rs-color-listbox-option-hover-bg: @B600;
  --rs-color-listbox-option-selected-text: @H500;
  --rs-color-listbox-option-selected-bg: fade(@H900, 20%);
  --rs-color-listbox-option-disabled-text: @B500;

  // Checkbox
  --rs-color-checkbox-icon: @B800;
  --rs-color-checkbox-border: @B400;
  --rs-color-checkbox-checked-bg: @H500;
  --rs-color-checkbox-disabled-bg: @B500;

  // Radio
  --rs-color-radio-marker: @B800;
  --rs-color-radio-border: @B400;
  --rs-color-radio-checked-bg: @H500;
  --rs-color-radio-disabled-bg: @B500;

  // Toggle
  --rs-color-toggle-bg: @B400;
  --rs-color-toggle-thumb: #fff;
  --rs-color-toggle-hover-bg: @B300;
  --rs-color-toggle-disabled-bg: @B600;
  --rs-color-toggle-disabled-thumb: @B500;
  --rs-color-toggle-checked-bg: @H700;
  --rs-color-toggle-checked-hover-bg: @H600;
  --rs-color-toggle-checked-disabled-bg: @H900;
  --rs-color-toggle-checked-disabled-thumb: @B300;

  // Slider
  --rs-color-slider-bar: @B600;
  --rs-color-slider-hover-bar: @B600;
  --rs-color-slider-thumb-border: @H500;
  --rs-color-slider-thumb-bg: @B700;
  --rs-color-slider-thumb-hover-shadow: 0 0 0 8px fade(@H500, 25);
  --rs-color-slider-progress: @H500;

  // Uploader
  --rs-color-uploader-item-hover-bg: @B600;
  --rs-color-uploader-overlay-bg: fade(@B600, 80);
  --rs-color-uploader-dnd-bg: @B700;
  --rs-color-uploader-dnd-border: @B200;
  --rs-color-uploader-dnd-hover-border: @H500;

  // Avatar
  --rs-color-avatar-bg: @B400;
  --rs-color-avatar-text: @B000;

  // Badge
  --rs-color-badge-bg: @error-color;
  --rs-color-badge-text: @B000;

  // Tag
  --rs-color-tag-bg: @B600;
  --rs-color-tag-close: @error-color;

  // Carousel
  --rs-color-carousel-bg: @B600;
  --rs-color-carousel-indicator: fade(@B000, 40);
  --rs-color-carousel-indicator-hover: @B000;
  --rs-color-carousel-indicator-active: @H500;

  // Panel
  --rs-color-panel-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 10px rgba(0, 0, 0, 0.06);

  // List
  --rs-color-list-bg: @B900;
  --rs-color-list-border: @B700;
  --rs-color-list-hover-bg: @B600;
  --rs-color-list-placeholder-bg: fade(@H900, 20%);
  --rs-color-list-placeholder-border: @H500;

  // Timeline
  --rs-color-timeline-indicator-bg: @B500;
  --rs-color-timeline-indicator-active-bg: @H500;

  // Table
  --rs-color-table-shadow: rgba(9, 9, 9, 0.99);
  --rs-color-table-sort: @H500;
  --rs-color-table-resize: @H500;
  --rs-color-table-scrollbar-track: @B700;
  --rs-color-table-scrollbar-thumb: @B200;
  --rs-color-table-scrollbar-thumb-active: @B100;
  --rs-color-table-scrollbar-vertical-thumb: @B200;

  // Drawer
  --rs-color-drawer-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 10px rgba(0, 0, 0, 0.06);

  // Modal
  --rs-color-modal-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 10px rgba(0, 0, 0, 0.06);

  // Form
  --rs-color-form-errormessage-text: #fff;
  --rs-color-form-errormessage-bg: @error-color;
  --rs-color-form-errormessage-border: @error-color;

  // Picker
  --rs-color-picker-value: @H500;
  --rs-color-picker-count: @H700;

  // Calendar
  --rs-color-calendar-today-bg: @H700;
  --rs-color-calendar-today-text: #fff;
  --rs-color-calendar-range-bg: fade(@H900, 50%);
  --rs-color-calendar-time-unit-bg: @B600;
}
