@import 'variables';

//
// Typography
// --------------------------------------------------

// Headings
// -------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--rs-heading-font-family);
  font-weight: var(--rs-heading-font-weight);
  color: var(--rs-heading-color);
  margin: 0;
}

h1 {
  font-size: var(--rs-heading-h1-font-size);
  line-height: var(--rs-heading-h1-line-height);
}

h2 {
  font-size: var(--rs-heading-h2-font-size);
  line-height: var(--rs-heading-h2-line-height);
}

h3 {
  font-size: var(--rs-heading-h3-font-size);
  line-height: var(--rs-heading-h3-line-height);
}

h4 {
  font-size: var(--rs-heading-h4-font-size);
  line-height: var(--rs-heading-h4-line-height);
}

h5 {
  font-size: var(--rs-heading-h5-font-size);
  line-height: var(--rs-heading-h5-line-height);
}

h6 {
  font-size: var(--rs-heading-h6-font-size);
  line-height: var(--rs-heading-h6-line-height);
}

// Body text
// -------------------------

p {
  margin: 0;

  // Multiple <p/> need set margin
  & + p {
    margin-top: @padding-y;
  }
}

// Emphasis & misc
// -------------------------

// Ex: (12px small font / 14px base font) * 100% = about 85%
small {
  font-size: floor((100% * @font-size-small / @font-size-base));
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
  color: var(--rs-text-disabled);
}

mark {
  background-color: var(--rs-bg-warning);
  padding: 0.2em;
  font-weight: bolder;
}

// Lists
// -------------------------

// Unordered and Ordered lists
ul,
ol {
  margin-top: 0;
  margin-bottom: (@line-height-computed / 2);

  ul,
  ol {
    margin-bottom: 0;
  }
}

// Description Lists
dl {
  margin-top: 0; // Remove browser default
  margin-bottom: (@line-height-computed / 2);
}

dt,
dd {
  line-height: @line-height-base;
}

dt {
  font-weight: bold;
}

dd {
  margin-inline-start: 0; // Undo browser default
  margin-bottom: (@line-height-computed / 2);
}

