// Variables
// All variables declared in this file is supposed to be customizable by the user
// This file is ignored by prettier for better alignment
// See .prettierignore
@import 'colors/light.less';
@import 'colors/dark.less';
@import 'colors/high-contrast.less';

// Controls

// CSS Resets
@enable-css-reset: true;

// Global button ripple switch
@enable-ripple-effect: true;

// Whether include styles for dark mode
@enable-dark-mode: true;

// Whether include styles for high-contrast mode
@enable-high-contrast: true;

// Media queries breakpoints
// Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Small screen / phone
// @screen-sm
@screen-sm: 576px;

// Medium screen / desktop
// @screen-md
@screen-md: 768px;

// Large screen / wide desktop
// @screen-lg
@screen-lg: 992px;

// Extra large devices / extra wide desktop
// @screen-xl
@screen-xl: 1200px;

// Extra extra large devices / ultra wide desktop
// @screen-xxl
@screen-xxl: 1400px;


// Color system

// Primary palette
@primary-color: #3498ff;

// Secondary palette
@red: #f44336;
@orange: #fa8900;
@yellow: #ffb300;
@green: #4caf50;
@cyan: #00bcd4;
@blue: #2196f3;
@violet: #673ab7;

// Dark mode
@primary-color-dark: #34c3ff;

@red-dark: #f04f43;
@orange-dark: #ff9800;
@yellow-dark: #ffc757;
@green-dark: #58b15b;
@cyan-dark: #00bcd4;
@blue-dark: #1499ef;
@violet-dark: #673ab7;

// High-contrast mode
@primary-color-high-contrast: #ffff00;

@red-high-contrast: #bd1732;
@orange-high-contrast: @orange-dark;
@yellow-high-contrast: #ffc757;
@green-high-contrast: #0d822c;
@cyan-high-contrast: @cyan-dark;
@blue-high-contrast: #1499ef;
@violet-high-contrast: @violet-dark;

// List for looping
@spectrum: red, orange, yellow, green, cyan, blue, violet;


