.column-resize-spanner() {
  height: 36px;
  width: @table-column-resize-spanner-width;
  z-index: @zindex-table-column-resize-spanner;
  position: absolute;
  cursor: ew-resize !important;
  outline: none;
}
