@import '../../../less/variables.less';

.component-overview {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .toolbar {
    .component-search-input {
      flex-grow: 1;
      background: var(--rs-placeholder) !important;
      border-color: var(--rs-placeholder);

      .rs-input {
        background: var(--rs-placeholder);
      }
    }

    .group {
      display: flex;
      .rs-btn-lg {
        padding: 13px;
        color: var(--rs-text-secondary);
      }
    }
  }
}

.support-version {
  margin: 4px 0;
}
