@import '../../styles/common';

.rs-avatar {
  --rs-avatar-size-xs: 1.25rem; // 20px
  --rs-avatar-size-sm: 1.875rem; // 30px
  --rs-avatar-size-md: 2.5rem; // 40px
  --rs-avatar-size-lg: 3.75rem; // 60px
  --rs-avatar-size-xl: 5.625rem; // 90px
  --rs-avatar-size-2xl: 7.5rem; // 120px

  --rs-avatar-font-size-xs: var(--rs-font-size-xs);
  --rs-avatar-font-size-sm: var(--rs-font-size-sm);
  --rs-avatar-font-size-md: var(--rs-font-size-md);
  --rs-avatar-font-size-lg: var(--rs-font-size-lg);
  --rs-avatar-font-size-xl: var(--rs-font-size-xl);
  --rs-avatar-font-size-2xl: var(--rs-font-size-2xl);

  --rs-avatar-border-radius: var(--rs-spacing);
  --rs-avatar-ring-offset-shadow: var(--rs-avatar-offset-color) 0 0 0 2px;
  --rs-avatar-ring-shadow: var(--rs-avatar-ring-color) 0 0 0 4px;

  // Size variants
  @sizes: xs, sm, md, lg, xl, 2xl;
  each(@sizes, .(@size) {
    &.rs-avatar-@{size} {
      --rs-avatar-size: var(~'--rs-avatar-size-@{size}');
      --rs-avatar-font-size: var(~'--rs-avatar-font-size-@{size}');
      --rs-avatar-icon-size: calc((var(--rs-avatar-size) - var(--rs-avatar-font-size)) / 2 + var(--rs-avatar-font-size));
    }
  });

  // Colorful avatars
  each(@spectrum, .(@color) {
    &.rs-avatar-@{color} {
      --rs-avatar-bg: var(~'--rs-@{color}-500');
      --rs-avatar-ring-color: var(~'--rs-@{color}-500');
    }
  });

  background-color: var(--rs-avatar-bg);
  color: var(--rs-avatar-text);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--rs-avatar-border-radius);
  overflow: hidden;
  position: relative;
  width: var(--rs-avatar-size);
  height: var(--rs-avatar-size);
  font-size: var(--rs-avatar-font-size);

  & > .rs-icon {
    vertical-align: middle;
    font-size: var(--rs-avatar-icon-size);
    height: var(--rs-avatar-icon-size);
  }

  &-image {
    width: var(--rs-avatar-size);
    height: var(--rs-avatar-size);
    line-height: var(--rs-avatar-size);

    &::before {
      content: attr(alt);
      position: absolute;
      width: 100%;
      height: inherit;
      top: 0;
      left: 0;
      background: var(--rs-avatar-bg);
      text-align: center;
      padding: 0 2px;
    }
  }

  &-icon {
    position: absolute;
  }

  &-bordered {
    box-shadow:
      var(--rs-avatar-ring-offset-shadow),
      var(--rs-avatar-ring-shadow),
      0 0 #0000;
  }

  &-circle {
    --rs-avatar-border-radius: 50%;
  }
}
