.show-container {
  > .rs-container {
    margin-bottom: 40px;
  }

  .rs-header,
  .rs-content,
  .rs-footer,
  .rs-sidebar {
    background-color: var(--rs-primary-500);
    color: #fff;
    text-align: center;
  }

  .rs-header,
  .rs-footer {
    line-height: 56px;
    background-color: var(--rs-primary-400);
  }
  .rs-content {
    line-height: 120px;
    background-color: var(--rs-primary-300);
  }
  .rs-sidebar {
    line-height: 120px;
  }
}

.fake-browser {
  .rs-content,
  .rs-footer {
    padding: 20px;
  }

  &.sidebar-page {
    background: var(--rs-bg-well);

    .page-brand {
      padding: 10px 15px;
      font-size: 20px;
      color: #fff;
      background: #000;

      .rs-text {
        color: #fff;
      }
    }

    .page-header {
      padding: 20px 20px 0 20px;
    }

    .rs-sidebar {
      height: 100%;
      background: var(--rs-body);
      border-right: 1px solid var(--rs-border-secondary);
    }
    .rs-sidenav {
      flex: 1 1 auto;
      width: 100%;
    }

    .rs-content {
      padding: 0 20px;
    }

    .nav-toggle {
      border-top: 1px solid var(--rs-border-secondary);
      padding: 6px;
    }
  }
}
