.show-col {
  background: var(--rs-color-highlight-500);
  color: #fff;
  padding: 10px;
}

.show-grid {
  [class*='rs-col-'] {
    padding: 10px 5px;
    color: #fff;
    background-color: var(--rs-color-highlight-500);
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
    [class*='rs-col-'] {
      background-color: var(--rs-color-highlight-700);

      [class*='rs-col-'] {
        background-color: var(--rs-color-highlight-900);

        &:nth-child(even) {
          opacity: .9;
        }
      }
    }

    [class*='rs-col-']:nth-child(2n) {
      opacity: .9;
    }
  }

  [class*='rs-col-']:nth-child(2n) {
    opacity: .8;
  }
}

// Flex grid box
.show-grid {
  .rs-flex-box-grid {
    &-item {
      margin-top: 6px;
      margin-bottom: 6px;
      padding: 10px 5px;
      color: white;
      text-align: center;
      background-color: var(--rs-color-highlight-500);
    }

    &-item:nth-child(2n) {
      opacity: .8;
    }
  }
}
