.custom-slider {
  margin-top: 18px;

  .@{ns}slider-handle {
    top: -6px;
    background-color: @H500;
    text-align: center;
    padding: 3px;
    margin-left: -16px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;

    &:hover {
      box-shadow: @slider-handle-hover-box-shadow;
    }

    &::before {
      display: none;
    }
  }

  &.@{ns}slider-dragging .@{ns}slider-handle,
  &.@{ns}slider-dragging .@{ns}slider-handle:hover {
    box-shadow: none;
    transform: scale(1.2);
  }
}
