@use '../../styles/mixins/listbox' as listbox;

// Search panel
.rs-cascade-search-view-panel {
  --rs-cascader-search-panel-max-height: 300px;

  max-height: var(--rs-cascader-search-panel-max-height);
  margin-top: 6px;
  overflow: auto;
}

.rs-cascade-search-view-row {
  @include listbox.listbox-option(flex-start);

  &:hover {
    @include listbox.listbox-option-active;
  }

  &.rs-cascade-search-view-row-focus {
    @include listbox.listbox-option-active;
  }

  &:disabled,
  &.rs-cascade-search-view-row-disabled {
    @include listbox.listbox-options-disabled;
  }
}

.rs-cascade-search-view-col {
  display: inline-block;

  &::after {
    content: '\00a0/\00a0'; //content:' / '
  }

  &:last-child::after {
    display: none;
  }
}
