// FormErrorMessage variables
:root {
  --rs-form-errormessage-font-size: var(--rs-font-size-xs);
  --rs-form-errormessage-line-height: 1.25rem;
  --rs-form-errormessage-triangle-vertical: 4px;
  --rs-form-errormessage-triangle-gap: 10px;
}
