.drawer-content-width(@width) {
  .@{ns}drawer-dialog {
    width: @width;
  }
}

.drawer-content-height(@height) {
  .@{ns}drawer-dialog {
    height: @height;
  }
}

.drawer-animation(@timing) {
  animation-duration: 0.3s;
  animation-timing-function: @timing;
  animation-fill-mode: forwards;
}

.drawer-animation-setting(@move-in-animation-name,@move-out-animation-name) {
  &.fade .@{ns}drawer-dialog {
    animation-name: @move-out-animation-name;
  }

  &.in .@{ns}drawer-dialog {
    animation-name: @move-in-animation-name;
  }
}
