.placeholder-active-animation() {
  background-color: @placeholder-holder-bg;
  position: relative;

  &.@{ns}placeholder-active::before {
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: @placeholder-active-bg;
    border-radius: 10px;
    animation: progress-active 2s cubic-bezier(0.23, 1, 0.32, 1) infinite;
  }
}

.placeholder-graph-base() {
  width: 60px;
  height: 60px;
  background-color: @placeholder-holder-bg;
}
