.radio-inner-wrapper(@border-color:@radio-default-border-color) {
  border: 1px solid @border-color;
  background-color: @radio-bg;
  border-radius: @radio-border-radius;
}

.radio-inner-active-shadow(@shadow-color:@radio-default-border-color) {
  box-shadow: 0 0 0 2px fade(@shadow-color, 30%);
}
