// Grid system
//
// Generate semantic grid columns with these mixins.

// Centered container element
.container-fixed() {
  margin-inline-end: auto;
  margin-inline-start: auto;
  padding-inline-start: calc(var(--rs-grid-gutter) / 2);
  padding-inline-end: calc(var(--rs-grid-gutter) / 2);
  .clearfix();
}
