@import '../../Tree/styles/index.less';

.rs-picker-popup {
  .rs-tree {
    padding-right: @picker-menu-padding;

    &.rs-tree-virtualized {
      padding: 0;
    }

    &-node {
      margin: 0;

      > .rs-tree-node-label > .rs-tree-node-label-content {
        .ellipsis();

        display: block;
        line-height: @line-height-computed;
      }
    }
  }
}
