@import '../../Tree/styles/index.less';

.rs-picker-popup {
  .rs-tree {
    &.rs-tree-virtualized {
      padding: 0;
    }

    &-node {
      margin: 0;
    }
  }
  .rs-tree-view {
    padding: 2px 4px;
  }
}
