//
// Time lines
// --------------------------------------------------

.@{ns}tag {
  display: inline-block;
  padding: @padding-extra-small-vertical @padding-extra-small-horizontal;
  background-color: @tag-default-background;
  color: @tag-default-color;
  border-radius: @border-radius-base;

  &-closeable {
    padding-right: 32px;
    position: relative;
  }

  &-icon-close {
    position: absolute;
    top: @padding-extra-small-vertical;
    right: @padding-extra-small-horizontal;
    font-style: normal;
    font-family: @font-family-icon;
    cursor: pointer;

    &::after {
      .icon-font;

      content: @default-close-btn-content;
    }
  }
}

.@{ns}tag + .@{ns}tag {
  margin-left: @tag-gap;
}

.generate-spectrum-tags;
