.show-container {
  .rs-header,
  .rs-content,
  .rs-footer,
  .rs-sidebar {
    background-color: var(--rs-primary-500);
    color: #fff;
    text-align: center;
  }

  .rs-header,
  .rs-footer {
    line-height: 56px;
    background-color: var(--rs-primary-400);
  }
  .rs-content {
    line-height: 120px;
    background-color: var(--rs-primary-300);
  }
  .rs-sidebar {
    line-height: 120px;
  }
}
