.rs-input-picker-size(@padding-vertical; @padding-horizontal; @font-size; @line-height;) {
  .rs-picker-search-input {
    padding: (@padding-vertical - 1px) @padding-horizontal;
    font-size: @font-size;
    line-height: @line-height;
  }
}
