// see https://rsuitejs.com/design/dark
& {
  // Gray levels
  --rs-gray-50: @B050-dark;
  --rs-gray-100: @B100-dark;
  --rs-gray-200: @B200-dark;
  --rs-gray-300: @B300-dark;
  --rs-gray-400: @B400-dark;
  --rs-gray-500: @B500-dark;
  --rs-gray-600: @B600-dark;
  --rs-gray-700: @B700-dark;
  --rs-gray-800: @B800-dark;
  --rs-gray-900: @B900-dark;

  // Highlight levels
  --rs-primary-50: @H050-dark;
  --rs-primary-100: @H100-dark;
  --rs-primary-200: @H200-dark;
  --rs-primary-300: @H300-dark;
  --rs-primary-400: @H400-dark;
  --rs-primary-500: @H500-dark;
  --rs-primary-600: @H600-dark;
  --rs-primary-700: @H700-dark;
  --rs-primary-800: @H800-dark;
  --rs-primary-900: @H900-dark;

  // Spectrum levels
  each(@spectrum, .(@color-name) {
      @color: @@color-name;
      @color-name-50: ~'@{color-name}-50-dark';
      --rs-@{color-name}-50: @@color-name-50;
  
      each(range(9), {
        @level: @{index}00;
        @color-name-level: ~'@{color-name}-@{level}-dark';
        --rs-@{color-name}-@{level}: @@color-name-level;
      });
    });

  // Stateful colors
  --rs-state-success: @green-dark;
  --rs-state-info: @blue-dark;
  --rs-state-warning: @yellow-dark;
  --rs-state-error: @red-dark;

  // Reset
  --rs-body: @B900-dark;

  // Misc
  --rs-text-link: @H500-dark;
  --rs-text-link-hover: @H400-dark;
  --rs-text-link-active: @H300-dark;
  --rs-text-primary: @B050-dark;
  --rs-text-secondary: @B200-dark;
  --rs-text-tertiary: @B300-dark;
  --rs-text-heading: @B000-dark;
  --rs-text-inverse: @B800-dark;
  --rs-text-heading-inverse: @B900-dark;
  --rs-text-active: @H500-dark;
  --rs-text-disabled: @B500-dark;
  --rs-border-primary: @B600-dark;
  --rs-border-secondary: @B700-dark;
  --rs-bg-card: @B800-dark;
  --rs-bg-overlay: @B700-dark;
  --rs-bg-well: @B900-dark;
  --rs-bg-active: @H700-dark;
  --rs-bg-backdrop: fade(@B900-dark, 80%);
  --rs-state-hover-bg: @B600-dark;
  --rs-color-focus-ring: 0 0 0 3px fade(@H500-dark, 25%);
  --rs-state-focus-shadow: 0 0 0 3px fade(@H500-dark, 25%);
  --rs-state-focus-outline: 3px solid fade(@H500-dark, 25%);
  --rs-shadow-overlay: 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 10px rgba(0, 0, 0, 0.06);

  // Button
  --rs-btn-default-bg: @B600-dark;
  --rs-btn-default-text: @B050-dark;
  --rs-btn-default-hover-bg: @B500-dark;
  --rs-btn-default-active-bg: @B300-dark;
  --rs-btn-default-active-text: @B000-dark;
  --rs-btn-default-disabled-bg: @B600-dark;
  --rs-btn-default-disabled-text: @B400-dark;
  --rs-btn-primary-bg: @H700-dark;
  --rs-btn-primary-text: @B000-dark;
  --rs-btn-primary-hover-bg: @H600-dark;
  --rs-btn-primary-active-bg: @H400-dark;
  --rs-btn-subtle-text: @B200-dark;
  --rs-btn-subtle-hover-bg: @B500-dark;
  --rs-btn-subtle-hover-text: @B050-dark;
  --rs-btn-subtle-active-bg: @B400-dark;
  --rs-btn-subtle-active-text: @B000-dark;
  --rs-btn-subtle-disabled-text: @B500-dark;
  --rs-btn-ghost-border: @H500-dark;
  --rs-btn-ghost-text: @H500-dark;
  --rs-btn-ghost-hover-border: @H400-dark;
  --rs-btn-ghost-hover-text: @H400-dark;
  --rs-btn-ghost-active-border: @H200-dark;
  --rs-btn-ghost-active-text: @H200-dark;
  --rs-btn-link-text: @H500-dark;
  --rs-btn-link-hover-text: @H400-dark;
  --rs-btn-link-active-text: @H200-dark;

  // Icon Button
  --rs-iconbtn-addon: @B500-dark;
  --rs-iconbtn-activated-addon: @B400-dark;
  --rs-iconbtn-pressed-addon: @B200-dark;
  --rs-iconbtn-primary-addon: @H600-dark;
  --rs-iconbtn-primary-activated-addon: @H500-dark;
  --rs-iconbtn-primary-pressed-addon: @H400-dark;

  // Divider
  --rs-divider-border: @B600-dark;

  // Loader
  --rs-loader-ring: fade(@B050-dark, 30);
  --rs-loader-rotor: @B000-dark;
  --rs-loader-backdrop: fade(@B900-dark, 83%);
  --rs-loader-ring-inverse: fade(@B050-dark, 80);
  --rs-loader-rotor-inverse: @B500-dark;
  --rs-loader-backdrop-inverse: fade(@B000-dark, 90);

  // Message
  --rs-message-success-header: #fff;
  --rs-message-success-text: #fff;
  --rs-message-success-icon: #fff;
  --rs-message-success-bg: @green-500;
  --rs-message-info-header: #fff;
  --rs-message-info-text: #fff;
  --rs-message-info-icon: #fff;
  --rs-message-info-bg: @blue-500;
  --rs-message-warning-header: @B900-dark;
  --rs-message-warning-text: @B900-dark;
  --rs-message-warning-icon: @B900-dark;
  --rs-message-warning-bg: @yellow-500;
  --rs-message-error-header: #fff;
  --rs-message-error-text: #fff;
  --rs-message-error-icon: #fff;
  --rs-message-error-bg: @red-500;

  // Tooltip
  --rs-tooltip-bg: @B500-dark;
  --rs-tooltip-text: @B000-dark;

  // Progress
  --rs-progress-bg: @B700-dark;
  --rs-progress-bar: @H500-dark;
  --rs-progress-bar-success: @green;
  --rs-progress-bar-fail: @red;

  // Placeholder
  --rs-placeholder: @B600-dark;
  --rs-placeholder-active: lighten(@B600-dark, 5%);

  // Breadcrumb
  --rs-breadcrumb-item-active-text: #fff;

  // Dropdown
  --rs-dropdown-divider: @B600-dark;
  --rs-dropdown-item-bg-hover: @B600-dark;
  --rs-dropdown-item-bg-active: fade(@H900-dark, 20);
  --rs-dropdown-item-text-active: @H500-dark;
  --rs-dropdown-header-text: @B500-dark;
  --rs-dropdown-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2), 0 4px 4px 3px rgba(0, 0, 0, 0.24);

  // ARIA menu
  --rs-menuitem-active-bg: @B600-dark;
  --rs-menuitem-active-text: currentColor;

  // Steps
  --rs-steps-border: @B200-dark;
  --rs-steps-state-finish: @H500-dark;
  --rs-steps-border-state-finish: @H500-dark;
  --rs-steps-state-wait: @B200-dark;
  --rs-steps-state-process: @H700-dark;
  --rs-steps-state-error: @red;
  --rs-steps-border-state-error: @red;
  --rs-steps-icon-state-process: @H500-dark;
  --rs-steps-icon-state-error: @red;

  // Navs
  --rs-navs-text: @B200-dark;
  --rs-navs-text-hover: @B100-dark;
  --rs-navs-bg-hover: @B400-dark;
  --rs-navs-text-active: @B000-dark;
  --rs-navs-bg-active: @B400-dark;
  --rs-navs-tab-border: @B600-dark;
  --rs-navs-subtle-border: @B600-dark;
  --rs-navs-selected: @H500-dark;

  // Navbar
  --rs-navbar-default-bg: @B800-dark;
  --rs-navbar-default-text: @B200-dark;
  --rs-navbar-default-selected-text: @H500-dark;
  --rs-navbar-default-hover-bg: @B700-dark;
  --rs-navbar-default-hover-text: @B050-dark;
  --rs-navbar-inverse-bg: @H700-dark;
  --rs-navbar-inverse-text: #fff;
  --rs-navbar-inverse-selected-bg: @H400-dark;
  --rs-navbar-inverse-hover-bg: @H600-dark;
  --rs-navbar-inverse-hover-text: #fff;
  --rs-navbar-subtle-bg: transparent;
  --rs-navbar-subtle-text: @B200-dark;
  --rs-navbar-subtle-selected-text: @H500-dark;
  --rs-navbar-subtle-hover-bg: @B700-dark;
  --rs-navbar-subtle-hover-text: @B050-dark;

  // Sidenav
  --rs-sidenav-default-bg: @B800-dark;
  --rs-sidenav-default-text: @B200-dark;
  --rs-sidenav-default-selected-text: @H500-dark;
  --rs-sidenav-default-hover-bg: @B700-dark;
  --rs-sidenav-default-hover-text: @B050-dark;
  --rs-sidenav-default-footer-border: @B600-dark;
  --rs-sidenav-inverse-bg: @H700-dark;
  --rs-sidenav-inverse-text: #fff;
  --rs-sidenav-inverse-selected-bg: @H400-dark;
  --rs-sidenav-inverse-hover-bg: @H600-dark;
  --rs-sidenav-inverse-footer-border: @H600-dark;
  --rs-sidenav-subtle-bg: transparent;
  --rs-sidenav-subtle-text: @B200-dark;
  --rs-sidenav-subtle-selected-text: @H500-dark;
  --rs-sidenav-subtle-hover-bg: @B700-dark;
  --rs-sidenav-subtle-hover-text: @B050-dark;
  --rs-sidenav-subtle-footer-border: @B600-dark;

  // Input
  --rs-input-bg: @B800-dark;
  --rs-input-focus-border: @H500-dark;
  --rs-input-disabled-bg: @B700-dark;

  // ARIA Listboxes
  --rs-listbox-option-hover-bg: @B600-dark;
  --rs-listbox-option-hover-text: currentColor;
  --rs-listbox-option-selected-text: @H500-dark;
  --rs-listbox-option-selected-bg: fade(@H900-dark, 20%);
  --rs-listbox-option-disabled-text: @B500-dark;
  --rs-listbox-option-disabled-selected-text: @H200-dark;

  // Checkbox
  --rs-checkbox-icon: @B800-dark;
  --rs-checkbox-border: @B400-dark;
  --rs-checkbox-checked-bg: @H500-dark;
  --rs-checkbox-disabled-bg: @B500-dark;

  // Radio
  --rs-radio-marker: @B800-dark;
  --rs-radio-border: @B400-dark;
  --rs-radio-checked-bg: @H500-dark;
  --rs-radio-disabled-bg: @B500-dark;

  // Rate
  --rs-rate-symbol: @B600-dark;
  --rs-rate-symbol-checked: @yellow-500;

  // Toggle
  --rs-toggle-bg: @B400-dark;
  --rs-toggle-thumb: #fff;
  --rs-toggle-hover-bg: @B300-dark;
  --rs-toggle-disabled-bg: @B600-dark;
  --rs-toggle-disabled-thumb: @B500-dark;
  --rs-toggle-checked-bg: @H700-dark;
  --rs-toggle-checked-thumb: #fff;
  --rs-toggle-checked-hover-bg: @H600-dark;
  --rs-toggle-checked-disabled-bg: @H900-dark;
  --rs-toggle-checked-disabled-thumb: @B300-dark;

  // Slider
  --rs-slider-bar: @B600-dark;
  --rs-slider-hover-bar: @B600-dark;
  --rs-slider-thumb-border: @H500-dark;
  --rs-slider-thumb-bg: @B700-dark;
  --rs-slider-thumb-hover-shadow: 0 0 0 8px fade(@H500-dark, 25);
  --rs-slider-progress: @H500-dark;

  // Uploader
  --rs-uploader-item-bg: @B300-dark;
  --rs-uploader-item-hover-bg: @B600-dark;
  --rs-uploader-overlay-bg: fade(@B600-dark, 80);
  --rs-uploader-dnd-bg: @B700-dark;
  --rs-uploader-dnd-border: @B200-dark;
  --rs-uploader-dnd-hover-border: @H500-dark;

  // Avatar
  --rs-avatar-bg: @B400-dark;
  --rs-avatar-text: @B000-dark;

  // Badge
  --rs-badge-bg: @red;
  --rs-badge-text: @B000-dark;

  // Tag
  --rs-tag-bg: @B600-dark;
  --rs-tag-close: @red;

  // Carousel
  --rs-carousel-bg: @B600-dark;
  --rs-carousel-indicator: fade(@B000-dark, 40);
  --rs-carousel-indicator-hover: @B000-dark;
  --rs-carousel-indicator-active: @H500-dark;

  // Panel
  --rs-panel-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 10px rgba(0, 0, 0, 0.06);

  // List
  --rs-list-bg: @B900-dark;
  --rs-list-border: @B700-dark;
  --rs-list-hover-bg: @B600-dark;
  --rs-list-placeholder-bg: fade(@H900-dark, 20%);
  --rs-list-placeholder-border: @H500-dark;

  // Timeline
  --rs-timeline-indicator-bg: @B500-dark;
  --rs-timeline-indicator-active-bg: @H500-dark;

  // Table
  --rs-table-shadow: rgba(9, 9, 9, 0.99);
  --rs-table-sort: @H500-dark;
  --rs-table-resize: @H500-dark;
  --rs-table-scrollbar-track: @B700-dark;
  --rs-table-scrollbar-thumb: @B200-dark;
  --rs-table-scrollbar-thumb-active: @B100-dark;
  --rs-table-scrollbar-vertical-track: @B700-dark;

  // Drawer
  --rs-drawer-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 10px rgba(0, 0, 0, 0.06);

  // Modal
  --rs-modal-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 10px rgba(0, 0, 0, 0.06);

  // Form
  --rs-form-errormessage-text: #fff;
  --rs-form-errormessage-bg: @red;
  --rs-form-errormessage-border: @red;

  // Picker
  --rs-picker-value: @H500-dark;
  --rs-picker-count-bg: @H700-dark;
  --rs-picker-count-text: #fff;

  // Calendar
  --rs-calendar-today-bg: @H700-dark;
  --rs-calendar-today-text: #fff;
  --rs-calendar-range-bg: fade(@H900-dark, 50%);
  --rs-calendar-time-unit-bg: @B600-dark;
  --rs-calendar-date-selected-text: #fff;
  --rs-calendar-cell-selected-hover-bg: @H700;

  // Popover
  --rs-popover-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
