@import '../colors/dark';

// see https://rsuitejs.com/design/dark
& {
  @import (multiple) 'common';

  // Reset
  --rs-body: @B900;

  // Misc
  --rs-text-link: @H500;
  --rs-text-link-hover: @H400;
  --rs-text-link-active: @H300;
  --rs-text-primary: @B050;
  --rs-text-secondary: @B200;
  --rs-text-tertiary: @B300;
  --rs-text-heading: @B000;
  --rs-text-inverse: @B800;
  --rs-text-heading-inverse: @B900;
  --rs-text-active: @H500;
  --rs-text-disabled: @B500;
  --rs-border-primary: @B600;
  --rs-border-secondary: @B700;
  --rs-bg-card: @B800;
  --rs-bg-overlay: @B700;
  --rs-bg-well: @B900;
  --rs-bg-active: @H700;
  --rs-bg-backdrop: fade(@B900, 80%);
  --rs-state-hover-bg: @B600;
  --rs-state-focus-shadow: 0 0 0 3px fade(@H500, 25%);
  --rs-state-focus-outline: 3px solid fade(@H500, 25%);
  --rs-shadow-overlay: 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 10px rgba(0, 0, 0, 0.06);

  // Button
  --rs-btn-default-bg: @B600;
  --rs-btn-default-text: @B050;
  --rs-btn-default-hover-bg: @B500;
  --rs-btn-default-active-bg: @B300;
  --rs-btn-default-active-text: @B000;
  --rs-btn-default-disabled-bg: @B600;
  --rs-btn-default-disabled-text: @B500;
  --rs-btn-primary-bg: @H700;
  --rs-btn-primary-text: @B000;
  --rs-btn-primary-hover-bg: @H600;
  --rs-btn-primary-active-bg: @H400;
  --rs-btn-subtle-text: @B200;
  --rs-btn-subtle-hover-bg: @B700;
  --rs-btn-subtle-hover-text: @B050;
  --rs-btn-subtle-active-bg: @B400;
  --rs-btn-subtle-active-text: @B000;
  --rs-btn-subtle-disabled-text: @B500;
  --rs-btn-ghost-border: @H500;
  --rs-btn-ghost-text: @H500;
  --rs-btn-ghost-hover-border: @H400;
  --rs-btn-ghost-hover-text: @H400;
  --rs-btn-ghost-active-border: @H200;
  --rs-btn-ghost-active-text: @H200;
  --rs-btn-link-text: @H500;
  --rs-btn-link-hover-text: @H400;
  --rs-btn-link-active-text: @H200;

  // Icon Button
  --rs-iconbtn-addon: @B500;
  --rs-iconbtn-activated-addon: @B400;
  --rs-iconbtn-pressed-addon: @B200;
  --rs-iconbtn-primary-addon: @H600;
  --rs-iconbtn-primary-activated-addon: @H500;
  --rs-iconbtn-primary-pressed-addon: @H400;

  // Divider
  --rs-divider-border: @B600;

  // Loader
  --rs-loader-ring: fade(@B050, 30);
  --rs-loader-rotor: @B000;
  --rs-loader-backdrop: fade(@B900, 83%);
  --rs-loader-ring-inverse: fade(@B050, 80);
  --rs-loader-rotor-inverse: @B500;
  --rs-loader-backdrop-inverse: fade(@B000, 90);

  // Message
  --rs-message-success-header: #fff;
  --rs-message-success-text: #fff;
  --rs-message-success-icon: #fff;
  --rs-message-success-bg: @green;
  --rs-message-info-header: #fff;
  --rs-message-info-text: #fff;
  --rs-message-info-icon: #fff;
  --rs-message-info-bg: @blue;
  --rs-message-warning-header: @B900;
  --rs-message-warning-text: @B900;
  --rs-message-warning-icon: @B900;
  --rs-message-warning-bg: @yellow;
  --rs-message-error-header: #fff;
  --rs-message-error-text: #fff;
  --rs-message-error-icon: #fff;
  --rs-message-error-bg: @red;

  // Tooltip
  --rs-tooltip-bg: @B500;
  --rs-tooltip-text: @B000;

  // Progress
  --rs-progress-bg: @B700;
  --rs-progress-bar: @H500;
  --rs-progress-bar-success: @green;
  --rs-progress-bar-fail: @red;

  // Placeholder
  --rs-placeholder: @B600;
  --rs-placeholder-active: lighten(@B600, 5%);

  // Dropdown
  --rs-dropdown-divider: @B600;
  --rs-dropdown-item-bg-hover: @B600;
  --rs-dropdown-item-bg-active: fade(@H900, 20);
  --rs-dropdown-item-text-active: @H500;
  --rs-dropdown-header-text: @B500;
  --rs-dropdown-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2), 0 4px 4px 3px rgba(0, 0, 0, 0.24);

  // ARIA menu
  --rs-menuitem-active-bg: @B600;
  --rs-menuitem-active-text: currentColor;

  // Steps
  --rs-steps-border: @B200;
  --rs-steps-state-finish: @H500;
  --rs-steps-border-state-finish: @H500;
  --rs-steps-state-wait: @B200;
  --rs-steps-state-process: @H700;
  --rs-steps-state-error: @red;
  --rs-steps-border-state-error: @red;
  --rs-steps-icon-state-process: @H500;
  --rs-steps-icon-state-error: @red;

  // Navs
  --rs-navs-text: @B200;
  --rs-navs-text-hover: @B100;
  --rs-navs-bg-hover: @B400;
  --rs-navs-text-active: @B000;
  --rs-navs-bg-active: @B400;
  --rs-navs-tab-border: @B600;
  --rs-navs-subtle-border: @B600;
  --rs-navs-selected: @H500;

  // Navbar
  --rs-navbar-default-bg: @B800;
  --rs-navbar-default-text: @B200;
  --rs-navbar-default-selected-text: @H500;
  --rs-navbar-default-hover-bg: @B700;
  --rs-navbar-default-hover-text: @B050;
  --rs-navbar-inverse-bg: @H700;
  --rs-navbar-inverse-text: #fff;
  --rs-navbar-inverse-selected-bg: @H400;
  --rs-navbar-inverse-hover-bg: @H600;
  --rs-navbar-subtle-bg: transparent;
  --rs-navbar-subtle-text: @B200;
  --rs-navbar-subtle-selected-text: @H500;
  --rs-navbar-subtle-hover-bg: @B700;
  --rs-navbar-subtle-hover-text: @B050;

  // Input
  --rs-input-bg: @B800;
  --rs-input-focus-border: @H500;
  --rs-input-disabled-bg: @B700;

  // ARIA Listboxes
  --rs-listbox-option-hover-bg: @B600;
  --rs-listbox-option-hover-text: currentColor;
  --rs-listbox-option-selected-text: @H500;
  --rs-listbox-option-selected-bg: fade(@H900, 20%);
  --rs-listbox-option-disabled-text: @B500;
  --rs-listbox-option-disabled-selected-text: @H200;

  // Checkbox
  --rs-checkbox-icon: @B800;
  --rs-checkbox-border: @B400;
  --rs-checkbox-checked-bg: @H500;
  --rs-checkbox-disabled-bg: @B500;

  // Radio
  --rs-radio-marker: @B800;
  --rs-radio-border: @B400;
  --rs-radio-checked-bg: @H500;
  --rs-radio-disabled-bg: @B500;

  // Toggle
  --rs-toggle-bg: @B400;
  --rs-toggle-thumb: #fff;
  --rs-toggle-hover-bg: @B300;
  --rs-toggle-disabled-bg: @B600;
  --rs-toggle-disabled-thumb: @B500;
  --rs-toggle-checked-bg: @H700;
  --rs-toggle-checked-hover-bg: @H600;
  --rs-toggle-checked-disabled-bg: @H900;
  --rs-toggle-checked-disabled-thumb: @B300;

  // Slider
  --rs-slider-bar: @B600;
  --rs-slider-hover-bar: @B600;
  --rs-slider-thumb-border: @H500;
  --rs-slider-thumb-bg: @B700;
  --rs-slider-thumb-hover-shadow: 0 0 0 8px fade(@H500, 25);
  --rs-slider-progress: @H500;

  // Uploader
  --rs-uploader-item-bg: @B300;
  --rs-uploader-item-hover-bg: @B600;
  --rs-uploader-overlay-bg: fade(@B600, 80);
  --rs-uploader-dnd-bg: @B700;
  --rs-uploader-dnd-border: @B200;
  --rs-uploader-dnd-hover-border: @H500;

  // Avatar
  --rs-avatar-bg: @B400;
  --rs-avatar-text: @B000;

  // Badge
  --rs-badge-bg: @red;
  --rs-badge-text: @B000;

  // Tag
  --rs-tag-bg: @B600;
  --rs-tag-close: @red;

  // Carousel
  --rs-carousel-bg: @B600;
  --rs-carousel-indicator: fade(@B000, 40);
  --rs-carousel-indicator-hover: @B000;
  --rs-carousel-indicator-active: @H500;

  // Panel
  --rs-panel-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 10px rgba(0, 0, 0, 0.06);

  // List
  --rs-list-bg: @B900;
  --rs-list-border: @B700;
  --rs-list-hover-bg: @B600;
  --rs-list-placeholder-bg: fade(@H900, 20%);
  --rs-list-placeholder-border: @H500;

  // Timeline
  --rs-timeline-indicator-bg: @B500;
  --rs-timeline-indicator-active-bg: @H500;

  // Table
  --rs-table-shadow: rgba(9, 9, 9, 0.99);
  --rs-table-sort: @H500;
  --rs-table-resize: @H500;
  --rs-table-scrollbar-track: @B700;
  --rs-table-scrollbar-thumb: @B200;
  --rs-table-scrollbar-thumb-active: @B100;
  --rs-table-scrollbar-vertical-track: @B700;

  // Drawer
  --rs-drawer-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 10px rgba(0, 0, 0, 0.06);

  // Modal
  --rs-modal-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 10px rgba(0, 0, 0, 0.06);

  // Form
  --rs-form-errormessage-text: #fff;
  --rs-form-errormessage-bg: @red;
  --rs-form-errormessage-border: @red;

  // Picker
  --rs-picker-value: @H500;
  --rs-picker-count: @H700;

  // Calendar
  --rs-calendar-today-bg: @H700;
  --rs-calendar-today-text: #fff;
  --rs-calendar-range-bg: fade(@H900, 50%);
  --rs-calendar-time-unit-bg: @B600;

  // Popover
  --rs-popover-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
