@use '../../internals/Box/styles/index' as box;

//
// PanelGroup
// --------------------------------------------------

.rs-panel-group {
  // The first panel and the last panel in a panel group need set border-radius.
  border-radius: var(--rs-radius-md);
  overflow: hidden;

  &-bordered {
    border: 1px solid var(--rs-border-primary);
  }

  // Panel in Panel group haven't border.
  > .rs-panel {
    border: none;

    // Draw a split line for panel
    & + .rs-panel {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        border-top: 1px solid var(--rs-border-primary);
        inset-inline-start: 20px;
        inset-inline-end: 20px;
      }
    }
  }
}
