.rs-sorted-list {
  .rs-sorted-title {
    border-bottom: 1px solid var(--rs-border-primary);
    margin: 10px 0;
  }

  :global(.rs-list) {
    box-shadow: none;
  }

  :global(.rs-list-item) {
    width: 200px;
    display: inline-block;
    margin-right: 10px;
  }
}
