@import '../common';

// Button variants
.button-primary-variant(@font-color; @primary-color) {
  @color-light: color(~`palette('@{primary-color}', 400) `);
  @color-dark: color(~`palette('@{primary-color}', 600) `);
  @color-darker: color(~`palette('@{primary-color}', 700) `);
  @color-even-darker: color(~`palette('@{primary-color}', 900) `);

  color: @font-color;
  background-color: @color-darker;
  .btn-icon-with-text(@color-even-darker);

  .btn-loading-reset(@font-color, @color-darker);

  &:focus,
  &.@{ns}btn-focus {
    color: @font-color;
    background-color: @primary-color;
    .btn-icon-with-text(@color-dark);
  }

  &:hover {
    color: @font-color;
  }

  &:not(.@{ns}btn-disabled):hover {
    background-color: @primary-color;
    .btn-icon-with-text(@color-dark);
  }

  &:active,
  &.@{ns}btn-active,
  .@{ns}open > .@{ns}dropdown-toggle& {
    color: @font-color;
    background-color: @color-light;
    .btn-icon-with-text(@color-dark);

    &:hover,
    &:focus,
    &.focus {
      color: @font-color;
      background-color: @color-light;
      .btn-icon-with-text(@color-dark);
    }
  }

  &:active,
  &.@{ns}btn-active,
  .open > .@{ns}dropdown-toggle& {
    background-image: none;
  }

  &.@{ns}btn-disabled {
    &:hover,
    &:focus,
    &.focus {
      background: @color-darker;
    }
  }
}

.btn-subtle-variant(@color) {
  @color-light: color(~`palette('@{color}', 400) `);
  @color-dark: color(~`palette('@{color}', 600) `);

  color: @btn-subtle-color;
  background-color: transparent;

  .btn-loading-reset(@btn-subtle-color);

  &:focus,
  &.@{ns}btn-focus,
  &:hover {
    color: @btn-subtle-hover-color;
    background: @color;
  }

  &:active,
  &.@{ns}btn-active,
  .@{ns}open > .@{ns}dropdown-toggle& {
    color: @btn-subtle-active-color;
    background-color: @color-light;
    background-image: none;

    &:hover,
    &:focus,
    &.focus {
      color: @btn-subtle-active-color;
      background-color: @color-light;
    }
  }

  &.@{ns}btn-disabled {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &:hover:active {
      color: @btn-subtle-disabled-color;
      background: none;
    }
  }
}

.btn-ghost-variant(@color,@border-color) {
  @color-light: color(~`palette('@{color}', 400) `);
  @color-border-light: color(~`palette('@{color}', 400) `);
  @color-lighter: color(~`palette('@{color}', 200) `);
  @color-border-lighter: color(~`palette('@{color}', 200) `);

  color: @color;
  border: 1px solid @border-color;
  background-color: transparent;

  .btn-loading-reset(@color);

  &:focus,
  &.@{ns}btn-focus {
    color: @color-light;
    border-color: @color-border-light;
  }

  &:hover {
    color: @color-light;
    border-color: @color-border-light;
  }

  &:active,
  &.@{ns}btn-active,
  .@{ns}open > .@{ns}dropdown-toggle& {
    color: @color-lighter;
    border-color: @color-border-lighter;
    background-image: none;

    &:hover,
    &:focus,
    &.@{ns}btn-focus {
      color: @color-lighter;
      border-color: @color-border-lighter;
    }
  }

  &.@{ns}btn-disabled {
    &:hover,
    &:focus,
    &.focus {
      background: none;
    }
  }
}

.btn-link-variant(@color) {
  @hover-color: color(~`palette('@{color}', 400)`);
  @active-color: color(~`palette('@{color}', 300)`);

  color: @color;
  font-weight: normal;
  border-radius: 0;

  .btn-loading-reset(@color);

  &,
  &:active,
  &.@{ns}btn-active {
    background-color: transparent;
  }

  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }

  &:hover,
  &:focus {
    color: @hover-color;
    text-decoration: @link-hover-decoration;
    background-color: transparent;
  }

  &:active {
    color: @active-color;

    &:hover,
    &:focus,
    &.focus {
      color: @active-color;
    }
  }

  &.@{ns}btn-disabled {
    &:hover,
    &:focus {
      color: @color;
      text-decoration: none;
    }
  }
}

// Use to hack button border in button-group set [justified].
.btn-ghost-hack-variant(@border-color) {
  @color-border-dark: color(~`palette('@{border-color}', 400) `);
  @color-border-darker: color(~`palette('@{border-color}', 200) `);

  &::before,
  &::after {
    background-color: @border-color;
  }

  &:focus,
  &.@{ns}btn-focus {
    &::before,
    &::after {
      background-color: @color-border-dark;
    }
  }

  &:hover {
    &::before,
    &::after {
      background-color: @color-border-dark;
    }
  }

  &:active,
  &.@{ns}btn-active {
    &::before,
    &::after {
      background-color: @color-border-darker;
    }

    &:hover,
    &:focus,
    &.@{ns}btn-focus {
      &::before,
      &::after {
        background-color: @color-border-darker;
      }
    }
  }
}

.@{ns}btn-loading > .@{ns}btn-spin::before {
  opacity: 0.3;
}
