@import '../../styles/common';
@import '../../Button/styles/mixin';
@import 'mixin';

//
// Pickers
// --------------------------------------------------

// The switch trail
// todo: Consider renaming as .rs-toggle
.rs-btn-toggle {
  // Default size is middle.
  .btn-toggle(md);

  position: relative;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  background-color: var(--rs-toggle-bg);
  color: var(--rs-toggle-thumb);
  cursor: pointer;
  transition: background-color @toggle-transition, width @toggle-transition;
  user-select: none;

  .high-contrast-mode({
    transition: none;
    box-shadow: inset 0 0 0 1px var(--rs-toggle-thumb);
  });

  &:hover {
    background-color: var(--rs-toggle-hover-bg);
  }

  // The switch thumb
  &::after {
    content: '';
    cursor: pointer;
    position: absolute;
    background-color: currentColor;
    transition: left @toggle-transition, margin-left @toggle-transition, width @toggle-transition;

    .high-contrast-mode({
      transition: none;
    });
  }

  // disabled state
  &&-disabled {
    background-color: var(--rs-toggle-disabled-bg);
    color: var(--rs-toggle-disabled-thumb);
    box-shadow: inset 0 0 0 1px var(--rs-toggle-disabled-thumb);
    cursor: not-allowed;
  }

  // checked state
  &&-checked {
    background-color: var(--rs-toggle-checked-bg);
    color: var(--rs-toggle-checked-thumb);
    box-shadow: none;

    &:hover {
      background-color: var(--rs-toggle-checked-hover-bg);
    }
  }

  &&-disabled&-checked {
    background-color: var(--rs-toggle-checked-disabled-bg);
    color: var(--rs-toggle-checked-disabled-thumb);
  }
}

// Label text inside the switch
.rs-btn-toggle-inner {
  display: block;
  transition: margin @toggle-transition;

  .high-contrast-mode({
    transition: none;
  });
}

// small
.rs-btn-toggle-sm {
  .btn-toggle(sm);
}

// middle
.rs-btn-toggle-md {
  .btn-toggle(md);
}

// large
.rs-btn-toggle-lg {
  .btn-toggle(lg);
}
