@import '../../../styles/variables.less';
@import '../../../styles/mixins/color-modes.less';
@import '../../../Dropdown/styles/mixin.less';

// Picker Menu items common styles
.picker-menu-items-reset() {
  overflow-y: auto;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

// Picker Menu group common styles
.picker-menu-group-common(@prefix) {
  // Set border & padding to menu group if  it isn't the first.
  .rs-@{prefix}-menu-group:not(:first-child) {
    margin-top: @picker-group-select-menu-gap;
    border-top: 1px solid var(--rs-divider-border);
    padding-top: @picker-group-select-menu-gap;
  }
}

// Group title common styles
.picker-menu-group-title(@prefix) {
  .rs-@{prefix}-menu-group-title {
    padding: @picker-item-content-padding-vertical @picker-item-content-padding-horizontal;
    padding-inline-end: (@padding-x + @dropdown-caret-width + @dropdown-caret-padding);
    position: relative;
    cursor: pointer;
    color: var(--rs-text-heading);

    .rs-@{prefix}-menu-group-caret {
      display: inline-block;
      margin-inline-start: 2px;
      position: absolute;
      top: @padding-y;
      inset-inline-end: @padding-x;
      color: var(--rs-text-secondary);
    }
  }
}

// Group closed common styles
.picker-menu-group-closed(@prefix) {
  .rs-@{prefix}-menu-group.folded {
    .rs-@{prefix}-menu-group-caret {
      transform: rotate(90deg);
    }
  }
}

.picker-item-hover() {
  color: var(--rs-text-primary);
  background-color: var(--rs-state-hover-bg);
}

.picker-item-active() {
  font-weight: @picker-select-menu-item-selected-font-weight;
}

.picker-calendar-cell-content() {
  display: inline-block;
  cursor: pointer;
  font-size: var(--rs-calendar-cell-font-size);
  line-height: var(--rs-calendar-cell-line-height);
  padding: var(--rs-calendar-cell-padding);
  border-radius: var(--rs-calendar-border-radius);

  &:hover {
    background-color: var(--rs-state-hover-bg);
  }
}

.picker-calendar-cell-content-selected() {
  color: var(--rs-calendar-date-selected-text);
  background-color: var(--rs-bg-active);
  box-shadow: none;

  .high-contrast-mode({
    text-decoration: underline;
  });
}

.picker-calendar-title-show() {
  color: var(--rs-text-active);
  background: transparent;
}

// Default picker toggle
.picker-default-toggle() {
  [data-variant='default'] & {
    color: var(--rs-text-primary);
    border: var(--rs-picker-toggle-border-width) solid var(--rs-border-primary);
  }

  [data-disabled='true'] & {
    cursor: @cursor-disabled;
  }

  [data-variant='default']:not([data-disabled='true']) {
    &:hover,
    &:focus {
      border-color: var(--rs-input-focus-border);
    }
  }
}

// Subtle picker toggle
.picker-subtle-toggle {
  .rs-picker[data-variant='subtle'] & {
    --rs-picker-toggle-border-width: 0px;
    .dropdown-toggle();
  }

  .rs-picker[data-variant='subtle'][data-disabled='true'] & {
    cursor: @cursor-disabled;

    &:hover,
    &:focus,
    &:active {
      background: none;

      &::after {
        display: none;
      }
    }
  }
}
