:root {
  --rs-tree-node-font-size: var(--rs-font-size-sm);
  --rs-tree-node-line-height: var(--rs-text-line-height-sm);
  --rs-tree-node-padding-block: var(--rs-padding-block-md);
  --rs-tree-node-padding-inline: var(--rs-padding-inline-md);
  --rs-tree-node-label-padding: var(--rs-spacing);
  --rs-tree-node-label-border-radius: var(--rs-radius-md);
}
