:root {
  --rs-tag-border-radius: var(--rs-radius-md);
  --rs-tag-spacing: 0.25rem;
  --rs-tag-font-size-sm: var(--rs-font-size-xs);
  --rs-tag-font-size-md: var(--rs-font-size-xs);
  --rs-tag-font-size-lg: var(--rs-font-size-sm);
  --rs-tag-padding-sm: 0 8px;
  --rs-tag-padding-md: 2px 8px;
  --rs-tag-padding-lg: 5px 10px;
  --rs-tag-line-height-sm: var(--rs-line-height-sm);
  --rs-tag-line-height-md: var(--rs-line-height-sm);
  --rs-tag-line-height-lg: var(--rs-line-height-md);
}
