.link-group {
  cursor: pointer;
  .rs-table-cell-content {
    padding: 5px;
  }
}

.table-content-editing .@{ns}input {
  position: absolute;
  left: 0;
  top: 5px;
  width: 90%;
}

.table-content-edit-span {
  margin-left: 2px;
  .ellipsis;
}

.menu-tabs {
  .rs-btn {
    margin-right: 6px;
    margin-top: 6px;
    border-radius: 6px !important;
  }
}
