//
// Variables
// --------------------------------------------------

//== Colors

//** Gray levels.
@B000: #fff;
@B050: #e9ebf0;
@B100: #cbced4;
@B200: #a4a9b3;
@B300: #858b94;
@B400: #6a6f76;
@B500: #5c6066;
@B600: #3c3f43;
@B700: #292d33;
@B800: #1a1d24;
@B900: #0f131a;

//** Pallet
@base-color: #34c3ff;

//** Sub colors.
@success-color: #58b15b;
@success-light-color: @B000;

@info-color: #1499ef;
@info-light-color: @B000;

@warning-color: #ffc757;
@warning-light-color: @B000;

@error-color: #f04f43;
@error-light-color: @B000;

//** Global textual link color.
@link-color: @H500;
//** Hover state Font color for `<a>`.
@link-hover-color: @H400;
//** Active state font color for `<a>`.
@link-active-color: @H300;
//** border base color.
@border-base-color: @B300;
//** base bg color.
@base-bg-color: @B050;
//** border primary color.
@border-primary-color: @H500;
//** loading text color
@loading-text-color: @B800;
