.icon-list-wrap .page-header-en {
  margin-left: 0;
}
.icon-search-input {
  margin: 20px 0 40px 0;
}

.icon-item-list {
  .icon-list-group-title {
    margin-bottom: 2rem;
  }
  .icon-item {
    display: inline-block;
    width: 33.33%;
    vertical-align: top;
    margin-bottom: 1rem;
    padding: 10px;
    cursor: pointer;
    opacity: 0.8;
    position: relative;

    @media (min-width: @media-xs) {
      width: 120px;
    }

    &.new-icon:hover .icon-wrapper::before {
      display: none;
    }

    &.new-icon .icon-wrapper::before {
      position: absolute;
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: @error-color;
      top: 12px;
      right: 12px;
    }
    .icon-wrapper {
      height: 50px;
      text-align: center;
    }
    .icon-content {
      display: block;
      width: 100%;
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-size: 36px;
    }
    &:hover {
      background: @H500;
      color: #fff;
      border-radius: 4px;
      opacity: 1;
    }
    &:hover .icon-name-text {
      color: @H050;
    }
  }
  .icon-name-text {
    font-size: 0.8rem;
    color: #adb5bd;
    width: 100%;
    text-align: center;
  }
  .text-danger {
    color: @error-color;
  }
}

.icon-example-list .@{ns}icon {
  margin: 10px;
}

.code-view-wrapper .@{ns}btn,
.icon-example-list,
.title-wrapper {
  .@{ns}icon svg use {
    fill: currentColor !important;
  }
}
