.rs-anim-collapse {
  display: none;

  &.rs-anim-in {
    display: block;
  }

  &:where(tr).rs-anim-in {
    display: table-row;
  }

  &:where(tbody).rs-anim-in {
    display: table-row-group;
  }
}

.rs-anim-collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height var(--rs-anim-collapse-duration) ease,
    width var(--rs-anim-collapse-duration) ease, visibility var(--rs-anim-collapse-duration) ease;
}
