@import '../../styles/common.less';
@import '../../MultiCascadeTree/styles/index.less';
@import '../../internals/Picker/styles/index.less';

.rs-picker-popup-multi-cascader {
  .rs-cascade-search-view-row {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .rs-cascade-search-view-col {
    padding: 0;
  }
}
