@plugin '../plugins/palette';

// Primary palette

@base-color: #34c3ff; // TODO: remove @base-color, use @primary-color instead
@primary-color: @base-color;

// Highlight levels
@H050: palette(@primary-color, 50);
@H100: palette(@primary-color, 100);
@H200: palette(@primary-color, 200);
@H300: palette(@primary-color, 300);
@H400: palette(@primary-color, 400);
@H500: @primary-color;
@H600: palette(@primary-color, 600);
@H700: palette(@primary-color, 700);
@H800: palette(@primary-color, 800);
@H900: palette(@primary-color, 900);

// Gray levels
@B000: #fff;
@B050: #e9ebf0;
@B100: #cbced4;
@B200: #a4a9b3;
@B300: #858b94;
@B400: #6a6f76;
@B500: #5c6066;
@B600: #3c3f43;
@B700: #292d33;
@B800: #1a1d24;
@B900: #0f131a;

// Secondary palette

// spectrum
@red: #f04f43;
@orange: #ff9800;
@yellow: #ffc757;
@green: #58b15b;
@cyan: #00bcd4;
@blue: #1499ef;
@violet: #673ab7;

// Stateful colors
@success-color: @green;
@success-light-color: @B000;

@info-color: @blue;
@info-light-color: @B000;

@warning-color: #ffc757;
@warning-light-color: @B000;

@error-color: @red;
@error-light-color: @B000;
