@plugin '../plugins/palette';

// Highlight levels
@H050-dark: palette(@primary-color-dark, 50);
@H100-dark: palette(@primary-color-dark, 100);
@H200-dark: palette(@primary-color-dark, 200);
@H300-dark: palette(@primary-color-dark, 300);
@H400-dark: palette(@primary-color-dark, 400);
@H500-dark: @primary-color-dark;
@H600-dark: palette(@primary-color-dark, 600);
@H700-dark: palette(@primary-color-dark, 700);
@H800-dark: palette(@primary-color-dark, 800);
@H900-dark: palette(@primary-color-dark, 900);

// Gray levels
@B000-dark: #fff;
@B050-dark: #e9ebf0;
@B100-dark: #cbced4;
@B200-dark: #a4a9b3;
@B300-dark: #858b94;
@B400-dark: #6a6f76;
@B500-dark: #5c6066;
@B600-dark: #3c3f43;
@B700-dark: #292d33;
@B800-dark: #1a1d24;
@B900-dark: #0f131a;

// Secondary palette

@red-50-dark: palette(@red-dark, 50);
@red-100-dark: palette(@red-dark, 100);
@red-200-dark: palette(@red-dark, 200);
@red-300-dark: palette(@red-dark, 300);
@red-400-dark: palette(@red-dark, 400);
@red-500-dark: @red-dark;
@red-600-dark: palette(@red-dark, 600);
@red-700-dark: palette(@red-dark, 700);
@red-800-dark: palette(@red-dark, 800);
@red-900-dark: palette(@red-dark, 900);

@orange-50-dark: palette(@orange-dark, 50);
@orange-100-dark: palette(@orange-dark, 100);
@orange-200-dark: palette(@orange-dark, 200);
@orange-300-dark: palette(@orange-dark, 300);
@orange-400-dark: palette(@orange-dark, 400);
@orange-500-dark: @orange-dark;
@orange-600-dark: palette(@orange-dark, 600);
@orange-700-dark: palette(@orange-dark, 700);
@orange-800-dark: palette(@orange-dark, 800);
@orange-900-dark: palette(@orange-dark, 900);

@yellow-50-dark: palette(@yellow-dark, 50);
@yellow-100-dark: palette(@yellow-dark, 100);
@yellow-200-dark: palette(@yellow-dark, 200);
@yellow-300-dark: palette(@yellow-dark, 300);
@yellow-400-dark: palette(@yellow-dark, 400);
@yellow-500-dark: @yellow-dark;
@yellow-600-dark: palette(@yellow-dark, 600);
@yellow-700-dark: palette(@yellow-dark, 700);
@yellow-800-dark: palette(@yellow-dark, 800);
@yellow-900-dark: palette(@yellow-dark, 900);

@green-50-dark: palette(@green-dark, 50);
@green-100-dark: palette(@green-dark, 100);
@green-200-dark: palette(@green-dark, 200);
@green-300-dark: palette(@green-dark, 300);
@green-400-dark: palette(@green-dark, 400);
@green-500-dark: @green-dark;
@green-600-dark: palette(@green-dark, 600);
@green-700-dark: palette(@green-dark, 700);
@green-800-dark: palette(@green-dark, 800);
@green-900-dark: palette(@green-dark, 900);

@cyan-50-dark: palette(@cyan-dark, 50);
@cyan-100-dark: palette(@cyan-dark, 100);
@cyan-200-dark: palette(@cyan-dark, 200);
@cyan-300-dark: palette(@cyan-dark, 300);
@cyan-400-dark: palette(@cyan-dark, 400);
@cyan-500-dark: @cyan-dark;
@cyan-600-dark: palette(@cyan-dark, 600);
@cyan-700-dark: palette(@cyan-dark, 700);
@cyan-800-dark: palette(@cyan-dark, 800);
@cyan-900-dark: palette(@cyan-dark, 900);

@blue-50-dark: palette(@blue-dark, 50);
@blue-100-dark: palette(@blue-dark, 100);
@blue-200-dark: palette(@blue-dark, 200);
@blue-300-dark: palette(@blue-dark, 300);
@blue-400-dark: palette(@blue-dark, 400);
@blue-500-dark: @blue-dark;
@blue-600-dark: palette(@blue-dark, 600);
@blue-700-dark: palette(@blue-dark, 700);
@blue-800-dark: palette(@blue-dark, 800);
@blue-900-dark: palette(@blue-dark, 900);

@violet-50-dark: palette(@violet-dark, 50);
@violet-100-dark: palette(@violet-dark, 100);
@violet-200-dark: palette(@violet-dark, 200);
@violet-300-dark: palette(@violet-dark, 300);
@violet-400-dark: palette(@violet-dark, 400);
@violet-500-dark: @violet-dark;
@violet-600-dark: palette(@violet-dark, 600);
@violet-700-dark: palette(@violet-dark, 700);
@violet-800-dark: palette(@violet-dark, 800);
@violet-900-dark: palette(@violet-dark, 900);
