@plugin '../plugins/palette';

// Highlight levels
@H050: palette(@primary-color-dark, 50);
@H100: palette(@primary-color-dark, 100);
@H200: palette(@primary-color-dark, 200);
@H300: palette(@primary-color-dark, 300);
@H400: palette(@primary-color-dark, 400);
@H500: @primary-color-dark;
@H600: palette(@primary-color-dark, 600);
@H700: palette(@primary-color-dark, 700);
@H800: palette(@primary-color-dark, 800);
@H900: palette(@primary-color-dark, 900);

// Gray levels
@B000: #fff;
@B050: #e9ebf0;
@B100: #cbced4;
@B200: #a4a9b3;
@B300: #858b94;
@B400: #6a6f76;
@B500: #5c6066;
@B600: #3c3f43;
@B700: #292d33;
@B800: #1a1d24;
@B900: #0f131a;

// Secondary palette

@red-50: palette(@red-dark, 50);
@red-100: palette(@red-dark, 100);
@red-200: palette(@red-dark, 200);
@red-300: palette(@red-dark, 300);
@red-400: palette(@red-dark, 400);
@red-500: @red-dark;
@red-600: palette(@red-dark, 600);
@red-700: palette(@red-dark, 700);
@red-800: palette(@red-dark, 800);
@red-900: palette(@red-dark, 900);

@orange-50: palette(@orange-dark, 50);
@orange-100: palette(@orange-dark, 100);
@orange-200: palette(@orange-dark, 200);
@orange-300: palette(@orange-dark, 300);
@orange-400: palette(@orange-dark, 400);
@orange-500: @orange-dark;
@orange-600: palette(@orange-dark, 600);
@orange-700: palette(@orange-dark, 700);
@orange-800: palette(@orange-dark, 800);
@orange-900: palette(@orange-dark, 900);

@yellow-50: palette(@yellow-dark, 50);
@yellow-100: palette(@yellow-dark, 100);
@yellow-200: palette(@yellow-dark, 200);
@yellow-300: palette(@yellow-dark, 300);
@yellow-400: palette(@yellow-dark, 400);
@yellow-500: @yellow-dark;
@yellow-600: palette(@yellow-dark, 600);
@yellow-700: palette(@yellow-dark, 700);
@yellow-800: palette(@yellow-dark, 800);
@yellow-900: palette(@yellow-dark, 900);

@green-50: palette(@green-dark, 50);
@green-100: palette(@green-dark, 100);
@green-200: palette(@green-dark, 200);
@green-300: palette(@green-dark, 300);
@green-400: palette(@green-dark, 400);
@green-500: @green-dark;
@green-600: palette(@green-dark, 600);
@green-700: palette(@green-dark, 700);
@green-800: palette(@green-dark, 800);
@green-900: palette(@green-dark, 900);

@cyan-50: palette(@cyan-dark, 50);
@cyan-100: palette(@cyan-dark, 100);
@cyan-200: palette(@cyan-dark, 200);
@cyan-300: palette(@cyan-dark, 300);
@cyan-400: palette(@cyan-dark, 400);
@cyan-500: @cyan-dark;
@cyan-600: palette(@cyan-dark, 600);
@cyan-700: palette(@cyan-dark, 700);
@cyan-800: palette(@cyan-dark, 800);
@cyan-900: palette(@cyan-dark, 900);

@blue-50: palette(@blue-dark, 50);
@blue-100: palette(@blue-dark, 100);
@blue-200: palette(@blue-dark, 200);
@blue-300: palette(@blue-dark, 300);
@blue-400: palette(@blue-dark, 400);
@blue-500: @blue-dark;
@blue-600: palette(@blue-dark, 600);
@blue-700: palette(@blue-dark, 700);
@blue-800: palette(@blue-dark, 800);
@blue-900: palette(@blue-dark, 900);

@violet-50: palette(@violet-dark, 50);
@violet-100: palette(@violet-dark, 100);
@violet-200: palette(@violet-dark, 200);
@violet-300: palette(@violet-dark, 300);
@violet-400: palette(@violet-dark, 400);
@violet-500: @violet-dark;
@violet-600: palette(@violet-dark, 600);
@violet-700: palette(@violet-dark, 700);
@violet-800: palette(@violet-dark, 800);
@violet-900: palette(@violet-dark, 900);
