@plugin '../plugins/palette';

// Highlight levels
@H050-high-contrast: #fffef2;
@H100-high-contrast: #fffbc2;
@H200-high-contrast: #fffa91;
@H300-high-contrast: #fffa61;
@H400-high-contrast: #fffc30;
@H500-high-contrast: #ffff00;
@H600-high-contrast: #f1f500;
@H700-high-contrast: #d9e000;
@H800-high-contrast: #b8c200;
@H900-high-contrast: #8f9900;

// Gray levels
@B000-high-contrast: #fff;
@B050-high-contrast: #e9ebf0;
@B100-high-contrast: #cbced4;
@B200-high-contrast: #a4a9b3;
@B300-high-contrast: #858b94;
@B400-high-contrast: #6a6f76;
@B500-high-contrast: #5c6066;
@B600-high-contrast: #3c3f43;
@B700-high-contrast: #292d33;
@B800-high-contrast: #1a1d24;
@B900-high-contrast: #0f131a;

// Secondary palette

@red-50-high-contrast: palette(@red-high-contrast, 50);
@red-100-high-contrast: palette(@red-high-contrast, 100);
@red-200-high-contrast: palette(@red-high-contrast, 200);
@red-300-high-contrast: palette(@red-high-contrast, 300);
@red-400-high-contrast: palette(@red-high-contrast, 400);
@red-500-high-contrast: @red-high-contrast;
@red-600-high-contrast: palette(@red-high-contrast, 600);
@red-700-high-contrast: palette(@red-high-contrast, 700);
@red-800-high-contrast: palette(@red-high-contrast, 800);
@red-900-high-contrast: palette(@red-high-contrast, 900);

@orange-50-high-contrast: palette(@orange-high-contrast, 50);
@orange-100-high-contrast: palette(@orange-high-contrast, 100);
@orange-200-high-contrast: palette(@orange-high-contrast, 200);
@orange-300-high-contrast: palette(@orange-high-contrast, 300);
@orange-400-high-contrast: palette(@orange-high-contrast, 400);
@orange-500-high-contrast: @orange-high-contrast;
@orange-600-high-contrast: palette(@orange-high-contrast, 600);
@orange-700-high-contrast: palette(@orange-high-contrast, 700);
@orange-800-high-contrast: palette(@orange-high-contrast, 800);
@orange-900-high-contrast: palette(@orange-high-contrast, 900);

@yellow-50-high-contrast: palette(@yellow-high-contrast, 50);
@yellow-100-high-contrast: palette(@yellow-high-contrast, 100);
@yellow-200-high-contrast: palette(@yellow-high-contrast, 200);
@yellow-300-high-contrast: palette(@yellow-high-contrast, 300);
@yellow-400-high-contrast: palette(@yellow-high-contrast, 400);
@yellow-500-high-contrast: @yellow-high-contrast;
@yellow-600-high-contrast: palette(@yellow-high-contrast, 600);
@yellow-700-high-contrast: palette(@yellow-high-contrast, 700);
@yellow-800-high-contrast: palette(@yellow-high-contrast, 800);
@yellow-900-high-contrast: palette(@yellow-high-contrast, 900);

@green-50-high-contrast: palette(@green-high-contrast, 50);
@green-100-high-contrast: palette(@green-high-contrast, 100);
@green-200-high-contrast: palette(@green-high-contrast, 200);
@green-300-high-contrast: palette(@green-high-contrast, 300);
@green-400-high-contrast: palette(@green-high-contrast, 400);
@green-500-high-contrast: @green-high-contrast;
@green-600-high-contrast: palette(@green-high-contrast, 600);
@green-700-high-contrast: palette(@green-high-contrast, 700);
@green-800-high-contrast: palette(@green-high-contrast, 800);
@green-900-high-contrast: palette(@green-high-contrast, 900);

@cyan-50-high-contrast: palette(@cyan-high-contrast, 50);
@cyan-100-high-contrast: palette(@cyan-high-contrast, 100);
@cyan-200-high-contrast: palette(@cyan-high-contrast, 200);
@cyan-300-high-contrast: palette(@cyan-high-contrast, 300);
@cyan-400-high-contrast: palette(@cyan-high-contrast, 400);
@cyan-500-high-contrast: @cyan-high-contrast;
@cyan-600-high-contrast: palette(@cyan-high-contrast, 600);
@cyan-700-high-contrast: palette(@cyan-high-contrast, 700);
@cyan-800-high-contrast: palette(@cyan-high-contrast, 800);
@cyan-900-high-contrast: palette(@cyan-high-contrast, 900);

@blue-50-high-contrast: palette(@blue-high-contrast, 50);
@blue-100-high-contrast: palette(@blue-high-contrast, 100);
@blue-200-high-contrast: palette(@blue-high-contrast, 200);
@blue-300-high-contrast: palette(@blue-high-contrast, 300);
@blue-400-high-contrast: palette(@blue-high-contrast, 400);
@blue-500-high-contrast: @blue-high-contrast;
@blue-600-high-contrast: palette(@blue-high-contrast, 600);
@blue-700-high-contrast: palette(@blue-high-contrast, 700);
@blue-800-high-contrast: palette(@blue-high-contrast, 800);
@blue-900-high-contrast: palette(@blue-high-contrast, 900);

@violet-50-high-contrast: palette(@violet-high-contrast, 50);
@violet-100-high-contrast: palette(@violet-high-contrast, 100);
@violet-200-high-contrast: palette(@violet-high-contrast, 200);
@violet-300-high-contrast: palette(@violet-high-contrast, 300);
@violet-400-high-contrast: palette(@violet-high-contrast, 400);
@violet-500-high-contrast: @violet-high-contrast;
@violet-600-high-contrast: palette(@violet-high-contrast, 600);
@violet-700-high-contrast: palette(@violet-high-contrast, 700);
@violet-800-high-contrast: palette(@violet-high-contrast, 800);
@violet-900-high-contrast: palette(@violet-high-contrast, 900);
