@mixin kbd {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  flex-shrink: 0;
  white-space: nowrap;
  word-spacing: -0.4em;
  user-select: none;
  border-radius: var(--rs-radius-sm);
  line-height: 1.7em;
  padding-inline-start: 0.5em;
  padding-inline-end: 0.5em;
  padding-bottom: 0.05em;
  height: fit-content;
  box-sizing: border-box;
  background-color: var(--rs-kbd-bg);
  border: solid 1px var(--rs-kbd-border);
  box-shadow: inset 0 -1px 0 var(--rs-kbd-border);
  color: var(--rs-kbd-text);
  font-family: var(--rs-kbd-font-family);
  font-size: var(--rs-kbd-font-size);
  letter-spacing: var(--rs-kbd-letter-spacing);
}
