:root {
  --rs-kbd-font-size-xs: var(--rs-font-size-2xs);
  --rs-kbd-font-size-sm: var(--rs-font-size-xs);
  --rs-kbd-font-size-md: var(--rs-font-size-sm);
  --rs-kbd-font-size-lg: var(--rs-font-size-md);
  --rs-kbd-letter-spacing-xs: 0.0025em;
  --rs-kbd-letter-spacing-sm: 0em;
  --rs-kbd-letter-spacing-md: 0em;
  --rs-kbd-letter-spacing-lg: -0.0025em;
  --rs-kbd-font-family: var(--rs-font-family-monospace);
  --rs-kbd-font-size: var(--rs-kbd-font-size-md);
  --rs-kbd-letter-spacing: var(--rs-kbd-letter-spacing-md);
}
