@import '../../styles/common.less';
@import './variables.less';
@import './mixin.less';

// Kbd
// -------------------------

.rs-kbd {
  .kbd();

  // Size variants
  @sizes: lg, md, sm, xs;

  each(@sizes, .(@size) {
    &-@{size} {
      --rs-kbd-font-size: var(~'--rs-kbd-font-size-@{size}');
      --rs-kbd-letter-spacing: var(~'--rs-kbd-letter-spacing-@{size}');
    }
  });
}
