@import '../../styles/common.less';
@import './variables.less';
@import './mixin.less';

// Kbd
// -------------------------

.rs-kbd {
  .kbd();

  // Size variants
  @sizes: lg, md, sm, xs;

  each(@sizes, .(@size) {
    @font-size: ~'kbd-@{size}-font-size';
    @letter-spacing: ~'kbd-@{size}-letter-spacing';

    &-@{size} {
      --rs-kbd-font-size: @@font-size;
      --rs-kbd-letter-spacing: @@letter-spacing;
    }
  });
}
