@use 'sass:list';
@use '../../internals/Box/styles/index' as box;
@use './variables';
@use './mixin' as kbd-mixin;

// Kbd
// -------------------------

.rs-kbd {
  @include kbd-mixin.kbd();

  // Size variants
  $sizes: lg, md, sm, xs;

  @each $size in $sizes {
    &-#{$size} {
      --rs-kbd-font-size: var(--rs-kbd-font-size-#{$size});
      --rs-kbd-letter-spacing: var(--rs-kbd-letter-spacing-#{$size});
    }
  }
}
