.calendar-cell-selected-hover() {
  background-color: var(--rs-calendar-cell-selected-hover-bg);
  color: var(--rs-calendar-date-selected-text);

  .high-contrast-mode({
    color: var(--rs-calendar-date-selected-text);
  });
}
