@use '../../internals/Box/styles/index' as box;

.rs-card-group {
  --rs-card-group-columns: 4;
  --rs-card-group-spacing: 20px;

  display: grid;
  grid-template-columns: repeat(var(--rs-card-group-columns), 1fr);
  grid-gap: var(--rs-card-group-spacing);
}
