//
// Alerts
// --------------------------------------------------

// Base styles
// -------------------------

.@{notification-ns} {
  position: fixed;
  z-index: @zindex-notification;
  // Make sure the mouse can penetrate through the gap area.
  pointer-events: none;

  &-notice {
    // Recovery mouse event.
    pointer-events: auto;
  }

  // Multiple notification should have spacing
  // Hiding notification haven't spacing.
  &-notice-wrapper:not(.@{notification-ns}-fade-exited) + .@{notification-ns}-notice-wrapper {
    margin-top: 10px;
  }

  // Center content
  &&-alert {
    left: 50%;
  }

  // Alert wrapper
  &-alert &-notice-wrapper {
    display: block;
    text-align: center;
    width: 100%;
    margin-left: -50%;

    .@{notification-ns}-notice {
      display: inline-block;
      position: relative;
    }
  }

  // Alert content
  &-alert &-notice-content {
    text-align: left;
    padding: @alert-padding;
    border-radius: @alert-border-radius;
    box-shadow: @alert-box-shadow;
    max-width: @alert-max-width;
    padding-left: @alert-padding + 24px;
    position: relative;

    p {
      margin-bottom: 0;
    }

    .@{ns}icon {
      position: absolute;
      // Make sure icon vertical align center
      top: @alert-padding + 3px;
      left: @alert-padding;
      margin-right: 10px;
      font-size: @font-size-small;
      line-height: @font-size-small;
    }
  }

  // Alert close button
  &-alert &-notice-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: @alert-close-btn-padding;
    font-size: @alert-close-btn-size;
    line-height: 1;
    outline: none !important;
    cursor: pointer;

    &-x::before {
      .icon-font;

      content: @default-close-btn-content;
    }
  }

  // Animations
  &-alert &-fade-exited,
  &-alert &-fade-entering {
    opacity: 0;
  }

  // The same to @keyframe alertMoveOut  100%.
  &-alert &-fade-exited {
    transform-origin: 0% 0%;
    transform: scaleY(.8);
    max-height: 0;
    overflow: hidden;
  }

  &-alert &-fade-entered {
    animation: alertMoverIn .3s ease-in forwards;
  }

  &-alert &-fade-leave-active {
    animation: alertMoveOut .3s ease-out forwards;
  }
}

// Alternate styles
// -------------------------
// Generate contextual modifier classes for colorizing the alert.

.@{notification-ns}-success {
  .alert-variant(@alert-success-bg; @alert-success-icon-color);
}

.@{notification-ns}-info {
  .alert-variant(@alert-info-bg; @alert-info-icon-color);
}

.@{notification-ns}-warning {
  .alert-variant(@alert-warning-bg; @alert-warning-icon-color);
}

.@{notification-ns}-error {
  .alert-variant(@alert-error-bg; @alert-error-icon-color);
}
