//
// Modals
// --------------------------------------------------

// Kill the scroll on the body
.@{ns}modal-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.@{ns}modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: @zindex-modal;

  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;

  // Scale up the modal
  &-lg {
    .content-width(@modal-lg);
  }

  &-md {
    .content-width(@modal-md);
  }

  &-sm {
    .content-width(@modal-sm);
  }

  &-xs {
    .content-width(@modal-xs);
  }

  &-full {
    @modal-full-size-margin-value: unit(@modal-full-size-margin);
    .content-width(~"calc(100% - `@{modal-full-size-margin-value} * 2`px)");

    .@{ns}modal-dialog {
      margin-left: @modal-full-size-margin;
      margin-right: @modal-full-size-margin;
    }
  }

  // Animations
  &.fade .@{ns}modal-dialog {
    // timing: fast-out
    animation: modalMoveOut .3s cubic-bezier(.4, 0, 1, 1) forwards;
  }

  &.in .@{ns}modal-dialog {
    opacity: 0;
    // timing: ease-in-out
    animation: modalMoveIn .3s cubic-bezier(.68, -.55, .27, 1.55) forwards;
  }
}

.@{ns}modal-open .@{ns}modal {
  overflow-x: hidden;
  overflow-y: auto;
}

// Shell div to position the modal with bottom padding
.@{ns}modal-dialog {
  position: relative;
  width: auto;
  margin: 30px auto;
  z-index: @zindex-modal;
}

// Actual modal
.@{ns}modal-content {
  position: relative;
  background-color: @modal-content-bg;
  border-radius: @modal-border-radius;
  // Remove focus outline from opened modal
  outline: 0;
  box-shadow: @modal-box-shadow;
  padding: @modal-content-padding;
}

// Modal background
.@{ns}modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: @zindex-modal-background;
  background-color: @modal-backdrop-bg;

  // Fade for backdrop
  &.fade {
    opacity: 0;
    transition: opacity .3s ease-in;
  }

  &.in {
    opacity: @modal-backdrop-opacity;
  }
}

// Modal header
// Top section of the modal w/ title and dismiss
.@{ns}modal-header {
  &:extend(.clearfix all);

  padding-right: @line-height-computed;

  .@{ns}modal-title {
    width: 100%;
    display: block;
    color: @modal-title-color;
    .ellipsis;
  }
}

// Close icon
.@{ns}modal-header .@{ns}modal-header-close {
  // button width the same to height
  @padding-right: (@line-height-computed - @modal-close-btn-size)/2;

  outline: 0;
  position: absolute;
  right: @modal-content-padding;
  top: @modal-content-padding;
  font-size: @modal-close-btn-size;
  line-height: @modal-close-btn-line-height;
  color: @modal-close-btn-color;
  width: @line-height-computed;
  padding: 0 @padding-right;
  background: none;
  // Remove border in IE/Firefox and so on.
  border-style: none;

  &::before {
    .icon-font;

    content: @default-close-btn-content;
  }

  [aria-hidden] {
    display: none;
  }
}

// Title text within header
.@{ns}modal-header .title {
  margin: 0;
  color: @text-primary-color;
  font-size: @modal-title-font-size;
  line-height: @modal-title-line-height;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.@{ns}modal-body {
  position: relative;
  margin-top: @modal-body-margin;
  margin-bottom: @modal-body-margin;
}

// Footer (for actions)
.@{ns}modal-footer {
  text-align: right; // right align buttons
  border-top: none;
  &:extend(.clearfix all); // clear it in case folks use .pull-* classes on buttons

  // Properly space out buttons
  .@{ns}btn + .@{ns}btn {
    margin-left: 10px;
    margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
  }
  // but override that for button groups
  .@{ns}btn-group .@{ns}btn + .@{ns}btn {
    margin-left: -1px;
  }
  // and override it for block buttons as well
  .@{ns}btn-block + .@{ns}btn-block {
    margin-left: 0;
  }
}

// Measure scrollbar width for padding body during modal show/hide
.@{ns}modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

