.reset-sidenav-dropdown-menu() {
  display: block;
  position: static;
  float: none;
  box-shadow: none;
  animation-name: none;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}

.dropdown-menu-icon-left-position(@left) {
  &.rs-dropdown-item-with-icon > .rs-dropdown-item-content {
    > .rs-dropdown-item-menu-icon {
      left: @left;
    }

    > .rs-dropdown-menu-toggle {
      padding-left: (@left + 20px);
    }
  }
}
