.checkbox-inner-wrap(@border-color:@checkbox-default-border-color) {
  border: 1px solid @border-color;
  background-color: @checkbox-bg;
  border-radius: @checkbox-border-radius;
}

.checkbox-inner-active-shadow(@shadow-color:@checkbox-default-border-color) {
  box-shadow: 0 0 0 2px fadeOut(@shadow-color, 60%);
}
