.rs-image {
  --rs-object-fit: cover;
  --rs-object-position: initial;

  object-fit: var(--rs-object-fit);
  object-position: var(--rs-object-position);
  max-width: 100%;

  &-rounded {
    border-radius: 6px;
  }

  &-circle {
    border-radius: 50%;
  }

  &-bordered {
    border: 1px solid var(--rs-border-primary);
  }

  &-zoomed {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: matrix(1.25, 0, 0, 1.25, 0, 0);
    }
  }
}

.rs-image-wrapper {
  position: relative;
  overflow: hidden;
}
