:root {
  --rs-heading-font-family: inherit;
  --rs-heading-font-weight: bolder;
  --rs-heading-color: inherit;

  --rs-heading-h1-font-size: var(--rs-font-size-5xl);
  --rs-heading-h2-font-size: var(--rs-font-size-4xl);
  --rs-heading-h3-font-size: var(--rs-font-size-3xl);
  --rs-heading-h4-font-size: var(--rs-font-size-2xl);
  --rs-heading-h5-font-size: var(--rs-font-size-xl);
  --rs-heading-h6-font-size: var(--rs-font-size-lg);

  --rs-heading-h1-line-height: var(--rs-text-line-height-5xl);
  --rs-heading-h2-line-height: var(--rs-text-line-height-4xl);
  --rs-heading-h3-line-height: var(--rs-text-line-height-3xl);
  --rs-heading-h4-line-height: var(--rs-text-line-height-2xl);
  --rs-heading-h5-line-height: var(--rs-text-line-height-xl);
  --rs-heading-h6-line-height: var(--rs-text-line-height-lg);
}
