:root {
  --rs-loader-duration-fast: @loader-duration-fast;
  --rs-loader-duration-normal: @loader-duration-normal;
  --rs-loader-duration-slow: @loader-duration-slow;
  --rs-loader-duration-paused: @loader-duration-paused;

  --rs-loader-size-xs: 1rem;
  --rs-loader-size-sm: 1.125rem;
  --rs-loader-size-md: 2.25rem;
  --rs-loader-size-lg: 4rem;

  --rs-loader-font-size-xs: var(--rs-font-size-xs);
  --rs-loader-font-size-sm: var(--rs-font-size-sm);
  --rs-loader-font-size-md: var(--rs-font-size-sm);
  --rs-loader-font-size-lg: var(--rs-font-size-md);
}
