@import '../../styles/common.less';
@import 'mixin.less';

//
// Buttons
// --------------------------------------------------

// Base styles
// --------------------------------------------------
.rs-btn {
  .btn-base();

  &:disabled,
  &.rs-btn-disabled {
    &:extend(button[disabled]);
    cursor: @cursor-disabled !important;
    pointer-events: none;

    .rs-ripple-pond {
      display: none !important;
    }
  }
}

// Appearance variants
// --------------------------------------------------

// Default Button
.rs-btn-default {
  color: @btn-default-color;
  background: @btn-default-bg;

  &:hover,
  &:focus {
    color: @btn-default-hover-color;
    background-color: @btn-default-hover-bg;
  }

  &:active,
  &.rs-btn-active {
    color: @btn-default-color;
    background-color: @btn-default-active-bg;
  }

  &:disabled,
  &.rs-btn-disabled {
    color: @btn-default-disabled-color !important;
    background-color: @btn-default-disabled-bg !important;
  }

  .button-ripple();
}

// Primary Button
.rs-btn-primary {
  color: @btn-primary-color;
  background-color: @btn-primary-bg;

  &:hover,
  &:focus {
    background-color: @btn-primary-hover-bg;
  }

  &:active,
  &.rs-btn-active {
    background-color: @btn-primary-active-bg;
  }

  &:disabled,
  &.rs-btn-disabled {
    opacity: @btn-disabled-opacity;
  }

  .button-ripple();
}

// Subtle Button
.rs-btn-subtle {
  color: @btn-subtle-color;
  background-color: transparent;

  &:hover,
  &:focus {
    color: @btn-subtle-default-hover-color;
    background-color: @btn-subtle-hover-bg;
  }

  &:active,
  &.rs-btn-active {
    color: @btn-subtle-active-default-color;
    background-color: @btn-subtle-active-default-bg;
  }

  &:disabled,
  &.rs-btn-disabled {
    color: @btn-subtle-disabled-color;
    background: none;
  }

  .button-ripple();
}

// Link buttons
.rs-btn-link {
  color: @link-color;
  background-color: transparent;

  &:hover,
  &:focus {
    color: @link-hover-color;
    text-decoration: @link-hover-decoration;
  }

  &:active,
  &.rs-btn-active {
    color: @link-active-color;
  }

  &:disabled,
  &.rs-btn-disabled {
    opacity: @btn-disabled-opacity;
  }
}

// Ghost Button
.rs-btn-ghost {
  color: @btn-ghost-color;
  background-color: transparent;
  border: @btn-ghost-border-width solid @btn-ghost-border-color;

  &:hover,
  &:focus {
    color: @btn-ghost-hover-color;
    border-color: @btn-ghost-hover-border-color;
  }


  &:active,
  &.rs-btn-active {
    color: @btn-ghost-active-color;
    border-color: @btn-ghost-active-border-color;
  }

  &:disabled,
  &.rs-btn-disabled {
    opacity: @btn-disabled-opacity;
  }
}

// Spectrum buttons
each(@spectrum, .(@color-name) {
  .rs-btn-@{color-name} {
    @color: @@color-name;

    .rs-btn-default& {
      .btn-variant-primary(@color);
    }
    .rs-btn-primary& {
      .btn-variant-primary(@color);
    }
    .rs-btn-subtle& {
      .btn-subtle-variant(@color);
    }
    .rs-btn-link& {
      .btn-variant-link(color(~`palette('@{color}', 700) `));
    }
    .rs-btn-ghost& {
      .btn-variant-ghost(color(~`palette('@{color}', 700) `));
    }
  }
});

// Button Sizes
// --------------------------------------------------

.rs-btn-lg {
  .btn-lg();
}

.rs-btn-sm {
  .btn-sm();
}

.rs-btn-xs {
  .btn-xs();
}

// Block button
// --------------------------------------------------

.rs-btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  & + & {
    margin-top: 5px;
  }
}

// Button Loading state
.rs-btn-loading {
  color: transparent !important;
  position: relative;
  cursor: default;
  pointer-events: none;

  // Spinner
  > .rs-btn-spin {
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: @btn-loading-spin-default-diameter;
      height: @btn-loading-spin-default-diameter;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 50%;

      .rs-btn-xs& {
        width: @btn-loading-spin-xs-diameter;
        height: @btn-loading-spin-xs-diameter;
      }
    }

    &::before {
      border: @btn-loading-spin-ring-wide solid @btn-loading-spin-ring-color;

      .rs-btn-primary& {
        opacity: @btn-disabled-opacity;
      }
    }

    &::after {
      border-width: @btn-loading-spin-ring-wide;
      border-color: @btn-spin-light-invert-color transparent transparent;
      border-style: solid;
      animation: buttonSpin 0.6s infinite linear;

      .rs-btn-primary& {
        border-top-color: @btn-spin-light-color;
      }
    }
  }
}
