@import '../../styles/mixins/color-modes';
// States

.button-activated(@rules) {
  &:hover {
    @rules();
  }
}

.button-pressed(@rules) {
  &:active,
  &.rs-btn-active {
    @rules();
  }
}

.button-disabled(@rules) {
  &:disabled,
  &.rs-btn-disabled {
    @rules();

    .high-contrast-mode({
      border-color: var(--rs-btn-default-disabled-boreder-color);
    });
  }
}

// Sizes

// TODO: rename
.button-size(@height; @space-x; @icon-size) {
  padding-inline: @space-x;

  .rs-btn-ghost& {
    // Ghost button has 1px border
    padding-inline: (@space-x - @btn-ghost-border-width);
  }

  .rs-btn-icon& {
    @space: ((@height - @icon-size) / 2);

    padding: @space;
    line-height: @icon-size;

    > .rs-icon {
      font-size: @icon-size;
    }
  }

  .rs-btn-icon-with-text& {
    > .rs-icon {
      @space: ((@height - @icon-size) / 2);

      padding: @space;
      width: @height;
      height: @height;
    }

    &.rs-btn-icon-placement-left {
      padding-inline: (@height + @space-x) @space-x;

      > .rs-icon {
        left: 0;
        border-right: var(--rs-btn-default-border, none);
      }
    }

    &.rs-btn-icon-placement-right {
      padding-inline: @space-x (@height + @space-x);

      > .rs-icon {
        right: 0;
        border-left: var(--rs-btn-default-border, none);
      }
    }
  }
}

.button-size-lg() {
  .button-size(42px; 16px; 20px;);

  font-size: var(--rs-btn-font-size-lg);
  line-height: var(--rs-btn-line-height-lg);
  padding-block: 0.625rem;
}

.button-size-md() {
  .button-size(36px; 12px; 16px;);

  font-size: var(--rs-btn-font-size-md);
  line-height: var(--rs-btn-line-height-md);
  padding-block: 0.5rem;
}

.button-size-sm() {
  .button-size(30px; 10px; 16px;);

  font-size: var(--rs-btn-font-size-sm);
  line-height: var(--rs-btn-line-height-sm);
  padding-block: 0.3125rem;
}

.button-size-xs() {
  .button-size(24px; 8px; 12px;);

  font-size: var(--rs-btn-font-size-xs);
  line-height: var(--rs-btn-line-height-xs);
  padding-block: 0.125rem;
}
