@import './highlight.less';

@primary-color:#FF8533;
@bg-color:#373c44;

.logo{
    font-family: "open sans",arial,sans-serif;
    .prefix{
        color: @primary-color;
    }
}

.box-shadow(@x:0px, @y:2px, @blur:3px, @color:rgba(0, 0, 0, 0.28)) {
    -moz-box-shadow: @arguments;
    -webkit-box-shadow: @arguments;
    box-shadow: @arguments;
}
.doc-page{
    .navbar-inverse{
        background: @bg-color;
        .active a{
            background: #141c23;
        }
    }
}
.doc-header{
    &.overflow{
        .box-shadow(0,2px,3px,rgba(0, 0, 0, 0.10));
        border:none;
    }
    .navbar-right{
        margin-right:0
    }
    .navbar-brand{
        .logo;
    }

}

.doc-container{
    margin-top:70px;
    .page-header-en{
        color: #777;
        font-size: 20px;
        margin-left: 20px;
        font-weight: 300;
    }
}

.page-container{
    margin-top: 50px;
    color: #575757;
    .page-header{
        margin:  10px 0 20px;
        word-wrap: break-word;
        word-break: normal;
    }

}

.page-sidebar-wrapper{
    .page-sidebar{
        padding: 0;
    }
}

.ml200{
   margin-left: 200px;
}


.nav.nav-docs{

    background: #f7f7f7;
    a{
        color: #575757;
        font-weight: 200;
    }
    .active{
       background: #eee;
       font-weight: 500;
    }
    .nav-en{
        margin-left: 10px;
        vertical-align:bottom;
    }
    .nav-header{
        &:first-child{
            border: 0;
            margin: 0;
        }
        padding: 15px;
        font-size: 16px;
        color: #999;
        font-weight: 100;
        border-top: 1px solid #e5e5e5;
        margin-top: 10px;
    }
}

.doc-example-wrapper{
    margin-bottom: 18px;
}
.doc-example{
    padding: 46px 18px 18px;
    border: 1px solid #eee;
    position: relative;
    &:after{
        position: absolute;
        top: 18px;
        left: 18px;
        font-size: 12px;
        font-weight: 300;
        color: #959595;
        text-transform: uppercase;
        letter-spacing: 1px;
        content: "Example";
    }
    .container{
        width: auto;
    }
}
.show-grid{
    margin-top:10px;
    [class*=col-]{
        padding: 10px 5px;
        border: 1px solid #ddd;
        background: #f1f1f1;
    }
}
.CodeMirror{
    padding: 10px;
    height: auto !important;
}

.markdown table {
    width: 100%;
    th{
        background: #f1f1f1;
    }
    td,th{
         border: 1px solid #eee;
         padding: 10px;
    }
}

pre{
    border: none;
    border-radius: 0;
}
code{
    border-radius: inherit;
}

.doc-example .btn-toolbar+.btn-toolbar{
    margin-top: 10px;
}

.banner{
    position: absolute;
    width: 100%;
    background:@bg-color;
    top:0;
    left: 0;
    height: 100%;
    z-index: 1040;
    overflow: hidden;
    color:#AAB2BD;

    .nav{
        top: 32px;
        position: absolute;
        left: 200px;
    }
    .sub-title{
        margin-top: 40px;
    }
    .nav > a {
        background: transparent;
        border-radius: 4px;
        color: #AAB2BD;
        margin-right: 10px;
        padding: 10px 23px;
        text-decoration: none;
        &.primary{
             border: 1px solid #FF8533;
        }
        &:hover{
            box-shadow:0 0 10px #FF8533
        }
    }
    .triangle-left {
        background: #3e484a;
        box-shadow: -8px -6px 11px rgba(5, 11, 8, 0.35);
        height: 1000px;
        position: absolute;
        right: -607px;
        top: -400px;
        transform: rotate(-45deg);
        width: 1000px;
        z-index: 100;
        .doc-example{
            border: none;
            opacity: 0.3;
        }
    }
    .typing-wrapper{
        margin-top: 50px;
        .CodeMirror{
            background: none !important;
            opacity: 0.4;
        }
    }
}
.footer{
    margin: 18px 0;
    a{
        margin: 0 10px;
    }
}

#index-content{
    h2, h3{
        font-weight: 700 ;
        margin-top: 40px;
        margin-bottom: 20px;
    }
}
