.combobox-indicator-icon(@right:@padding-x) {
  display: flex;
  align-items: center;
  margin-left: 2px;
  position: absolute;
  top: @padding-y;
  right: @right;
  height: @line-height-computed;
  font-size: 12px;
}
