.icon-list-wrap .page-header-en {
  margin-left: 0;
}
.icon-search-input {
  margin: 20px 0;
  background: var(--rs-placeholder) !important;
  border-color: var(--rs-placeholder);

  .rs-input {
    background: var(--rs-placeholder);
  }
}
.icon-list-no-results-title {
  font-size: 1.2em;
}
.icon-list-no-results-help {
  color: @B700;
  margin-bottom: 1rem;
}
.icon-item-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(56px, 1fr));
  gap: 8px;
  width: 100%;

  .icon-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--rs-placeholder);
    cursor: pointer;
    width: 56px;
    height: 56px;
    font-size: 24px;
    border-radius: 6px;

    &:hover {
      background: var(--rs-placeholder-active);
    }
  }
}

.icon-example-list {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 20px;

  .icon-item-box {
    padding: 10px;
    font-size: 2em;
    box-sizing: content-box;
    border-radius: 4px;
  }
}

.icon-box {
  padding: 20px;
  text-align: center;
  width: 255px;
}

.icon-bg-transparent {
  background-image: linear-gradient(45deg, #f4f4f4 25%, transparent 25%),
    linear-gradient(-45deg, #f4f4f4 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #f4f4f4 75%),
    linear-gradient(-45deg, transparent 75%, #f4f4f4 75%);
  background-size: 30px 30px;
  background-color: #fff;
  background-position: 0 0, 0 15px, 15px -15px, -15px 0;
}

.rcv-container .rs-btn,
.title-wrapper {
  .rs-icon svg use {
    fill: currentColor !important;
  }
}
