.palette-preview {
  margin-top: 20px;

  .rs-panel {
    position: relative;
  }
  .color-box-row {
    margin-bottom: 20px;
  }
  .color-box {
    aspect-ratio: 2 / 1;
  }

  .fake-browser {
    margin-top: 40px;
  }
}
.panel-color-wrap {
  .panel-color {
    th,
    td {
      text-align: left;
      padding: 11px;
      font-family: 'DejaVu Sans Mono';
    }
  }
}

.palette-logo-tool {
  margin-top: 20px;
}

.palette-image-preview {
  position: relative;
  margin-top: 20px;
  padding: 10px;
  border-radius: 6px;
}

.palette-image-position-dot {
  position: absolute;
  background: #fff;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  border: 1px solid #000;
}
