@import 'common';
@import 'mixins/picker';
@import 'mixins/dropdown';

// MultiCascader
// ----------------------

// Cascader Picker Name Space
@cspns: ~'@{ns}@{cascader-picker-prefix}';

.@{cspns} {
  &-menu .@{ns}picker-check-menu-item {
    padding-right: 26px; // 12px + 8px + 6px
  }

  &-menu-column&-menu-column-uncheckable {
    .@{ns}picker-check-menu-item {
      padding-left: @picker-item-content-padding-horizontal;
    }
  }
}
