@import 'common';
@import 'mixins/button';
@import 'mixins/pagination';

//
// Pagination (multiple pages)
// --------------------------------------------------
.@{ns}pagination {
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;

  > li {
    display: inline; // Remove list-style and block-level defaults

    &.@{ns}pagination-btn-active > a {
      .pagination-active(@pagination-active-color);
    }

    &:not(.@{ns}pagination-btn-disabled) > a {
      transition: @pagination-transition;
      .button-ripple;
    }

    > a {
      .btn-sm;
      .btn-transition;
      .btn-subtle-variant(@pagination-hover-bg);

      position: relative;
      float: left; // Collapse white-space
      text-decoration: none;
      cursor: pointer;
      transition: @pagination-transition;
      user-select: none;

      &:focus,
      &.focus,
      &:hover {
        color: @pagination-hover-color;
      }

      &:active {
        color: @pagination-hover-color;
        background-color: @pagination-active-bg;
        background-image: none;

        &:hover,
        &:focus,
        &.focus {
          color: @btn-subtle-active-default-color;
          background-color: @pagination-active-bg;
        }
      }
    }
  }

  & > &-btn-disabled {
    > a {
      &,
      &:hover,
      &:active,
      &:focus {
        opacity: 0.3;
        cursor: @cursor-disabled;
        background: transparent;
      }

      &:active {
        &:hover,
        &:focus,
        &.focus {
          opacity: 0.3;
          cursor: @cursor-disabled;
          background: transparent;
        }
      }
    }
  }

  // Pagination Sizes
  // --------------------------------------------------

  &-lg > li > a {
    .btn-lg;
  }

  &-md > li > a {
    .btn-md;
  }

  &-sm > li > a {
    .btn-sm;
  }

  &-xs > li > a {
    .btn-xs;
  }
}
