@import 'common';
@import "mixins/placeholder";

//
// Placeholder
// --------------------------------------------------

.@{ns}placeholder {
  display: flex;
  background-color: @placeholder-bg;

  &-paragraph {
    justify-content: flex-start;
    align-items: flex-start;

    &-graph-area {
      flex: 0 0 auto;
      margin-right: 20px;

      &-circle {
        border-radius: 50%;
        .placeholder-graph-base();
      }

      &-square {
        border-radius: 2px;
        .placeholder-graph-base();
      }
    }

    &-rows-area {
      width: 100%;
    }

    &-row-placeholder {
      .placeholder-active-animation();

      &:last-child {
        margin-bottom: 10px;
      }
    }
  }

  &-graph {
    display: inline-block;
    width: 100%;
    .placeholder-active-animation();
  }

  &-grid {
    &-col-placeholder {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      &:first-child {
        align-items: flex-start; //first col align left
      }
    }

    &-item-placeholder {
      .placeholder-active-animation();
    }
  }
}
