@import '../../styles/common.less';

//
// Modals
// Figma: https://www.figma.com/file/uEq9QBplcKUYZrcWWA3RK2/NXT-UI?node-id=0%3A1348&t=H5h3Dd3AnJVgbAbz-4
// --------------------------------------------------

// Container that the modal scrolls within
.rs-modal {
  --rs-modal-margin-top: 4rem;
  --rs-modal-title-font-size: var(--rs-font-size-lg);
  --rs-modal-title-line-height: var(--rs-text-line-height-lg);
  --rs-modal-body-padding: calc(var(--rs-spacing) * 5);
  --rs-modal-content-padding: calc(var(--rs-spacing) * 5);
  --rs-modal-btn-close-spacing: calc(var(--rs-spacing) * 5);
  --rs-modal-footer-gap: calc(var(--rs-spacing) * 2.5);
  --rs-modal-size-xs: @modal-xs;
  --rs-modal-size-sm: @modal-sm;
  --rs-modal-size-md: @modal-md;
  --rs-modal-size-lg: @modal-lg;

  display: none;
  overflow: visible;
  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;
  margin: var(--rs-modal-margin-top) auto 0 auto;
  position: relative;
  width: var(--rs-modal-size, auto);
  z-index: @zindex-modal;

  // Size variants
  @sizes: lg, md, sm, xs;

  each(@sizes, .(@size) {
    &&-@{size} {
      --rs-modal-size: var(~'--rs-modal-size-@{size}');
    }
  });

  &&-full {
    margin: 0;
    height: 100%;

    .rs-modal-dialog {
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 0;
      display: flex;
      flex-direction: column;

      .rs-modal-header {
        flex: 0 0 auto;
      }

      .rs-modal-body {
        flex: 1 1 auto;
        overflow: auto;
      }

      .rs-modal-footer {
        flex: 0 0 auto;
      }
    }
  }

  // Actual modal
  .rs-modal-dialog {
    position: relative;
    background-color: var(--rs-bg-overlay);
    border: var(--rs-modal-border, none);
    border-radius: @modal-border-radius;
    // Remove focus outline from opened modal
    outline: 0;
    box-shadow: var(--rs-modal-shadow);
    padding: var(--rs-modal-content-padding);
    overflow: auto;
  }

  // Modal header
  // Top section of the modal w/ title and dismiss
  .rs-modal-header {
    .clearfix();

    padding-right: @line-height-computed;

    .rs-modal-header-close {
      position: absolute;
      padding: 0;
      top: var(--rs-modal-btn-close-spacing);
      inset-inline-end: var(--rs-modal-btn-close-spacing);
    }
  }

  .rs-modal-title {
    font-weight: normal;
    font-size: var(--rs-modal-title-font-size);
    line-height: var(--rs-modal-title-line-height);
    width: 100%;
    display: block;
    color: var(--rs-text-heading);
    margin: 0;
    .ellipsis();
  }

  // Modal body
  // Where all modal content resides (sibling of .modal-header and .modal-footer)
  .rs-modal-body {
    position: relative;

    margin-top: var(--rs-modal-body-padding);
    // Make sure input error message don't overflow.
    padding-bottom: var(--rs-modal-body-padding);
  }

  // Footer (for actions)
  .rs-modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: var(--rs-modal-footer-gap);
  }
}

// Modal background
.rs-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: @zindex-modal - 1;
  background-color: var(--rs-bg-backdrop);

  // Fade for backdrop
  &.rs-anim-fade {
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }

  &.rs-anim-in {
    opacity: 1;
  }
}

// Kill the scroll on the body
.rs-modal-open {
  overflow: hidden;
}

.rs-modal-wrapper {
  position: fixed;
  overflow: auto;
  z-index: @zindex-modal;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rs-modal-shake .rs-modal-dialog {
  animation: 0.3s linear shakeHead;
}

// Measure scrollbar width for padding body during modal show/hide
.rs-modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
