@import 'variants';

// Button variants

.btn-variant-primary(spectrum; @color) {
  color: @btn-primary-color;
  background-color: .palette(@color, 5)[value];

  &:hover,
  &:focus {
    background-color: .palette(@color, 7)[value];
  }

  &:active,
  &.rs-btn-active {
    background-color: .palette(@color, 4)[value];
  }
}

.btn-subtle-variant(@hover-bg) {
  @active-bg: color(~`palette('@{hover-bg}', 400) `);
  .btn-variant-subtle(@hover-bg; @active-bg);
}

.btn-subtle-variant(spectrum; @color) {
  .btn-variant-subtle(
    @hover-bg: .palette(@color, 5)[value];
    @active-bg: .palette(@color, 4)[value];
  );
}

.btn-variant-ghost(@color) {
  .btn-variant-ghost(
    @text-color: @color;
    @hover-text-color: color(~`palette('@{color}', 400) `);
    @active-text-color: color(~`palette('@{color}', 200) `);
  );
}

.btn-variant-ghost(spectrum; @color) {
  .btn-variant-ghost(
    @text-color: .palette(@color, 7)[value];
    @hover-text-color: .palette(@color, 4)[value];
    @active-text-color: .palette(@color, 2)[value];
  );
}

.btn-variant-link(spectrum, @color) {
  .btn-variant-link(
    @text-color: .palette(@color, 7)[value];
    @hover-text-color: .palette(@color, 4)[value];
    @active-text-color: .palette(@color, 2)[value]
  );
}
