@import '../../styles/common';
@import '../../Input/styles/index';
@import '../../InputGroup/styles/index';
@import 'mixin';

.rs-input-number {
  --rs-number-input-touchspin-font-size: var(--rs-font-size-xs);
  --rs-number-input-touchspin-height-xs: calc(calc(@input-height-extra-small - 2px) / 2);
  --rs-number-input-touchspin-height-sm: calc(calc(@input-height-small - 2px) / 2);
  --rs-number-input-touchspin-height-md: calc(calc(@input-height-base - 2px) / 2);
  --rs-number-input-touchspin-height-lg: calc(calc(@input-height-large - 2px) / 2);

  background-color: var(--rs-input-bg);

  @sizes: xs, sm, md, lg;
  each(@sizes, .(@size) {
    &.rs-input-group-@{size} {
      --rs-number-input-touchspin-height: var(~'--rs-number-input-touchspin-height-@{size}');
    }
  });

  &-btn-group-vertical {
    position: relative;
    width: 20px;
    flex: 0 0 20px;
    display: block;

    & > .rs-btn {
      display: block;
      float: none;
      width: 100%;
      max-width: 100%;
      position: relative;
      border: none;
    }
  }

  .rs-input-number-touchspin-up,
  .rs-input-number-touchspin-down {
    position: relative;
     border-radius: var(--rs-radius-none);
    padding: 0;
    box-shadow: none !important;
    height: var(--rs-number-input-touchspin-height);

    > .rs-icon {
      width: 100%;
      font-size: var(--rs-number-input-touchspin-font-size);
      color: var(--rs-text-secondary);
      height: var(--rs-number-input-touchspin-height);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  // Reset Input Number styling
  // Reference https://stackoverflow.com/questions/26024771/styling-a-input-type-number#answer-40189766
  input[type='number'] {
    appearance: textfield;

    &::-webkit-inner-spin-button {
      /* stylelint-disable */
      -webkit-appearance: none;
    }
  }
}
