@import '../../styles/common';
@import 'mixin';

// Form

.@{ns}form-inline {
  > *,
  > .@{ns}btn {
    margin-right: 20px;
    margin-bottom: 24px;
    vertical-align: top;
  }

  .@{ns}form-control-label {
    vertical-align: top;
    margin-bottom: auto;
    margin-right: @form-control-label-margin-right;
    margin-top: @padding-base-vertical;
    display: inline-block;
  }
}
