@import '../../styles/common.less';

// Form

.rs-form {
  --rs-form-direction: column;
  --rs-form-spacing: calc(var(--rs-spacing) * 4);
  --rs-form-group-spacing: var(--rs-spacing);
  --rs-form-group-direction: column;

  display: flex;
  flex-direction: var(--rs-form-direction);
  gap: var(--rs-form-spacing);
  align-items: flex-start;
}

.rs-form-inline {
  --rs-form-direction: row;
}
