# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches:
      - master
      - next
      - v4
      - 'ci/**'
  pull_request:
    branches:
      - master
      - next
      - v4

jobs:
  test:
    name: 'Test'

    runs-on: ubuntu-latest

    continue-on-error: true

    strategy:
      max-parallel: 1
      matrix:
        browser: ['bs_win_ie11', 'bs_win_edge', 'bs_mac_chrome', 'bs_mac_firefox', 'bs_mac_safari']

    steps:
      - name: 'BrowserStack Env Setup' # Invokes the setup-env action
        uses: browserstack/github-actions/setup-env@master
        with:
          username: ${{ secrets.BS_USERNAME }}
          access-key: ${{ secrets.BS_ACCESS_KEY }}

      - uses: actions/checkout@v2

      - name: Setup kernel, increase watchers
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p

      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: Cache Node.js modules
        uses: actions/cache@v1
        with:
          path: ~/.npm # npm cache files are stored in `~/.npm` on Linux/macOS
          key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-
      - name: Install dependencies
        run: npm ci
      - name: Run headless tests
        run: npm test
        env:
          CI: true
          KARMA_BROWSER: ${{ matrix.browser }}
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          flags: ${{ matrix.browser }}
